<script>
import ErrorHandler from '~~/components/ErrorHandler'

export default {
  components: {
    ErrorHandler
  },
  async asyncData ({ store }) {
    const { status, data: models } = await store.dispatch('admin/fetchContentModels')

    return {
      status,
      models
    }
  },
  computed: {
    sortedModelKeys () {
      return Object.keys(this.models).filter(k => {
        return !(this.models[k].hidden || false)
      }).sort()
    }
  }
}
</script>

<template>
  <SDBox 
    class="page-content-list" 
    embeded
  >
    <template v-if="status === 200">
      <SDBox
        slot="aside"
        class="page-content__model-list"
        embeded
      >
        <ul class="list list--striped">
          <li
            v-for="key in sortedModelKeys"
            :key="key">
            <nuxt-link 
              class="list__item list__item--link"
              :to="`/admin/content/list/${key}`"
            >
              <h4>{{ key }}</h4>
              <span v-if="models[key].comment">{{ models[key].comment }}</span>
            </nuxt-link>
          </li>
        </ul>
      </SDBox>

      <nuxt-child/>
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-content-list {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.page-content__model-list {
  width: 15rem;
  height: 100%;

  .list {
    .list__item {
      padding: 1rem;
      height: auto;
      min-height: var(--size-m);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      span {
        font-size: .75rem;
        opacity: .4;
        margin-top: .25rem;
      }
    }
  }
}
</style>