<script>
import { mapGetters } from 'vuex'
import OSS from 'ali-oss'
import path from 'path'

import mixin from './mixin.js'
import utils from '~~/assets/scripts/utils'

export default {
  mixins: [
    mixin
  ],
  data: () => ({
    error: '',
    isDragging: false,
    client: null,
    progress: -1,
    checkpoint: null,
    uploadedUrl: ''
  }),
  computed: {
    ...mapGetters({ hasExpired: 'oss_file/hasExpired' }),
    hasId () {
      return this.value && '_id' in this.value
    },
    displayImageSrc () {
      if (this.uploadedUrl) {
        return this.uploadedUrl
      } else if (this.value && 'url' in this.value) {
        return this.value.url
      } else {
        return ''
      }
    },
    imgPath () {
      const d = new Date()
      return `${this.$store.state.admin.siteInfo.hostname}/${this.entityName}/${d.getFullYear()}${d.getMonth() < 10 ? '0' : ''}${d.getMonth()}`
    },
    isImage () {
      return /^image/.test(this.inputValue.mimetype)
    },
    isVideo () {
      return /^video/.test(this.inputValue.mimetype)
    },
    isAudio () {
      return /^audio/.test(this.inputValue.mimetype)
    },
    fileSize () {
      return utils.getReadableSize(this.inputValue.size)
    }
  },
  methods: {
    async fuckAss () {
       await this.$store.dispatch('oss_file/fuckAss')
    },
    async onDragenter () {
      console.log('dragenter')
      this.isDragging = true
      if (this.hasExpired()) {
        await this.fuckAss()
      }
    },
    onDragleave () {
      console.log('dragleave')
      this.isDragging = false
    },
    onDragover () {
      console.log('dragover', this.isDragging)
    },
    onDrop (ev) {
      ev.stopPropagation()
      ev.preventDefault()
      console.log('drop')
      this.isDragging = false
      const files = ev.dataTransfer.files

      if (this.progress === -1 && files && files.length > 0) {
        const file = files[0]

        this.uploadFile(file)
      }
    },
    onFileChange(e) {
      console.log(e)
      const file = e.target.files[0]
      console.log(file)

      this.uploadFile(file)

    },
    async uploadFile (file) {
      this.client = new OSS.Wrapper({
        endpoint: this.$store.state.oss_file.endpoint,
        bucket: this.$store.state.oss_file.bucket,
        accessKeyId: this.$store.state.oss_file.AccessKeyId,
        accessKeySecret: this.$store.state.oss_file.AccessKeySecret,
        stsToken: this.$store.state.oss_file.SecurityToken,
      })

      try {
        this.$refs.image.addEventListener('load', (ev) => {
          this.onImageLoaded(ev)
        })
        this.uploadedUrl = await (new Promise((resolve, reject) => {
          const ext = path.extname(file.name)
          const name = path.basename(file.name, ext)
          const fname = path.join(this.imgPath, `${name}.${String(Date.now())}${ext}`)
          this.client.multipartUpload(fname, file, {
            progress: this.progressing,
            partSize: 100 * 1024,
            checkpoint: this.checkpoint ? this.checkpoint : undefined
          }).then(({ res }) => {

            if (res.status === 200) {
              this.checkpoint = null
              this.client = null
              resolve(res.requestUrls[0].split('?')[0])
            }
          }).catch(err => {
            if (this.client && this.client.isCancel()) {
              console.error('stop upload')
              resolve()
            } else {
              console.error(err)
              reject()
            }
          })
        }))
      } catch (e) {
        console.error(e)
        this.progress = -1
        this.error = `Upload Faile, ${e}`
      }
    },
    progressing (p, checkpoint) {
      return (done) => {
        this.checkpoint = checkpoint
        this.progress = Math.floor(p * 99)
        done()
      }
    },
    async saveEntity () {
      return await this.$store.dispatch('admin/saveContent', {
        name: 'oss_file',
        id: this.hasId ? this.value._id : null,
        entity: {
          url: this.uploadedUrl
        }
      })
    },
    async onImageLoaded (ev) {
      console.log(ev)
      console.log(this.$refs.image.naturalWidth, this.$refs.image.naturalHeight)
      this.progress = 100

      const { status, data } = await this.saveEntity()

      if (status === 200 && data._id) {
        this.$emit('input', Object.assign(data, { 
          dimension : {
            width: this.$refs.image.naturalWidth, 
            height: this.$refs.image.naturalHeight
          }
        }))
        this.error = ''
        this.progress = -1
      }
    },
    async confirmDelete () {
      const confirm = await this.$refs.box.confirm({
        title: 'Irrevocable Action',
        message: `Delete file <strong>${this.value.name}</strong>?`,
        actions: {
          confirm: {
            title: 'Delete',
            context: 'negative'
          }
        }
      })

      console.log('confirm', confirm)

      if (confirm) {
        let k = this.value.osskey || this.value.url.replace(/^http[s]*\:\/\//, '').split('/').slice(1).join('/')

        const { res } = await this.deleteOssFile(k)

        if (res.status === 200 || res.status === 204) {
          return true
        } else {
          // window.alert('Ali OSS Opration error')
          await this.$refs.box.alert({
            title: 'Ali OSS Opration error'
          })
        }
      }

      return false
    },
    currentVideoTime () {
      if (this.isVideo) {
        console.dir(this.$refs.video.currentTime)
        return this.$refs.video.currentTime
      }
    },
    setPoster () {
      const t = Math.ceil(1000 * this.currentVideoTime())
      console.log(t)
      if (this.isVideo) {
        const posterUrl = `${this.value.url}?x-oss-process=video/snapshot,t_${t},f_jpg`
        this.$set(this.inputValue, 'poster', posterUrl)
      }
    },
    onVideoLoaded () {
      if (!('dimension' in this.value)) {
        const dimension = {
          width: this.$refs.video.videoWidth,
          height: this.$refs.video.videoHeight
        }

        this.$set(this.inputValue, 'dimension', dimension)
      }
    }
  },
  async mounted () {
    if (!this.value || !('url' in this.value) || this.value.url.length === 0 || this.hasExpired()) {
      await this.fuckAss()
    }
  }
}
</script>

<template>
  <SDBox 
    ref="box"
    :class="editorClass"
    class="editor-oss-file"
    embeded
  >
    <SDBar
      slot="header"
      class="editor-oss-file__header"
    >
      <div slot="left">
        <slot name="header-left"></slot>
      </div>
      <h5>{{inputValue.name}}</h5>


      <button
        v-if="isVideo"
        slot="right"
        class="btn btn--bar"
        @click="setPoster"
      >
        <h6>Set Poster</h6>
      </button>
      <div 
        v-if="inputValue"
        slot="right"
        class="editor-oss-file__info"
      >
        <button 
          slot="door"
          class="btn btn--bar"
        >
          <h6>Info</h6>
        </button>
        <div class="editor-oss-file__info-content">
          <template
            v-if="isVideo && value.poster"
          >
            <h6>Poster:</h6>
            <img :src="value.poster">
            <hr>
          </template>
          <template
            v-if="'dimension' in inputValue"
          >
            <h6>Dimension:</h6>
            <p>{{inputValue.dimension.width}}px × {{inputValue.dimension.height}}px</p>
            <hr>
          </template>
          <h6>Size:</h6>
          <p>{{fileSize}}</p>
          <hr>
          <h6>Type:</h6>
          <p>{{inputValue.mimetype}}</p>
          <hr>
          <h6>Url:</h6>
          <p>{{inputValue.url}}</p>
        </div>
      </div>
          
    </SDBar>

    <div 
      v-bem:editor-oss-file.previewer="{
        image: isImage
      }"
    >
      <img 
        v-if="isImage"
        ref="image"
        :src="inputValue.url"
        :width="inputValue.dimension.width"
        :height="inputValue.dimension.height"
      >
      <video
        v-else-if="isVideo"
        ref="video"
        controls
        @canplay="onVideoLoaded"
        :poster="value.poster"
      >
        <source :src="inputValue.url" :type="inputValue.mimetype">
      </video>
      <audio
        v-else-if="isAudio"
        ref="audio"
        controls
      >
        <source :src="inputValue.url" :type="inputValue.mimetype">
      </audio>
      <h4 v-else>Preview unsupported for this type of file</h4>
      
    </div>

    <!-- <div 
      class="editor-oss-file__hint"
      :class="{
        'editor-oss-file__hint--show': !displayImageSrc
      }"
    >
      <h6>Drag file or click&nbsp;</h6>
      <button
        class="btn btn--positive btn--s"
        @click="$refs.file.click()"
      >
        <h6>Upload</h6>
      </button> 
      <h6>&nbsp;to upload file</h6>
    </div> -->

    <!-- <input 
      ref="file"
      class="editor-oss-file__file-handler" 
      type="file" 
      name="" 
      @change="onFileChange"
    >

    <div 
      v-if="isDragging || progress >= 0 || error.length > 0"
      class="editor-oss-file__drop-handler"
      @drop.stop.prevent="onDrop"
      @dragleave.stop.prevent="onDragleave"
    >
      <h3 v-if="isDragging">Drop here to upload</h3>
      <h3 v-if="progress > 0">Uploading... {{progress}}%</h3>
      <h3 v-if="error.length > 0">{{error}}</h3>
    </div> -->
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.editor-oss-file {
  position: relative;
  width: 100%;
  max-height: 100%;
  min-height: 15rem;
  min-width: 15rem;
  background: var(--gradient-gray);
  /* display: flex; */

  &__header {
    background-color: white;
  }

  &__previewer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: calc(100vh - 10rem);
      width: auto;
      height: auto;
    }

    video {
      background-color: black;
      width: 100%;
      height: 100%;
    }

    audio {
      /* width: 100%; */
      /* height: 100%; */
    }

    &--image {
      overflow: hidden;
      background-color: #f0f0f0;

      img {
        z-index: var(--base);
      }

      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300vw;
        height: 300vh;
        background: linear-gradient(-45deg, white 24%, 
                                            rgba(0,0,255,.0) 25%, 
                                            rgba(0,0,255,.0) 74%, 
                                            white 75%),
                    linear-gradient(45deg, white 24%, 
                                           black 25%, 
                                           black 74%, 
                                           white 75%);
        background-size: .75rem .75rem;
        z-index: var(--bg);
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: .1;
      }
    }
  }

  &__info {
    position: relative;

    &-content {
      visibility: hidden;
      position: absolute;
      top: 3rem;
      right: 0;
      background-color: white;
      padding: 1rem;
      width: 15rem;
      z-index: var(--menu);
      box-shadow: var(--shadow-menu);

      h6 {
        opacity: .3;
      }

      p {
        font-size: .875rem;
        word-break: break-all;
      }

      img {
        max-width: 100%;
      }

      hr {
        margin: 1rem 0;
        border: none;
        border-top: 1px solid var(--color-border);
      }
    }

    &:hover {
      .editor-oss-file__info-content {
        visibility: visible;
      }
    }
  }

  &__hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255,255,255,.5);

    &--show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__file-handler {
    display: none;
  }

  &__drop-handler {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;

    h3 {
      color: white;
    }
  }

  &__img-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    font-size: .75rem;
    background-color: rgba(255,255,255,.5);
  }

  &:hover {
    .editor-oss-file__hint {
      opacity: 1;
      visibility: visible;
    }
  }
}
</style>