<script>
export default {
  computed: {
    itemStyle () {
      let style = {
        backgroundImage: `url(${this.entity.url})`
      }

      if (this.entity.dimension && this.entity.dimension.width && this.entity.dimension.height) {
        style['paddingBottom'] = `${this.entity.dimension.height / this.entity.dimension.width * 100}%`
      }

      return style
    },
    lastMod () {
      const t = this.entity.meta.modifications[this.entity.meta.modifications.length - 1].time

      return new Date(t)
    },
    isImage () {
      return /^image/.test(this.entity.mimetype)
    },
    isVideo () {
      return /^video/.test(this.entity.mimetype)
    },
    isAudio () {
      return /^audio/.test(this.entity.mimetype)
    },
    hasPoster () {
      return this.isVideo && 'poster' in this.entity && this.entity.poster.length > 0
    }
  }
}
</script>

<template>
  <div
    class="oss-file-item"
    :class="entityItemClass"
    @click="selectSelf"
  >
    <template v-if="entity.folder">
      <svg class="oss-file-item__icon" width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="icons-folder" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="icon-folder" transform="translate(0.000000, 0.000000)" fill="#22C">
            <path d="M112,128 L112,64 L176,64 L176,0 L368,0 L464,96 L464,384 L400,384 L400,448 L336,448 L336,512 L48,512 L48,128 L112,128 Z M336,424 L376,424 L376,169.9 L294.1,88 L136,88 L136,128 L240,128 L336,224 L336,424 Z M400,360 L440,360 L440,105.9 L358.1,24 L200,24 L200,64 L304,64 L400,160 L400,360 Z M312,488 L312,233.9 L230.1,152 L72,152 L72,488 L312,488 Z" id="Combined-Shape-folder"></path>
          </g>
        </g>
      </svg>

      <h6>{{entity.name}}</h6>
    </template>

    <template v-else>
      <img
        v-if="isImage"
        :src="`${entity.url}?x-oss-process=image/resize,w_600`"
      >
      <template v-else-if="isVideo">
        <img
          v-if="hasPoster"
          :src="entity.poster"
        >
        <svg
          v-bem:oss-file-item.icon="{
            sub: hasPoster
          }"
          width="512px" 
          height="512px" 
          viewBox="0 0 512 512" 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icons-video" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icon-video" transform="translate(0.000000, 0.000000)" fill="#22C">
              <path d="M112,64 L304,64 L400,160 L400,448 L112,448 L112,64 Z M376,424 L376,169.9 L294.1,88 L136,88 L136,424 L376,424 Z M236.8,217.6 L279.466667,249.6 C283.001289,252.250967 283.717633,257.265378 281.066667,260.8 C280.611833,261.406445 280.073112,261.945166 279.466667,262.4 L236.8,294.4 C233.265378,297.050967 228.250967,296.334622 225.6,292.8 C224.561423,291.415231 224,289.730962 224,288 L224,224 C224,219.581722 227.581722,216 232,216 C233.730962,216 235.415231,216.561423 236.8,217.6 Z" id="Combined-Shape-video"></path>
            </g>
          </g>
        </svg>
      </template>

      <template v-else-if="isAudio">
        
        <svg class="oss-file-item__icon" width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icons-audio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icon-audio" transform="translate(0.000000, 0.000000)" fill="#22C">
              <path d="M112,64 L304,64 L400,160 L400,448 L112,448 L112,64 Z M376,424 L376,169.9 L294.1,88 L136,88 L136,424 L376,424 Z M256,224 C260.418278,224 264,227.581722 264,232 L264,280 C264,284.418278 260.418278,288 256,288 C251.581722,288 248,284.418278 248,280 L248,232 C248,227.581722 251.581722,224 256,224 Z M232,210 C236.418278,210 240,213.581722 240,218 L240,294 C240,298.418278 236.418278,302 232,302 C227.581722,302 224,298.418278 224,294 L224,218 C224,213.581722 227.581722,210 232,210 Z M208,244 C212.418278,244 216,247.581722 216,252 L216,260 C216,264.418278 212.418278,268 208,268 C203.581722,268 200,264.418278 200,260 L200,252 C200,247.581722 203.581722,244 208,244 Z M184,240 C188.418278,240 192,243.581722 192,248 L192,264 C192,268.418278 188.418278,272 184,272 C179.581722,272 176,268.418278 176,264 L176,248 C176,243.581722 179.581722,240 184,240 Z M160,248 C164.418278,248 168,251.581722 168,256 C168,260.418278 164.418278,264 160,264 C155.581722,264 152,260.418278 152,256 C152,251.581722 155.581722,248 160,248 Z M280,244 C284.418278,244 288,247.581722 288,252 L288,260 C288,264.418278 284.418278,268 280,268 C275.581722,268 272,264.418278 272,260 L272,252 C272,247.581722 275.581722,244 280,244 Z M304,238 C308.418278,238 312,241.581722 312,246 L312,266 C312,270.418278 308.418278,274 304,274 C299.581722,274 296,270.418278 296,266 L296,246 C296,241.581722 299.581722,238 304,238 Z M328,244 C332.418278,244 336,247.581722 336,252 L336,260 C336,264.418278 332.418278,268 328,268 C323.581722,268 320,264.418278 320,260 L320,252 C320,247.581722 323.581722,244 328,244 Z M352,248 C356.418278,248 360,251.581722 360,256 C360,260.418278 356.418278,264 352,264 C347.581722,264 344,260.418278 344,256 C344,251.581722 347.581722,248 352,248 Z" id="Combined-Shape-audio"></path>
            </g>
          </g>
        </svg>
      </template>

      <template v-else>
        <svg class="oss-file-item__icon" width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icons-file" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icon-file" transform="translate(0.000000, 0.000000)" fill="#22C">
              <path d="M112,64 L304,64 L400,160 L400,448 L112,448 L112,64 Z M376,424 L376,169.9 L294.1,88 L136,88 L136,424 L376,424 Z" id="Combined-Shape-file"></path>
            </g>
          </g>
        </svg>
      </template>

      <div v-bem:oss-file-item.info="{
        show: !(isImage || (isVideo && hasPoster))
      }">
        <p 
          v-if="'dimension' in entity"
        >{{entity.dimension.width}}px * {{entity.dimension.height}}px</p>
        <p>{{entity.name}}</p>
      </div>

      <input 
        v-if="fnPick"
        v-bem:oss-file-item.select-indicator
        type="checkbox" 
        v-model="selected"
      >
    </template>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.oss-file-item {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 50rem;
  /*padding-bottom: 100%;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafa;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3px;

  .oss-file-item__icon {
    width: 50%;
    height: 50%;
    margin-bottom: 1rem;

    &--sub {
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: .5rem;
      bottom: .5rem;
      margin: 0;
      z-index: var(--base);
    }
  }

  p {
    font-size: .75rem;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    /*margin: auto;*/
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem 0;
    background-color: rgba(255,255,255,.95);
    font-size: .75rem;
    word-break: break-all;
    opacity: 0;
    padding: .5rem;

    &--show {
      opacity: 1;
    }
  }

  &:hover {
    .oss-file-item__info {
      opacity: 1;
    }
  }

  &__select-indicator {
    position: absolute;
    top: .5rem;
    left: .5rem;
  }

  &.entity-item--selected {
    /*border-color: var(--color-highlight);*/
    /*box-shadow: 0 0 0 1px var(--color-highlight) inset, 1px 1px 0 1px var(--color-highlight);*/
  }
}
</style>