<script>
import path from 'path'
import OSS from 'ali-oss'
import { mapGetters } from 'vuex'
import Item from './item.vue'
import UploadingPanel from './uploadingPanel.vue'

import mixin from './mixin.js'

const delimiter = '/'

export default {
  mixins: [
    mixin
  ],
  components: {
    Item, UploadingPanel
  },
  data: () => ({
    // query: {},
    showUploadingPanel: false,
    zoomMax: 3,
    zoomSize: 2,
    showOrderMenu: false
  }),
  computed: {
    ...mapGetters({
      hasExpired: 'oss_file/hasExpired'
    }),
    currentPath () {
      const query = this.query
      if (query) {
        const p = (query.path && query.path.length > 0) ? query.path : delimiter

        return p
      }

      return delimiter
    },
    parentPathes () {
      if (this.currentPath === delimiter) {
        return null
      } else {
        return this.currentPath.split(delimiter).reduce((result, p, i, arr) => {
          result[i] = {
            name: i === 0 ? 'root' : p,
            path: arr.slice(0, i + 1).join(delimiter) || delimiter
          }

          return result
          // return arr.concat([{ name: p, path: arr.map(i => i.path).join('/') }])
        }, [])
      }
    },
    folders () {
      return this.list.filter(item => item.folder)
    }
  },
  watch: {
    query: {
      deep: true,
      handler (v, ov) {
        this.$emit('query', v)
      }
    }
  },
  methods: {
    onToggleLastModMethod () {
      this.orderMethod = [this.orderMethod[0], 0 - this.orderMethod[1]]
    },
    onDragEnter () {
      console.log('dragenter')
      if (this.fnAdd) {
        this.showUploadingPanel = this.fnAdd
      } else if (this.fnResort) {
        this.reSortContext.toIdx = this.list.length - 1
      }
    },
    onUploadFinish () {
      console.log('dragleave')
      this.showUploadingPanel = false
    },
    onUploadCompleted (entity) {
      if (entity) {
        this.onAddChild(entity)
      }
    },
    onAddFolder () {
      // let name = window.prompt('Folder Name:')

      do {
        name = window.prompt('Folder Name:')
      } while (name !== null && name.length === 0 || /[\'\"\;\:\`\’\‘\”\“]/.test(name)) 

      if (name !== null && name !== 'null' && name !== undefined && name !== 'undefined') {
        this.onAddChild({
          name: name,
          folder: true,
          path: this.currentPath,
          url: `/r/oss_file?path=${path.join(this.currentPath, name)}`
        })
      }
    },
    onFolderSelect (item) {
      // if (this.fnPick) {
      this.selfQuery({
        path: path.join(this.currentPath, item.name)
      })
      // } else {
      //   this.onQueryUpdate({
      //     path: path.join(this.currentPath, item.name)
      //   })
      // }
    },
    goUp () {
      let path = this.currentPath.split(delimiter).slice(0, -1).join(delimiter) || delimiter

      // if (this.fnPick) {
      this.selfQuery({ path })
      // } else {
        // this.onQueryUpdate({ path })
      // }
    },
    selfQuery (query) {
      // this.$set(this, 'query', query)
      this.onQueryUpdate(query)
    },
    async onDelete (item) {
      if (this.fnDelete) {
        if (this.fnPick) {
          this.onChildDelete(item)
        } else if (item.folder) {
          const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', { name: 'oss_file', query: { path: path.join(item.path, item.name) } })

          if (status === 200 && data.length > 0) {
            // window.alert(`Cannot delete this folder, because ${data.length} file${data.length > 1 ? 's' : ''} inside`)
            await this.$refs.box.alert({
              title: 'Cannot delete this folder',
              message: `${data.length} ${data.length > 1 ? 'entities' : 'entity'} inside.`,
              actions: {
                confirm: {
                  title: 'yes'
                }
              }
            })
          } else {
            const confirm = await this.$refs.box.confirm({
              title: 'Irrevocable Action',
              message: `Delete folder <strong>${item.name}</strong>?`,
              actions: {
                confirm: {
                  title: 'Delete',
                  context: 'negative'
                }
              }
            })

            if (confirm) {
              this.onChildDelete(item)
            }
          }
        } else {
          const confirm = await this.$refs.box.confirm({
            title: 'Irrevocable Action',
            message: `Delete file <strong>${item.name}</strong>?`,
            actions: {
              confirm: {
                title: 'Delete',
                context: 'negative'
              }
            }
          })

          if (confirm) {
            let k = item.fname || item.url.replace(/^http[s]*\:\/\//, '').split('/').slice(1).join('/')
            const { res } = await this.deleteOssFile(k)
            console.log(res)

            if (res.status === 200 || res.status === 204) {
              this.onChildDelete(item)
            }
          }
        }
      }
    },
    openFileHandler () {
      this.showUploadingPanel = true
      // this.$nextTick(() => {
      this.$refs.uploadingPanel.openFileInput()
        // console.log(this.$el.querySelector('.editor-oss-file__file-handler'))
        // this.$el.querySelector('.editor-oss-file__file-handler').click()
      // })
    },
    onItemDragStart (ev, item, idx) {
      console.log('onItemDragStart', item, idx)
      if (this.fnResort) {
        ev.stopPropagation()
        this.reSortContext.item = item,
        this.reSortContext.fromIdx = idx
      }
    },
    onItemDragEnter (ev, idx) {
      console.log('onItemDragEnter', idx)
      if (this.fnResort) {
        ev.stopPropagation()
        this.reSortContext.toIdx = idx
      }
    },
    onItemDragEnd () {
      console.log('onItemDragEnd', this.reSortContext)
      this.onResort()
    }
  },
  mounted () {
    // console.log('beforeListMount', this.$route.query)
    // this.query = this.$route.query

    // if (!('path' in query)) {
    //   this.onQueryUpdate({
    //     path: '/'
    //   })
    // }
    console.log(this.$refs)

    const w = this.$el.offsetWidth
    if (w < 1000) {
      this.zoomSize = 3
    } else if (w > 2000) {
      this.zoomSize = 1
    }
  }
}
</script>

<template>
  <SDBox
    ref="box"
    class="oss-file-list"
    embeded
    @dragenter.native.stop.prevent="onDragEnter"
  >
    <SDBar
      v-if="fnAdd"
      slot="header"
      class="oss-file-list__header"
    >
      <!-- <button
        v-if="currentPath.length > 1"
        slot="left"
        class="btn btn--bar"
        @click="goUp"
      ><h4>↑</h4></button> -->

      <template v-if="currentPath.length > 1">
        <template v-for="(path, idx) in parentPathes">
          <span 
            v-if="idx > 0"
            slot="left" 
            :key="path.name"
          >&gt;</span>
          <h6 
            v-if="idx === parentPathes.length - 1"
            slot="left"
            :key="path.name + idx"
            class="oss-file-list__current-folder"
          >{{ path.name }}</h6>
          <button 
            v-else
            :key="path.name + idx"
            slot="left"
            class="btn btn--bar"
            @click="selfQuery({ path: path.path })"
          >
            <h6>{{ path.name }}</h6>
          </button>
        </template>
      </template>
      <h6 slot="left">
        <span v-if="folders.length > 0">{{ folders.length }} folder{{ folders.length > 1 ? 's' : ''}}</span>
        <span v-if="list.length > folders.length && folders.length > 0">, </span>
        <span v-if="list.length > folders.length">{{ list.length - folders.length }} file{{ list.length - folders.length > 1 ? 's' : ''}}</span>
      </h6>

      <button 
        slot="right"
        class="btn btn--bar btn--m"
        @click="onAddFolder"
      >
        <h5>+ Folder</h5>
      </button>
      <button 
        slot="right"
        class="btn btn--bar btn--m"
        @click="openFileHandler"
      >
        <h5>↑ Upload</h5>
        <!-- <input ref="file" type="file" name=""> -->
      </button>
    </SDBar>

    <div
      v-bem:oss-file-list.content
    >
      <ul 
        class="flow"
      >
        <li
          v-for="(item, idx) in pagedList"
          :key="item._id"
          v-bem:oss-file-list.listitem="{
            draggable: fnResort,
            dragging: reSortContext.fromIdx === idx,
            tobefore: reSortContext.toIdx === idx && idx < reSortContext.fromIdx,
            toafter: reSortContext.toIdx === idx && idx > reSortContext.fromIdx,
            l: zoomSize === 3,
            m: zoomSize === 2,
            s: zoomSize === 1
          }"
          @dragstart="onItemDragStart($event, item, idx)"
          @dragenter="onItemDragEnter($event, idx)"
          @dragend="onItemDragEnd"
          :draggable="fnResort"
        >
          <Item
            :entity="item"
            :fn-pick="fnPick"
            :selected="selectedIds.indexOf(item._id) !== -1"
            @select="item.folder ? onFolderSelect(item) : onChildSelect(item)"
          ></Item>
          <button
            v-if="fnDelete"
            v-bem:oss-file-list.del-item
            class="btn btn--negative btn--xs"
            @click="onDelete(item)"
          >✕</button>
        </li>

        <li 
          v-if="$slots.default"
          v-bem:oss-file-list.listitem="{
            l: zoomSize === 3,
            m: zoomSize === 2,
            s: zoomSize === 1
          }"
          key="new"
        >
          <div class="oss-file-item entity-item">
            <slot></slot>
          </div>
        </li>
      </ul>
    </div>

    <SDBar
      v-if="fnPage"
      slot="footer"
      class="oss-file-list__footer"
    >
      <button
        slot="right"
        v-bem:btn="{
          bar: true
        }"
        @click="$_zoomIn"
        :disabled="zoomSize === 3"
      >
        <h6>+</h6>
      </button>
      <button
        slot="right"
        v-bem:btn="{
          bar: true
        }"
        @click="$_zoomOut"
        :disabled="zoomSize === 1"
      >
        <h6>-</h6>
      </button>

      <label slot="left" class="sd-bar__row">
        <h6>Order By<br>Modification:</h6>
        <button 
          class="btn btn--bar"
          @click="onToggleLastModMethod"
        >
          <h5>{{ orderMethod[1] === 1 ? '↓' : '↑' }}</h5>
        </button>
      </label>

      <!-- <SDSelector 
        slot="left"
        :options="[
          {
            name: 'creation',
            dir: 1
          },
          {
            name: 'creation',
            dir: -1
          },
          {
            name: 'last modification',
            dir: 1
          },
          {
            name: 'last modification',
            dir: -1
          },
          {
            name: 'name alphabet',
            key: 'name',
            dir: 1,
          },
          {
            name: 'name alphabet',
            key: 'name',
            dir: -1,
          },
          {
            name: 'file size',
            key: 'name',
            dir: 1,
          },
          {
            name: 'file size',
            key: 'name',
            dir: -1,
          }
        ]"
        :default-selected="2"
        anchor="bottom"
      >
        <SDOption slot-scope="{ option }">
          <label class="sd-bar">
            <h6>{{option.name}}</h6>
            <button
              class="btn btn--bar"
            >
              <h5>{{ option.dir === 1 ? '↓' : '↑' }}</h5>
            </button>
          </label>
        </SDOption>
      </SDSelector> -->

      <!-- <SDCarbinet 
        slot="left"
        class="oss-file-list__order-menu"
        :open="showOrderMenu"
      >
        <button 
          slot="door"
          slot-scope="{ toggler }"
          class="btn btn--bar btn--block"
          @click="showOrderMenu = !showOrderMenu"
        >
          <h6>Order By</h6>
        </button>
        <ul class="list oss-file-list__order-option-list">
          <li>
            <SDBar justify="between">
              <h6>Creation</h6>
              <SDBar justify="right">
                <button class="btn btn--bar">
                  <h5>↓</h5>
                </button>
                <button class="btn btn--bar">
                  <h5>↑</h5>
                </button>
              </SDBar>
            </SDBar>
          </li>
          <li>
            <SDBar justify="between">
              <h6>Modification</h6>
              <SDBar justify="right">
                <button class="btn btn--bar">
                  <h5>↓</h5>
                </button>
                <button class="btn btn--bar">
                  <h5>↑</h5>
                </button>
              </SDBar>
            </SDBar>
          </li>
          <li>
            <SDBar justify="between">
              <h6>Name Alphabet</h6>
              <SDBar justify="right">
                <button class="btn btn--bar">
                  <h5>↓</h5>
                </button>
                <button class="btn btn--bar">
                  <h5>↑</h5>
                </button>
              </SDBar>
            </SDBar>
          </li>
        </ul>
      </SDCarbinet> -->

      <button
        class="btn btn--bar"
        :disabled="currentPageIdx === 0"
        @click="currentPageIdx -= 1"
      >
        <h6>&lt;</h6>
      </button>

      <button
        v-for="i in pageCount"
        :key="i"
        v-bem:btn="{
          bar: true,
          gray: i !== currentPageIdx + 1
        }"
        @click="currentPageIdx = i - 1"
      >
        <h6>{{i}}</h6>
      </button>

      <button
        class="btn btn--bar"
        :disabled="currentPageIdx === pageCount - 1"
        @click="currentPageIdx += 1"
      >
        <h6>&gt;</h6>
      </button>
    </SDBar>

    <UploadingPanel
      v-show="fnAdd && showUploadingPanel"
      ref="uploadingPanel"
      v-bem:oss-file-list.uploading
      multiple
      :path="currentPath"
      @dismiss="onUploadFinish"
      @uploaded="onUploadCompleted"
    ></UploadingPanel>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.oss-file-list {
  background-color: #fafafa;

  &__header,
  &__footer {
    background-color: white;
  }

  &__current-folder {
    padding: .75rem;
    text-transform: uppercase;
    opacity: .4;
  }

  &__content {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;

    ul {
      margin-right: -1px;
      margin-bottom: -1px;
      padding: 0;
    }
    /*border-right: 1px solid var(--color-border);*/
    /*border-bottom: 1px solid var(--color-border);*/
  }

  &__listitem {
    position: relative;
    width: 25%;
    height: 0;
    padding-bottom: 25%;

    .oss-file-item {
      /*width: 100%;
      height: 0;
      padding-bottom: 100%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: .5rem;

      border-top: none;
      border-left: none;
    }

    &:hover {
      .oss-file-list__del-item {
        visibility: visible;
      }
    }

    &--draggable {
      cursor: move;
    }

    &--dragging {
      opacity: .5;
    }

    &--tobefore,
    &--toafter {
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 1px;
        width: 2px;
        height: 100%;
        background-color: var(--color-highlight);
        z-index: var(--base);
      }
    }

    &--toafter {
      &:before {
        left: auto;
        right: 0;
      }
    }

    &--l {
      width: 25%;
      padding-bottom: 25%;
    }

    &--m {
      width: calc(100% / 6);
      padding-bottom: calc(100% / 6);
    }

    &--s {
      width: 12.5%;
      padding-bottom: 12.5%;
    }
  }

  &__del-item {
    position: absolute;
    top: .5rem;
    right: .5rem;
    visibility: hidden
  }

  &__uploading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & &__order-menu {
    position: relative;
    width: 10rem;
  }

  &__order-option-list.list {
    width: 15rem;
    position: absolute;
    bottom: 3rem;
    background-color: white;
    box-shadow: var(--shadow-menu);
    padding: 1rem;

    li {
      h6 {
        flex: 1;
      }

      .sd-bar {
        flex: initial;
        width: auto;
      }
    }
  }
}
</style>

