<script>
import path from 'path'
import utils from '~~/assets/scripts/utils'

export default {
  props: {
    error: String,
    mimetype: String,
    name: String,
    img: {},
    size: Number,
    progress: {
      type: Number,
      default: 0
    },
    completed: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isImage () {
      return /^image/.test(this.mimetype) && this.img
    },
    extname () {
      return path.extname(this.name)
    },
    fileSizeStr () {
      if (this.isImage) {
        return `${this.img.getAttribute('width')}px × ${this.img.getAttribute('height')}px  ${utils.getReadableSize(this.size)}`
      } else {
        return `${utils.getReadableSize(this.size)}`
      }
    },
    progressBar () {
      return {
        // transform: `scaleX(${this.progress/100})`
        width: `${this.progress}%`
      }
    }
  },
  mounted () {
    if (this.isImage) {
      this.$refs.imgCont.appendChild(this.img)
    }
  }
}
</script>

<template>
  <div
    v-bem:uploading-item="{
      progressing: progress > 0 && progress <= 100,
      completed: completed
    }"
  >
    <div
      v-if="!completed && progress > 0 && progress <= 100"
      v-bem:uploading-item.progress-bar
      :style="progressBar"
    ></div>
    <div
      v-bem:uploading-item.img-cont
      ref="imgCont"
    >
      <!-- <h4 v-if="this.error">{{}}</h4> -->
      <h6 v-if="!isImage">{{extname}}</h6>
    </div> 
    <div
      v-bem:uploading-item.info
    >
      <p><span>{{name}}</span></p>
      <h6 
        v-if="error" 
        class="uploading-item__info-error"
      >{{error}}</h6>
      <h6
        v-else-if="progress === -1"
        class="uploading-item__info-error"
      >Uploading Failed</h6>
      <span v-else>{{fileSizeStr}}</span>
    </div>
    <div 
      v-bem:uploading-item.action
    >
      <p v-if="progress >= 100">👌</p>
      <h6 v-else-if="progress > 0">{{progress}}%</h6>
      <button 
        v-else-if="progress === -1"
        class="btn btn--s btn--positive btn--bar"
        @click="$emit('retry')"
      >
        <h5>↺</h5>
      </button>
      <button 
        v-if="error || progress === -1"
        class="btn btn--s btn--negative btn--bar"
        @click="$emit('delete')"
      >
        <h4>×</h4>
      </button>
    </div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

@keyframes progressing {
  0% {
    background-position: 0 0;
  },
  100% {
    background-position: var(--size-s) 0;
  }
}

:root {
  --color-1: rgba(255,255,255,0);
  --color-2: rgba(255,255,255,.2 );
}

.uploading-item {
  width: 100%;
  height: var(--size-l);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  position: relative;
  overflow: hidden;

  &__progress-bar {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    background-color: var(--color-highlight);
    background-image: linear-gradient(-45deg,
                                var(--color-1) 0%,
                                var(--color-1) 25%, 
                                var(--color-2) 26%,
                                var(--color-2) 50%, 
                                var(--color-1) 51%,
                                var(--color-1) 75%, 
                                var(--color-2) 76%,
                                var(--color-2) 100%);
    background-size: var(--size-s) var(--size-s);
    z-index: var(--bg);
    animation: progressing .5s infinite linear;
    transition: width .2s;
  }

  & > * {
    z-index: var(--base);
  }

  &__img-cont {
    flex: initial;
    width: var(--size-m);
    height: var(--size-m);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    background-color: white;
    /* padding: .25rem; */

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__info {
    flex: 1;
    font-size: .75rem;
    padding: 0 .5rem;
    word-break: break-all;
    line-height: 1rem;
    /* background: white; */

    p {
      height: 2rem;
      overflow: hidden;

      span {
        @apply --text-major;
      }
    }

    span {
      /* opacity: .4; */
      @apply --text-minor;
    }

    h6&-error {
      color: var(--color-negative);
    }
  }

  &__action {
    flex: initial;
    width: var(--size-s);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: .25rem; */

    p {
      font-size: 1.25rem;
    }

    h6 {
      width: var(--size-s);
      height: var(--size-s);
      border-radius: 50%;
      text-align: center;
      line-height: var(--size-s);
      background-color: white;
    }
  }

  &--progressing {
    .uploading-item__info {
      p > span,
      span {
        background-color: white;
      }
    }

    .uploading-item__action {
      h6 {
        background-color: white;
      }
    }
  }
}

    
</style>