<script>
import ErrorHandler from '~~/components/ErrorHandler'
import SchemaObject from '~~/components/SchemaObject'
import SchemaTree from '~~/components/SchemaTree'

export default {
  components: { 
    ErrorHandler,
    SchemaObject,
    SchemaTree
  },
  async asyncData ({ app, store, route }) {
    const name = route.params.name || null
    const { status, data } = await store.dispatch('admin/fetchResourceOptionByName', { name })
    return {
      name,
      status,
      resOption: data
    }
  },
  data () {
    return {
      newItem: null,
      selectedTreePath: [],
      baseUrl: '',
      httpMethods: {
        get: 'fetch entity list',
        post: 'create entity',
        put: 'update entire entity',
        patch: 'update specific fields of entity',
        delete: 'remove entity'
      }
    }
  },
  computed: {
    path () {
      return this.$route.query.p
    },
    pathLevels () {
      return this.path.split('.')
    },
    showSubObject () {
      return this.path !== undefined && (function f (obj, levels) {
        if (levels.length > 0) {
          const key = levels[0]
          if (key in obj) {
            return f(obj[key], levels.slice(1))
          } else {
            return false
          }
        } else {
          return true
        }
      })(this.resOption.schema, this.pathLevels)
    },
    optionSchema: {
      get () {
        if (this.name) {
          return this.selectedTreePath.reduce((obj, key) => {
            return obj[key]
          }, this.resOption.schema) || null
        }
      },
      set (v) {
        console.log('set optionSchema', v)
        let path = this.selectedTreePath.slice()
        let last = path.pop()
        let obj = path.reduce((obj, key) => {
          console.log(obj, key)
          return obj[key]
        }, this.resOption.schema)

        console.log('obj', obj)

        if (obj) {
          this.$set(obj, last, v)
        }
      }
    },
    optionApi () {
      return this.resOption.api || null
    },
    options () {
      return Object.keys(this.$store.state.admin.resourceOptions)
    }
  },
  methods: {
    async onSaveOption () {
      const { status, data } = await this.$axios.put(`/admin/model/${this.name}`, {
        option: {
          schema: this.resOption.schema,
          api: this.optionApi,
          meta: this.resOption.meta
        }
      })

      if (status === 200) {
        window.alert('Saved!')
      } else {
        window.alert(data)
      }
    },
    async onDeleteOption () {
      if (window.confirm(`Delete ${this.name}?`)) {
        const { status, data } = await this.$store.dispatch('admin/deleteResourceOption', { name: this.name })

        if (status === 200) {
          await this.$store.dispatch('admin/fetchResourceOptions')
          window.alert('Deleted!')
          this.$router.push('./')
        } else {
          window.alert(data)
        }
      }
    },
    onAddNewItem () {
      this.newItem = {
        name: '',
        type: ''
      }
    },
    onConfirmNewItem () {
      const item = Object.assign({}, this.newItem)
      delete item['name']
      this.optionSchema[this.newItem.name] = item
      this.newItem = null
    },
    onCancelNewItem () {
      this.newItem = null
    },
    onSelectPath ($path) {
      this.selectedTreePath = $path
      // console.log($path)
      // this.$set(this, selectedTreePath, $path)
    },
    onSchemaEdit (ev) {
      console.log('onSchemaEdit', ev)
      const path = ev.path
      const lastKey = path.pop()
      const parent = path.reduce((obj, key) => obj[key], this.resOption.schema)
      const newKey = ev.name
      const obj = Object.assign(parent[lastKey])

      console.log('change', path, lastKey, parent, newKey, obj)

      this.$set(parent, newKey, obj)
      this.$set(this, 'selectedTreePath', path.concat([newKey]))
      this.$delete(parent, lastKey)

      console.log('after change', parent)
    },
    onSchemaObjectNameChanged (ev) {
      console.log(ev)
      const path = this.selectedTreePath.slice()
      const lastKey = path.pop()
      const parent = path.reduce((obj, key) => obj[key], this.resOption.schema)
      const newKey = ev.target.value
      const obj = Object.assign(parent[lastKey])

      console.log(path, lastKey, parent, newKey, obj)

      this.$set(parent, newKey, obj)
      this.$set(this, 'selectedTreePath', path.concat([newKey]))
      this.$delete(parent, lastKey)
    }
  },
  mounted () {
    this.$store.dispatch('admin/registerContextActions', {
      save: async () => {
        await this.onSaveOption()
      },
      delete: async () => {
        await this.onDeleteOption()
      }
    })

    this.baseUrl = window.location.host
  },
  beforeDestroy () {
    this.$store.dispatch('admin/unregisterContextActions')
  }
}
</script>

<template>
  <SDBox class="sub-page-option-detail" embeded>

    <template v-if="status === 200">
      <SDBar
        slot="header"
        size="s"
        justify="around"
      >
        <!-- <nuxt-link :to="`./${name}`">{{ name }}</nuxt-link>
        <template v-for="(p, idx) in pathLevels">
          <template v-if="idx < pathLevels.length - 1">
            .<nuxt-link :key="p + idx" :to="`./${name}?p=${pathLevels.slice(0, idx + 1).join('.')}`">{{p}}</nuxt-link>
          </template>
          <template v-else>
            .<span :key="p + idx">{{p}}</span>
          </template>
        </template> -->
        <nuxt-link 
          to="#summary"
          class="btn btn--bar btn--s"
        >
          <h6>Summary</h6>
        </nuxt-link>
        <nuxt-link 
          to="#schema"
          class="btn btn--bar btn--s"
        >
          <h6>Schema</h6>
        </nuxt-link>
        <nuxt-link 
          to="#api"
          class="btn btn--bar btn--s"
        >
          <h6>API</h6>
        </nuxt-link>
        <nuxt-link 
          to="#rawjson"
          class="btn btn--bar btn--s"
        >
          <h6>Raw JSON</h6>
        </nuxt-link>
      </SDBar>

      <div class="option__schema">
        <SDBox
          class="option__schema-tree"
          embeded
        >
          <SchemaTree
            v-model="resOption.schema"
            :selected="selectedTreePath"
            @select-path="onSelectPath"
            :schema-name="name"
            @edit="onSchemaEdit"
          ></SchemaTree>
        </SDBox>
        
        <SDBox 
          class="option__schema-item"
          embeded
        >
          <div 
            v-if="selectedTreePath.length === 0"
            class="option__schema-item-api"
          >
            <div
              slot="header"
              justify="between"
            >
              <h6>API URL:</h6>
              <p>{{ baseUrl }}/api/r/{{ name }}</p>
            </div>

            <div 
              v-if="optionApi" 
              slot="footer"
              justify="between"
              size="auto"
            >
              <template v-for="( comment, name ) in httpMethods">
                <section 
                  class="option-content__api-method"
                  :key="name"
                >
                  <label>
                    <input type="checkbox" v-model="optionApi[name].allow">

                    <div>
                      <h4>{{ name.toUpperCase() }}</h4>
                      <p>{{ comment }}</p>
                    </div>
                  </label>
                  <label>
                    <h5>Accessible:&nbsp;</h5>
                    <select v-model="optionApi[name].accessible">
                      <option :value="0">0 - Nobody</option>
                      <option :value="1">1 - Admin</option>
                      <option :value="2">2 - Author</option>
                      <option :value="3">3 - Anyone</option>
                    </select>
                  </label>
                </section>
              </template>
              <!-- <section class="option-content__api-method">
                <label>
                  <input type="checkbox" v-model="optionApi.get.allow">

                  <div>
                    <h5>GET</h5>
                    <p>fetch data</p>
                  </div>
                </label>
              </section> -->
              <!-- <section class="option-content__api-method">
                <label>
                  <input type="checkbox" v-model="optionApi.post.allow">

                  <div>
                    <h5>POST</h5>
                    <p>create new data</p>
                  </div>
                </label>
              </section>
              <section class="option-content__api-method">
                <label>
                  <input type="checkbox" v-model="optionApi.delete.allow">
                  <div>
                    <h5>DELETE</h5>
                    <p>delete data</p>
                  </div>
                </label>
              </section>
              <section class="option-content__api-method">
                    
                <label>
                  <input type="checkbox" v-model="optionApi.put.allow">
                  <div>
                    <h5>PUT</h5>
                    <p>replace data</p>
                  </div>
                </label>
              </section>
              <section class="option-content__api-method">
                <label>
                  <input type="checkbox" v-model="optionApi.patch.allow">
                  <div>
                    <h5>PATCH</h5>
                    <p>update data</p>
                  </div>
                </label>
              </section> -->

              <section class="schema-object__option-group">
                <label class="schema-object__option">
                  <h6>Comment:</h6>
                  <textarea v-model="resOption.meta.comment"></textarea>
                </label>
              </section>

              <section class="schema-object__option-group">
                <label class="schema-object__option">
                  <h6>Not Shown in Content</h6>
                  <input type="checkbox" v-model="resOption.meta.hidden" />
                </label>
                <label class="schema-object__option">
                  <h6>System</h6>
                  <input type="checkbox" v-model="resOption.meta.system" />
                </label>
              </section>
            </div>
          </div>

          <SchemaObject
            v-else
            v-model="optionSchema" 
            :name="selectedTreePath.slice(-1).pop()"
            root 
            :ref-options="options"
            @name-changed="onSchemaObjectNameChanged"
            class="option__schema-item-sub"
          ></SchemaObject>
        </SDBox>
      </div>
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>

  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sub-page-option-detail {
  width: 100%;
  height: 100%;
}

.option__api {
  padding: 1.5rem 2rem;
  background-color: rgba(0,0,0,.04);
}

.option__schema {
  display: flex;
  height: 100%;
}

.option__schema-tree {
  flex: 1;
  width: 50%;
  border-right: 1px solid var(--color-border);
}

.option__schema-item {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem 2rem; */
  background-color: #fafafa;
  min-height: 100%;

  .option__schema-item-api,
  .option__schema-item-sub {
    padding: 1rem;
    width: 100%;
    min-height: 100%;
  }
}

.option-content__schema {
  flex: 2;
  /*border-right: 1px solid black;*/
}
.option-content__api {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.option-content__api-method {
  margin-top: 1rem;
  /* border-top: 1px solid var(--color-border); */
  /* padding-top: 1rem; */
  background-color: white;
  padding: 1rem;

  label {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    position: relative;

    input {
      /* margin-right: 1rem; */
      left: 0;
      position: absolute;
    }
  }

  label + label {
    margin-top: .5rem;
  }
}

.option-content__api-method + .option-content__api-method,
.option-content__api-method + .schema-object__option-group {
  margin-top: 1rem;
  padding-top: 1rem;
  /* border-top: 1px solid var(--color-border); */
}



.schema-object__option-group {
  /* margin-top: 1rem; */
  /* border-top: 1px solid var(--color-border); */
  /* padding-top: 1rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

.schema-object__option-group + .schema-object__option-group {
  /* margin-left: 1rem; */
  /* border-left: 1px solid var(--color-border); */
  /* padding-left: 1rem; */
  margin-top: 1rem;
}

.schema-object__option-group-header {
  /* margin-top: 3rem; */
  margin: 0 0 1rem;
  h5, h6 {
    opacity: .4;
    text-transform: uppercase;
  }
}

.schema-object__option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h6 {
    flex: 1;
    width: 100%;
  }

  textarea {
    flex: 1;
    width: 100%;
  }

  span + input,
  input + span {
    margin-left: .5rem;
  }
}

.schema-object__option + .schema-object__option {
  border-top: 1px solid var(--color-border);
  margin-top: 1rem;
  padding-top: 1rem;
}
</style>
