<script>
import _ from 'lodash'
import utils from '~~/assets/scripts/utils.js'
import JmlElem from './JmlElem.vue'
import JmlEditor from './JmlEditor.vue'

export default {
  components: {
    JmlElem, JmlEditor
  },
  data: () => ({
    jml: [
      'root',
      {},
      [
        'p',
        'test text'
      ],
      [
        'ul',
        {},
        [
          'li',
          { 'style' : 'color:red' },
          'First Item test text'
        ],
        [
          'li',
          {
            'title' : 'Some hover text.',
            'style' : 'color:green'
          },
          'Second Item'
        ],
        [
          'li',
          {}
        ],
        [
          'li',
          {},
          ' Item',
          [
            'span',
            { 'class' : 'code-example-third' },
            'Third'
          ],
          ' Item'
        ]
      ]
    ],
    mouseHoverIdx: []
  }),
  computed: {
    hoverElem () {
      return this.mouseHoverIdx.reduce((r, idx) => {
        return r.$children[idx]
      }, this.$refs.rootElem)
    },
    hoverElemStyle () {
      const style = window.getComputedStyle(this.hoverElem.$el)
      console.log('style', style.position)
      return style
    },
    hoverJml () {
      return this.mouseHoverIdx.reduce((r, idx) => {
        const children = utils.getType(r[1]) === 'object' ? r.slice(2) : r.slice(1)
        return children[idx]
      }, this.jml)
    },
    contextBoxStyle () {
      if (this.hoverElem) {
        const bounding = this.hoverElem.$el.getBoundingClientRect()

        return {
          transform: `translate(${bounding.left}px, ${bounding.top - 33}px)`,
          width: `${bounding.width}px`,
          height: `${bounding.height + 32}px`
        }
      }
    },
    contextEditorStyle () {
      return ['font-family', 'font-size', 'font-style', 'font-weight', 'text-transform', 'text-decoration', 'padding', 'border', 'letter-spacing', 'line-height', 'word-spacing', 'word-wrap', 'word-break'].reduce((r, key) => {
        r[key] = this.hoverElemStyle[key]
        return r
      }, {})
    }
  },
  methods: {
    mouseOnElem (p) {
      this.mouseHoverIdx = p
    },
    onArticleType (e) {
      const s = window.getSelection()
      console.log(s)
      const key = e.key
      const editIdx = s.focusOffset
      const focusNode = s.focusNode
      const oriText = focusNode.data
      let focusVNode = focusNode
      let idxs = []

      while (!('__vue__' in focusVNode)) {
        const pNode = focusVNode.parentNode
        const idx = _.findIndex(pNode.childNodes, node => node === focusNode )
        idxs.push(idx)
        focusVNode = pNode
      }

      focusVNode = focusVNode.__vue__

      const lastIdx = idxs.pop()
      let obj = idxs.reduce((r, idx) => {
        return r[idx]
      }, focusVNode.children)

      const newChild = focusVNode.children.slice()

      console.log('before', oriText)

      this.$nextTick(() => {
        const newText = focusNode.data
        const newIdx = window.getSelection().focusOffset
        console.log('after', newText)

        newChild[lastIdx] = newText
        focusVNode.children = newChild
        this.setCaretPosition(focusVNode.$el, newIdx)
      })
    },
    onChange (v) {
      console.log('change', v.slice(), v[2][1])
      this.$set(this, 'jml', v)
    },
    setCaretPosition (elem, offset) {
      console.log(elem, offset)
      console.log(elem.createTextRange, elem.selectionStart)
      if(elem.createTextRange) {
        var range = elem.createTextRange()
        range.move('character', offset)
        range.select()
      }
      else {
        if(elem.selectionStart) {
          elem.focus()
          elem.setSelectionRange(offset, offset)
        }
        else {
          elem.focus()
        }
      }
    },
    onTest (v) {
      console.log('test', v)
    }
  }
}
</script>

<template>
  <SDBox 
    class='editor-jml-article'
    embeded
  >
    <!-- <JmlEditor
      class="editor-jml-article__preview"
      v-model="jml"
    ></JmlEditor> -->
    <JmlElem 
      root-tag="article"
      root-class="editor-jml-article__preview"
      ref='article'
      :elem='jml'
      @mouseon='mouseOnElem'
      @change="onChange"
    ></JmlElem>
      <!-- <SDBox
        v-if='hoverElem'
        class='editor-jml-article__context-box'
        :style='contextBoxStyle'
      >
        <SDBar
          slot='header'
          justify='left'
          size='s'
        >
          <h6>{{hoverJml[0]}}</h6>
          <label>#
            <input type='text' v-model='hoverJml[1].id'>
          </label>
        </SDBar>
        <textarea 
          class='editor-jml-article__context-editor' 
          v-model='hoverJml[2]'
          :style='contextEditorStyle'
        ></textarea>
      </SDBox> -->
  </SDBox>
</template>

<style lang='postcss'>
@import '~~/assets/styles/var.pcss';

.editor-jml-article {
  &__preview {
    width: 60rem;
    margin: 2rem auto;
    background: white;
    /*box-shadow: var(--shadow-modal);*/
    border: 1px solid var(--color-border);
    padding: 5rem;

    font-size: 1rem;
    line-height: 1.5rem;

    p {
      min-height: 1.5rem;
    }
  }

  &__context-box {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    border: none;
  }

  &__context-editor {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
}
</style>