<script>
import JmlElem from './JmlElem.vue'

export default {
  components: {
    JmlElem
  },
  props: {
    value: Array
  },
  methods: {
    updateValue () {
      this.$emit('input', value)
    },
    onInput (ev) {
      console.log('on input', this.$refs.root.$el.innerHTML)
    }
  },
  mounted () {
    this.$refs.root.onFocus()
  }
}
</script>

<template>
  <JmlElem
    root-tag="article"
    class="jml-editor"
    ref="root"
    :elem="value"
    :editable="false"
    @change="updateValue"
    contenteditable
    @input.native="onInput"
  ></JmlElem>
</template>

<style lang="postcss">
.jml-editor {

}
</style>