<script>
import ErrorHandler from '~~/components/ErrorHandler'

export default {
  components: {
    ErrorHandler
  },
  async asyncData ({ route, store }) {
    const { status } = await store.dispatch('admin/fetchResourceOptions')

    return {
      status
    }
  },
  data () {
    return {
      newItem: null
    }
  },
  computed: {
    options () {
      return this.$store.state.admin.resourceOptions
    },
    sortedOptionKeys () {
      return Object.keys(this.$store.state.admin.resourceOptions).sort()
    }
  },
  methods: {
    onCreate () {
      // let name = ''

      // do {
      //   name = window.prompt('Give a name:')
      // } while (name.length === 0 || /\s\n\t\r\.\,\'\"\;\:\`/.test(name))
      
      this.$set(this, 'newItem', {
        name: ''
      })
    },
    onCancelCreate () {
      this.newItem = null
    },
    async onSubmitCreate () {
      const invalidNames = ['tag', 'system', 'edit', 'new', 'delete', 'model', 'content']
      if (this.newItem.name &&
          this.newItem.name.length > 0 && 
          invalidNames.indexOf(this.newItem.name) === -1) {
        const name = this.newItem.name
        const { status, data } = await this.$axios.post('/admin/model', {
          name,
          schema: {},
          api: {
            get: { allow: false },
            post: { allow: false },
            delete: { allow: false },
            put: { allow: false },
            patch: { allow: false }
          }
        })

        console.log(status, data)
        if (status === 200 && data === 'success') {
          this.newItem = null
          await this.$store.dispatch('admin/fetchResourceOptions')
          this.$router.push({ name: this.$route.name, params: { name } })
        } else {
          window.alert(data)
        }
      }
    }
  }
}
</script>

<template>
  <SDBox class="page-resource-model" embeded>

    <template v-if="status === 200">
      <SDBox 
        slot="aside"
        class="resource-model-list"
        embeded
      >
        
        <ul class="list list--striped option-list">
          <li v-if="newItem !== null">
            <SDBar
              justify="between"
            >
              <input type="text" v-model="newItem.name">
              <div>
                <button @click="onCancelCreate">X</button>
                <button @click="onSubmitCreate">√</button>
              </div>
            </SDBar>
          </li>
          <li v-for="key in sortedOptionKeys" :key="key">
            <nuxt-link
              class="option-list__item list__item list__item--link"
              :class="{ 'option-list__item--system': options[key].system }"
              :to="{ name: 'admin-model-index-name', params: { name: key } }"
            >
              <h5>{{key}}</h5>

              <span v-if="options[key].system">SYSTEM</span>
            </nuxt-link>
          </li>
        </ul>

        <SDBar
          slot="footer" 
          justify="between"
        > 
          <p class="resource-model-list__count">{{ sortedOptionKeys.length }} Models</p>
          <button
            class="btn btn--bar"
            @click="onCreate">
            <h5>+ New</h5>
          </button>
        </SDBar>
      </SDBox>

      <!-- <div class="resource-model-option"> -->
      <nuxt-child></nuxt-child>
      <!-- </div> -->
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-resource-model {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.resource-model-list {
  width: 15rem;
  height: 100%;
  /*border-right: 1px solid black;*/

  &__count {
    font-size: .875rem;
    opacity: .4;
  }
}

.resource-model-option {
  flex: 1;
}

.option-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;

  & span {
    display: block;
    padding: .25rem .5rem;
    height: 1.5rem;
    border-radius: .75rem;
    background-color: rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.04);
    font-size: .75rem;
  }
  /* box-shadow: 10px 0 0 black inset; */
}
</style>
