<script>
import qs from 'querystring'
import ErrorHandler from '~~/components/ErrorHandler'

export default {
  components: {
    ErrorHandler
  },
  async asyncData ({ route, store, app }) {
    console.log('index async data')
    const modelName = route.params.name
    const query = route.query

    if (modelName && modelName.length > 0) {
      const { status, data } = await store.dispatch('admin/fetchResourceOptionByName', { name: modelName })

      if (status === 200) {
        const { status, data: entities } = await store.dispatch('admin/fetchContentEntities', { name: modelName, query })

        if (status === 200) {
          return {
            query,
            modelName,
            status,
            schema: data.schema,
            entities
          }
        }

        return {
          query,
          modelName,
          status,
          entities: []
        }
      }

      return {
        query,
        modelName,
        status
      }
    }

    return {
      query,
      modelName,
      status: -1
    }
  },
  data: () => ({
  }),
  computed: {
    showError () {
      return !this.success
    },
    hasCustomList () {
      return this.$hasCustomList(this.modelName)
    },
    hasCustomListItem () {
      return this.$hasCustomListItem(this.modelName)
    },
    querystring () {
      if ('query' in this.$route) {
        return `?${qs.stringify(this.$route.query)}`
      }

      return ''
    }
  },
  methods: {
    async reloadEntities (query = this.query) {
      const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', { name: this.modelName, query })

      if (status === 200) {
        this.entities = data
      }
    },
    async onAddItem (entity, callback) {
      console.log('add', entity, callback)
      const r = await this.$store.dispatch('admin/saveContent', {
        name: this.modelName,
        id: false,
        entity
      })

      console.log(r)

      if (r.status === 200) {
        await this.reloadEntities()
      }

      typeof callback === 'function' && callback(r)
    },
    async onDeleteItem (id, callback) {
      console.log(`delete(${id})`)
      const r = await this.$store.dispatch('admin/deleteContent', {
        name: this.modelName,
        id
      })

      if (r.status === 200) {
        await this.reloadEntities()

        this.$notify({
          title: 'Deleted!',
          context: 'positive'
        })
      }

      typeof callback === 'function' && callback(r)
    },
    onQueryUpdate (query) {
      // let r = Object.assign({}, { 
      //   name: this.$route.name,
      //   query
      // })
      console.log('onUpldateQuery', query)
      this.query = query
      this.$router.push({query})
      this.reloadEntities(query)
    }
  },
  mounted () {
    console.log('list page mounted')
  }
}
</script>

<template>
  <div class="page-content-list__entities">
    <template v-if="status === 200">
      <template v-if="hasCustomList">
        <component 
          class="entity-list" 
          :is="`CustomList_${modelName}`"
          :list="entities"
          :schema="schema"
          :query="query"
          fn-page
          fn-add
          @add="onAddItem($event.entity)"
          @select="$router.push(`../editor/${modelName}/${$event.entity._id}${querystring}`)"
          fn-delete
          @delete="onDeleteItem($event.entity._id)"
          @query="onQueryUpdate"
        ></component>  
      </template>

      <EntityList
        v-else
        :list="entities"
        :schema="schema"
        :name="modelName"
        :query="query"
        fn-page
        fn-add
        @select="$router.push(`../editor/${modelName}/${$event.entity._id}${querystring}`)"
        fn-delete
        @delete="onDeleteItem($event.entity._id)"
        @query="onQueryUpdate"
      >
        <!-- <template slot-scope="{ entity, idx }">
          <EntityListItem
            :entity="entity"
            :schema="schema"
            @select="$router.push(`../editor/${modelName}/${entity._id}`)"
            @delete="onDeleteItem(entity._id)"
          ></EntityListItem>
        </template> -->
      </EntityList>

      <!-- <SDBox 
        v-else
        class="entity-list"
        embeded
      > 
        <SDBar
          slot="header"
          justify="between"
        >
          <h4 slot="left">{{ entities.length }} {{ modelName }}</h4>

          <nuxt-link
            slot="right" 
            :to="`/admin/content/editor/${modelName}/new`"
            class="btn btn--bar"
          >
            <h5>+ New Entity</h5>
          </nuxt-link>
        </SDBar>
        <ul
          class="flow content-list"
        >
          <li
            v-for="(entity, idx) in entities"
            :key="idx"
            class="content-list__default-item"
          >
            <component
              v-if="hasCustomListItem"
              :is="`CustomListItem_${modelName}`"
              :schema="schema"
              :entity="entity"
              @select="$router.push(`../editor/${modelName}/${entity._id}`)"
            ></component>

            <EntityListItem
              v-else
              :schema="schema"
              :entity="entity"
              @select="$router.push(`../editor/${modelName}/${entity._id}`)"
            ></EntityListItem>
          </li>
        </ul>
      </SDBox> -->
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-content-list__entities {
  width: 100%;
  height: 100%;

  & .entity-list {
    width: 100%;
    height: 100%;
  }

  .content-list__default-item {
    margin: 1rem;
    flex: 1;
    font-size: .75rem;
    max-width: 20rem;
    min-width: 15rem;
    overflow: hidden;

    & > * {
      display: block;
      min-height: 10rem;
      max-height: 20rem;
      width: 100%;
      overflow: scroll;
      text-decoration: none;
      color: black;
      border: 1px solid var(--color-border);
      padding: 1rem;

      &:hover {
        border-color: var(--color-highlight);
      }
    }
  }
}
</style>