<script>
// import SDBox from '~~/components/soda/SDBox'
// import SDBar from '~~/components/soda/SDBar'
import { getAbsUrl } from '~~/assets/scripts/utils'

export default {
  // components: {
  //   SDBox, SDBar
  // },
  async asyncData ({ route, redirect }) {
    // const models = await store.dispatch('admin/fetchContentModels')

    // return {
    //   models
    // }
    if (route.name === 'admin-content') {
      redirect('/admin/content/list')
    }
  }
}
</script>

<template>
  <!-- <SDBox 
    class="page-content-index" 
    embeded
  >
    <SDBox
      slot="aside"
      class="page-content__model-list"
      embeded
    >
      <ul class="list list--striped">
        <li
          v-for="(model, key) in models"
          :key="key">
          <nuxt-link :to="`/admin/content/${key}`">{{key}}</nuxt-link>
        </li>
      </ul>
    </SDBox>

    <nuxt-child/>
  </SDBox> -->
  <div class="page-content-index">index</div>
</template>

<style lang="postcss">
.page-content-index {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.page-content__model-list {
  width: 15rem;
  height: 100%;
}
</style>