<script>
export default {
  data: () => ({
    mover: false,
    mount: false
  }),
  mounted () {
    this.mount = true
  }
}
</script>

<template>
  <h1 
    class="test" 
    v-bem:index.title="{
      mover,
      mounted: mount
    }"
    :class="{ 'mounted': mount }"
    @mouseenter="mover = true"
    @mouseleave="mover = false"
  >index</h1>
</template>