<script>
export default {
  layout: 'blank',
  asyncData ({ route }) {
    // console.log('route', route)
    let redirectUrl = ''

    if ('query' in route && 'redirect' in route.query) {
      redirectUrl = route.query.redirect
    } else {
      redirectUrl = '/admin'
    }

    return {
      redirectUrl
    }
  },
  data: () => ({
    isMounted: false,
    host: '',
    formType: {
      username: 'text',
      password: 'password'
    },
    formData: {
      username: '',
      password: ''
    },
    formError: {
      msg: '',
      username: false,
      password: false
    }
  }),
  watch: {
    forData: {
      deep: true,
      handler (v) {
        this.checkForm()
      }
    }
  },
  methods: {
    checkForm () {
      if (this.formData.username.length === 0) {
        this.formError.msg = 'Username is required'
        this.formError.username = true

        return false
      } else if (this.formData.password.length === 0) {
        this.formError.msg = 'Password is required'
        this.formError.password = true

        return false
      } else {
        this.formError.msg = ''
        this.formError.username = false
        this.formError.password = false

        return true
      }
    },
    async onSubmit (ev) {
      console.log(ev)
      const valid = this.checkForm()

      if (valid) {
        console.log(this.formData.username, this.formData.password)

        try {
          await this.$auth.login({
            data: {
              username: this.formData.username,
              password: this.formData.password
            }
          })

          if (this.$auth.loggedIn) {
            console.log(console.log('login success'))
          //   const url = this.redirect.length > 0 ? this.redirect : '/admin'
            // this.$toast.show('Authenticated')
            this.$notify({
              title: 'Authenticated',
              message: `Welcome board ${this.$auth.user.name}`,
              duration: 5000,
              context: 'positive'
            })
            this.$router.replace('/admin')
          }
        } catch (e) {
          console.error(e)
          this.formError.msg = e.response.data.error
        }
      }
    }
  },
  beforeMount () {
    this.host = window.location.host
  },
  mounted () {
    if (this.$auth.loggedIn) {
      this.$router.replace('/admin')
    } else {
      this.isMounted = true
    }
  }
}
</script>

<template>
  <div class="page-login">
    <div class="login-form">
      <form 
        v-if="isMounted"
        @submit.prevent="onSubmit"
      >
        <label class="login-form__label">
          <!-- <h4>Login to {{host}}</h4> -->
          <h3>{{ $t('login to', { msg: $store.state.admin.siteInfo.hostname }) }}</h3>
          <!-- <h6 v-if="redirectUrl.length > 0">Redirect from {{host}}{{redirectUrl}}</h6> -->
          <h6 v-if="redirectUrl.length > 0">{{ $t('redirect from', { msg : `${host}${redirectUrl}` }) }}</h6>
          <h6 class="login-form__error-msg">{{ formError.msg }}</h6>
        </label>
        <label
          v-for="(_, key) in formData"
          :key="key"
          class="login-form__label"
          :class="{
            'login-form__label--error': formError[key]
          }"
        >
          <h6>{{ $t(key) }}</h6>
          <input :type="formType[key]" v-model="formData[key]">
          <!-- <h6 class="login-form__error-msg">{{ formError[key] }}</h6> -->
        </label>
        <button
          class="btn btn--block btn--highlight"
          type="submit"
        >
          <h5>{{ $t('login') }}</h5>
        </button>
      </form>

      <div v-else>
        <h6>Checking Login State...</h6>
      </div>
    </div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--gradient-gray);
  align-items: center;
  justify-content: center;
  /* background-image: var(--gradient-highlight); */
}

.login-form {
  width: 25rem;
  /* margin: auto; */
  margin-bottom: 5rem;
  background-color: white;
  padding: 4rem 5rem;

  &__label {
    display: block;
    margin-bottom: 2rem;

    h6 {
      opacity: .4;
    }

    input {
      margin-top: .5rem;
      font-size: 1rem;
      line-height: 2rem;
      padding: 0;
      border: 0;
      width: 100%;
      border-bottom: 1px solid var(--color-border);

      &:focus {
        outline: none;
        border-color: var(--color-highlight)
      }
    }

    .login-form__error-msg {
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: .75rem;
      color: var(--color-negative);
      opacity: 1;
    }

    &--error {
      input {
        border-color: var(--color-negative);
      }
    }
  }
}
</style>