<script>
export default {
  name: 'SDAlert',
  props: {
    title: String,
    message: String
  },
  mounted () {
    console.log('actions', this.$refs)
  }
}
</script>

<template>
  <SDBox class="sd-alert">
    <div class="sd-alert__body">
      <h4 v-if="title">{{title}}</h4>
      <p v-if="message" v-html="message"></p>
      <slot></slot>
    </div>
    <SDBar
      slot="footer"
    >
      <slot name="action"></slot>
    </SDBar>
  </SDBox>
</template>

<style lang="postcss">
.sd-alert {
  width: 25rem;
  max-width: 100vw;
  border: none;

  &__body {
    padding: 2.5rem;
    min-height: 10rem;

    h4 {
      margin-bottom: .5rem;
      text-transform: uppercase;
    }
  }
}
</style>