<script>
export default {
  props: {
    size: {
      type: String,
      default: 'm',
      validator (v) {
        return ['s', 'm', 'l', 'auto'].indexOf(v) !== -1
      }
    },
    justify: {
      type: String,
      default: 'center',
      validator (v) {
        return ['left', 'center', 'right', 'between', 'around', 'evenly'].indexOf(v) !== -1
      }
    }
  }
}
</script>

<template>
  <div
    class="sd-bar"
    :class="`sd-bar--size-${size} sd-bar--justify-${justify}`"
  >
    <slot></slot>

    <div 
      v-if="$slots.left"
      class="sd-bar__left"
    >
      <slot name="left"></slot>
    </div>

    <div 
      v-if="$slots.right"
      class="sd-bar__right"
    >
      <slot name="right"></slot>
    </div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sd-bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0;

  &--size-s { height: var(--size-s); }
  &--size-m { height: var(--size-m); }
  &--size-l { height: var(--size-l); }
  &--size-auto { 
    height: auto;
    padding: .75rem 0;
  }

  &--justify-left { justify-content: flex-start; }
  &--justify-right { justify-content: flex-end; }
  &--justify-center { justify-content: center; }
  &--justify-between { justify-content: space-between; }
  &--justify-around { justify-content: space-around; }
  &--justify-evenly { justify-content: space-evenly; }

  &__left,
  &__right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* padding: 0 1rem; */
  }

  &__right {
    left: auto;
    right: 0;
    justify-content: flex-end;
  }

  &__center {
    display: flex;
    flex-direction: row;
  }

  & &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sd-box {
  .sd-box__header,
  .sd-box__footer {
    & > .sd-bar {
      padding: 0 1rem;

      &--size-auto { padding: .75rem 1rem; }

      & .sd-bar__left {
        left: 1rem;
        right: auto;
      }

      & .sd-bar__right {
        left: auto;
        right: 1rem;
      }
    }
  }
}
</style>