<script>
import _ from 'lodash'

export default {
  name: 'SDBox',
  props: {
    embeded: {
      type: Boolean,
      default: false
    },
    contentDirection: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    showAlert: false,
    alertOptions: null,
    alertInput: null
  }),
  methods: {
    async alert (option) {
      return new Promise((resolve, reject) => {
        if (option) {
          this.showAlert = true

          let actions = {
            confirm: {
              title: 'OK',
              context: '',
              handler: () => {
                this.dismissAlert()
                resolve(1)
              }
            }
          }

          _.merge(actions, option.actions)
          _.merge(option, { actions })

          this.alertOptions = option
        } else {
          reject(0)
        }
      })
    },
    async confirm (option) {
      return new Promise((resolve, reject) => {
        if (option) {
          this.showAlert = true
          console.log('option', option)

          let actions = {
            confirm: {
              title: 'Yes',
              context: '',
              handler: () => {
                this.dismissAlert()
                resolve(true)
              }
            },
            cancel: {
              title: 'No',
              context: '',
              handler: () => {
                this.dismissAlert()
                resolve(false)
              }
            }
          }

          _.merge(actions, option.actions)
          _.merge(option, { actions })

          this.alertOptions = option
        } else {
          reject(false)
        }
      })
    },
    dismissAlert () {
      console.log('dismissAlert')
      this.showAlert = false
      this.alertOptions = null
      this.alertInput = null
    }
  }
}
</script>

<template>
  <div
    class="sd-box"
    :class="{
      'sd-box--embeded': embeded,
      'sd-box--with-header': $slots.header,
      'sd-box--with-footer': $slots.footer
    }"
  >
    <header 
      v-if="$slots.header"
      class="sd-box__header">
      <slot name="header"></slot>
    </header>

    <div 
      v-if="$slots.default || $slots.aside"
      class="sd-box__body"
    >
      <aside 
        v-if="$slots.aside"
        class="sd-box__aside">
        <slot name="aside"></slot>
      </aside>

      <div 
        v-bem:sd-box.content="{
          row: contentDirection === 'row',
          column: contentDirection === 'column'
        }"
      >
        <slot></slot>
      </div>
    </div>

    <footer 
      v-if="$slots.footer"
      class="sd-box__footer">
      <slot name="footer"></slot>
    </footer>

    <SDModalStage
      embeded
      :show="showAlert"
      @toggle="dismissAlert"
    >
      <SDAlert
        class="sd-box__alert"
        v-if="showAlert"
        :title="alertOptions.title"
        :message="alertOptions.message"
        @dismiss="dismissAlert"
      >
        <template v-if="alertOptions.schema">
          <EntityEditor
            :schema="alertOptions.schema"
            v-model="alertInput"
          ></EntityEditor>
        </template>

        <template v-if="alertOptions.actions">
          <button
            v-for="(action, key) in alertOptions.actions"
            :key="key"
            slot="action"
            @click="action.handler"
            :disabled="action.disabled"
            v-bem:btn="{
              bar: true,
              block: true,
              positive: action.context === 'positive',
              negative: action.context === 'negative',
              neutral: action.context === 'neutral',
              highlight: action.context === 'highlight',
            }"
          >
            <h5>{{action.title}}</h5>
          </button>
        </template>
      </SDAlert>
    </SDModalStage>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sd-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--color-border);

  &--embeded {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
  }

  &__header,
  &__footer {
    flex: initial;
    width: 100%;
    /*z-index: var(--nav);*/
  }

  &__header + &__body,
  &__header + &__footer,
  &__body + &__footer {
    border-top: 1px solid var(--color-border);
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    /*z-index: var(--base);*/
  }

  &__aside {
    flex: initial;
    height: 100%;
    border-right: 1px solid var(--color-border);
    z-index: var(--base);
  }

  &__content {
    flex: 1;
    max-height: 100%;
    overflow: scroll;
    -webkit-scroll-overflow: touch;

    &--row {
      display: flex;
      flex-direction: row;
    }

    &--column {
      display: flex;
      flex-direction: column;
    }
  }

  &__alert {
    /*margin-top: -50%;*/
    position: absolute;
    top: 10%;
    max-height: 80%;
    box-shadow: var(--shadow-modal);
  }
}
</style>