<script>
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    openMethod: {
      type: String,
      default: 'drawer',
      validator (v) {
        return ['drawer', 'dropdown'].indexOf(v) !== -1
      }
    }
  },
  methods: {
    toggle (open) {
      if (open) {
        this.$emit('carbinet:open')
        this.$emit('carbinet:toggle', true)
      } else {
        this.$emit('carbinet:close')
        this.$emit('carbinet:toggle', false)
      }
    }
  }
}
</script>

<template>
  <div class="sd-carbinet">
    <div 
      v-if="open && openMethod === 'dropdown'"
      class="sd-carbinet__curtain"
      @click.self.stop="toggle(false)"
    ></div>
    <div class="sd-carbinet__frame">
      <div class="sd-carbinet__door">
        <slot name="door" :toggler="{ toggle }"></slot>
      </div>
      <transition :name="`sd-carbinet--${openMethod}`">
        <div
          v-show="open"
          class="sd-carbinet__space"
          :class="`sd-carbinet__space--${openMethod}`"
        >
          <slot></slot>
        </div>
      </transition>
    </div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sd-carbinet {
  display: block;
  width: auto;
  height: auto;

  &__curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--curtain);
    background-color: transparent;
  }
}

.sd-carbinet__frame,
.sd-carbinet__door {
  position: relative;
  width: 100%;
  height: 100%;
}

.sd-carbinet__space--dropdown {
  position: absolute;
  min-width: 100%;
  z-index: var(--menu);
  background: white;
  box-shadow: var(--shadow-menu);
}

.sd-carbinet--drawer-enter {

}
</style>