<script>
export default {
  props: {
    embeded: {
      type: Boolean,
      default: false
    },
    show: {
      type: Boolean,
      default: false
    },
    anchor: {
      type: String,
      validator (v) {
        return ['tl', 'tc', 'tr', 'cl', 'cc', 'cr', 'bl', 'bc', 'br'].indexOf(v) !== -1
      },
      default: 'cc'
    }
  },
  // data: () => ({
  //   isShow: false
  // }),
  methods: {
    toggle (show = !this.show) {
      // this.isShow = show
      console.log('toggle', show)
      this.$emit('toggle', show)
    }
  }
}
</script>

<template>
  <div 
    v-bem:sd-modal-stage="{
      show,
      embeded
    }"
    @click.self="toggle(false)"
  >
    <slot v-if="show"></slot>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sd-modal-stage {
  position: static;
  width: 0;
  height: 0;
  display: none;

  &--show {
    display: flex;
    position: fixed;
    z-index: var(--modal);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240,240,240,.8);
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;

    &.sd-modal-stage--embeded {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
</style>