<script>
export default {
  props: {
    nid: String,
    title: String,
    message: String,
    context: {
      type: String,
      validator (v) {
        return ['default', 'highlight', 'positive', 'negative', 'neutral'].indexOf(v) !== -1
      },
      default: 'default'
    },
    actions: {
      type: Array
    }
  }
}
</script>

<template>
  <SDBar
    justify="between"
    :id="nid"
    v-bem:sd-notification="{
      highlight: this.context === 'highlight',
      positive: this.context === 'positive',
      negative: this.context === 'negative',
      neutral: this.context === 'neutral',
    }"
  >
    <div class="sd-notification__content">
      <h6 v-if="title">{{title}}</h6>
      <p v-if="message">{{message}}</p>
    </div>

    <SDBar
      class="sd-notification__actions"
      justify="right"
    >
      <template v-for="action in actions">
        <button
          v-if="action.name"
          :key="action.name"
          v-bem:btn="{
            s: true,
            bar: true,
            text: true
          }"
        >
          <h6>{{action.name}}</h6>
        </button>
      </template>

      <button
        v-bem:btn="{
          s: true,
          bar: true,
          text: true,
          negative: true
        }"
        @click="$emit('dismiss')"
      >
        ×
      </button>
    </SDBar>
  </SDBar>
</template>

<style lang="postcss">
.sd-notification {

  &__content {
    flex: 1;
  }

  &__actions {
    width: auto;
    flex: initial;
  }
}
</style>