<script>
export default {
  name: 'sd-segment-switch',
  props: {
    segments: {
      type: Array,
      required: true
    },
    default: Number
  },
  data: () => ({
    active: 0
  }),
  methods: {
    onSwitch (index) {
      console.log('index')
      this.active = index
      this.$emit('switch', { name: this.segments[index],  index })
    }
  },
  mounted () {
    this.active = this.default || 0
  }
}
</script>

<template>
  <div
    class="sd-segment-switch"
  >
    <div 
      v-for="(item, idx) in segments"
      :key="item"
      @click="onSwitch(idx)"
      v-bem:sd-segment-switch.item="{
        active: idx === active
      }"
    >
      <slot 
        :item="item"
        :idx="idx"
        :active="idx === active"
      ></slot>
    </div>
  </div>
</template>

<style lang="postcss">

.sd-segment-switch {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
</style>