<script>
import SDCarbinet from './SDCarbinet'

export default {
  name: 'SDSelector',
  components: {
    SDCarbinet
  },
  props: {
    placeholder: {
      type: String,
      default: 'Please Select'
    },
    options: Array,
    defaultSelected: {
      type: Number,
      default: -1
    },
    anchor: {
      type: String,
      default: 'selected',
      validator: (v) => ['selected', 'top', 'bottom']
    }
  },
  data: () => ({
    open: false,
    sOptions: [],
    size: {
      width: 0,
      height: 0
    },
    selected: -1
  }),
  computed: {
    listItems () {
      return Object.keys(this.$refs).filter(k => k === 'item').map(k => this.$refs[k])[0]
    },
    listStyle () {
      let style = {}
      if (this.selected >= 0 && this.open) {
        let tly = 0

        switch (this.anchor) {
          case 'selected': 
            tly = -this.selected * this.size.height
            break
          case 'top':
            tly = 0
            break
          case 'bottom':
            tly = -(this.listItems.length - 1) * this.size.height
            break
        }

        style['transform'] = `translateY(${tly}px)`
      }

      return style
    }
  },
  methods: {
    toggle (open = false) {
      console.log('toggle', open)
      this.open = open
    },
    onClick (idx) {
      this.open = false
      this.selected = idx
      this.$emit('selected', idx)
    }
  },
  mounted () {
    this.selected = this.defaultSelected
    this.sOptions = Object.values(this.$refs).filter(c => c.$options._componentTag === 'SDOption')

    this.size = {
      width: this.sOptions.map(i => i.$el.getBoundingClientRect().width).sort((a, b) => {
        return a > b
      })[0],
      height: this.$el.getBoundingClientRect().height
    }
  }
}
</script>

<template>
  <div class="sd-selector">
    <div 
      v-if="open"
      class="sd-selector__curtain"
      @click.self.stop="toggle(false)"
    ></div>
    <div
      class="sd-selector__content"
      :class="{
        'sd-selector__content--show': open
      }"
      @click.self.stop="toggle(true)"
    >
      <ul
        class="list sd-selector__list"
        :style="listStyle"
      >
        <template v-if="!open && selected === -1">
          <li @click="toggle(true)">
            <slot :option="placeholder"></slot>
          </li>
        </template>

        <template
          v-else
          v-for="(name, idx) in options"
        >
          <li
            :key="idx"
            class="sd-selector__item"
            :class="{
              'sd-selector__item--show' : open || idx === selected
            }"
            ref="item"
            @click="onClick(idx)"
          >
            <slot :option="name"></slot>
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.sd-selector {
  position: relative;
  min-width: 10rem;
  min-height: 2rem;

  &__curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--curtain);
    background-color: rgba(0,0,0,.3);
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: var(--menu);
    /*overflow: hidden;*/

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }

    &:after {
      display: block;
      content: '▼';
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: white;
      color: var(--color-highlight);
      font-size: .75rem;
      line-height: 1rem;
      font-weight: bolder;
      margin-top: -.5rem;
      text-align: center;
    }

    &--show {
      overflow: visible;

      &:before {
        display: none;
      }

      &:after {
        content: '▲'
      }
    }

  }

  &__list {
    /*transition: transform .5s;*/
    background: white;
  }

  &__item {
    /*display: none;*/
    height: 0;
    overflow: hidden;
    /*transform: scaleY(0);*/
    /*transition: transform .5s, height .01s .5s;*/

    & * {
      opacity: 0;
    }

    &--show {
      /*display: list-item;*/
      height: auto;
      /*transform: scaleY(1);*/
      /*transition: transform .5s .01s, height .01s;*/

      & * {
        opacity: 1;
      }
    }
  }
}
</style>