<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    _toggle () {
      this.$emit('input', !this.value)
      this.$emit('toggle', !this.value)
    }
  }
}
</script>

<template>
  <button
    class="toggle"
    @click.stop.prevent="_toggle"
  >
    <slot
      v-if="value"
      name="on"
    ></slot>
    <slot
      v-else
      name="off"
    ></slot>
  </button>
</template>