<script>
import ErrorHandler from '~~/components/ErrorHandler'

export default {
  components: {
    ErrorHandler
  },
  async asyncData ({ store }) {
    const { status, data } = await store.dispatch('admin/fetchResourceOptions')
    // console.log(status, data)
    // console.log(status === 200)
    if (status === 200) {
      // console.log('here', Object.keys(data))
      const list = Object.keys(data).reduce((obj, key) => {
        // console.log(obj, key)
        const meta = data[key]
        // console.log(meta)
        if ('system' in meta && meta.system) {
          // console.log(key, meta)
          obj[key] = meta
        }

        return obj
      }, {})

      // console.log(list)

      return {
        status,
        list
      }
    }

    return {
      status
    }
  }
}
</script>

<template>
  <SDBox
    class="page-settings"
    embeded
  >
    <template v-if="status === 200">

      <ul slot="aside" class="list list--striped page-settings__list">
        <li 
          v-for="(meta, key) in list"
          :key="key"
        >
          <nuxt-link
            class="page-settings__section"
            :to="`/admin/settings/${key}`"
          >
            <h5>{{ key }}</h5>
            <span v-if="meta.comment">{{ meta.comment }}</span>
          </nuxt-link>
        </li>
      </ul>

      <!-- <SDBar
        slot="header"
        class="page-settings__header"
        justify="around"
        size="l"
      >
        

        <SDSegmentSwitch
          class="page-settings__section-switch"
          :segments="Object.keys(list)"
          size="l"
        >
          <nuxt-link
            slot-scope="{ item }"
            class="page-settings__section"
            :to="`/admin/settings/${item}`"
          >
            <h6>{{ item }}</h6>
            <span v-if="list[item].comment">{{ list[item].comment }}</span>
          </nuxt-link>
        </SDSegmentSwitch>
      </SDBar> -->

      <nuxt-child v-if="$route.params.name"></nuxt-child>
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-settings {
  width: 100%;
  height: 100%;

  &__list {
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /*&__list {*/

    /*background-color: #fafafa;*/
    /*width: 15rem;*/
    /*ul {*/
  &__section-switch {
    flex: 1;
  }
  
  &__section {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 1rem;
    height: auto;
    min-height: var(--size-m);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    /* opacity: .4; */
    transition: box-shadow .2s, color .2s;

    span {
      font-size: .75rem;
      /*margin-top: .25rem;*/
    }

    &:hover {
      box-shadow: inset .25rem 0 0 var(--color-highlight);
    }

    &.nuxt-link-active,
    &.nuxt-link-active:hover {
      /* color: var(--color-highlight); */
      color: white;
      opacity: 1;
      box-shadow: inset 15rem 0 0 var(--color-highlight);
    }
  }
    /*}*/
  /*}*/
}


</style>