<script>
import ErrorHandler from '~~/components/ErrorHandler'
import EntityObject from '~~/components/EntityObject'
import EntityEditor from '~~/components/EntityEditor'
import utils from '~~/assets/scripts/utils'
import qs from 'querystring'

export default {
  components: {
    ErrorHandler,
    EntityObject,
    EntityEditor
  },
  async asyncData ({ app, store, route }) {
    const name = route.params.name
    const id = route.params.id
    const isNew = id.toLowerCase() === 'new'
    let resOption = await store.dispatch('admin/fetchResourceOptionByName', { name })
    let status = resOption.status
    let schema = resOption.data.schema

    if (status === 200) {
      let entity = utils.getDefault(schema)

      // console.log('isNew')
      // const default = utils.getDefault(schema)

      if (!isNew) {
        // entity = utils.getDefault(schema)
        let resEntity = await store.dispatch('admin/fetchContentEntityById', { name, id })
        // console.log(Object.assign({}, resEntity.data))

        status = resEntity.status
        entity = Object.assign(entity, resEntity.data)
      // } else {
        // entity = default
      }

      // console.log(schema, entity, Object.assign({}, entity))

      return {
        status,
        name,
        id,
        isNew,
        schema,
        entity
      }
    }

    return {
      status
    }
  },
  data: () => ({
    editorValid: true,
    needSave: false
  }),
  computed: {
    querystring () {
      if ('query' in this.$route) {
        return `?${qs.stringify(this.$route.query)}`
      }

      return ''
    },
    contextActions () {
      return {
        save: this.needSave ? () => this.saveContent() : null,
        delete: !this.isNew ? () => this.deleteContent() : null
      }
    }
  },
  watch: {
    entity: {
      deep: true,
      handler (v, ov) {
        console.log('entity change', v, ov)
        if (!('_id' in ov) && '_id' in v) {
          this.$router.replace({
            name: this.$route.name,
            params: Object.assign(this.$route.params, { id: v._id })
          })
        } else {
          this.needSave = true
        }
      }
    },
    contextActions: {
      deep: true,
      handler (v) {
        this.$store.dispatch('admin/registerContextActions', v)
      }
    }
  },
  methods: {
    async reloadContent () {
      if (this.isNew) {}
      const { status, data } = await this.$store.dispatch('admin/fetchContentEntityById', { name: this.name, id: this.id })

      if (status === 200) {
        this.entity = data
        this.isNew = false
      }
    },
    async saveContent () {
      console.log('saveContent')
      if (this.$refs.editor.checkValid()) {
        const { status, data, error } = await this.$store.dispatch('admin/saveContent', {
          name: this.name,
          id: this.isNew ? undefined : this.id,
          entity: this.entity
        })

        if (status === 200) {
          console.log(data)
          // window.alert(`${this.name} Saved`)
          this.$notify({
            title: `${this.name} Saved!`,
            context: 'positive'
          })

          if (this.isNew && data._id) {
            this.$router.replace({ name: this.$route.name, params: Object.assign(this.$route.params, { id: data._id })})
          } else {
            await this.reloadContent()
            this.needSave = false
          }
        } else {
          window.alert(`Error!\n${error.message}`)
        }
      } else {
        window.alert('Invalid Values')
      }
    },
    async deleteContent () {
      console.log('deleteContent')
      if (await this.$refs.editor.confirmDelete()) {
        const { status, error } = await this.$store.dispatch('admin/deleteContent', {
          name: this.name,
          id: this.id
        })

        if (status === 200) {
          this.$notify({
            title: `${this.name} Deleted!`,
            context: 'positive'
          })
          this.$router.replace(`/admin/content/list/${this.name}${this.querystring}`)
        } else {
          window.alert(`Error!\n${error.message}`)
        }
      }
    },
    onEditRef (e) {
      console.log('onEditRef', e)
    },
    onKeySave (ev) {
      console.log('save')
    }
  },
  mounted () {
    this.$store.dispatch('admin/registerContextActions', this.contextActions)

    window.addEventListener('keydown', (ev) => {

      if (ev.keyCode === 83 && ev.ctrlKey) {
        ev.preventDefault()
        ev.stopPropagation()

        this.saveContent()
      }
    })
  },
  beforeDestroy () {
    console.log('page-content-editor-id beforeDestory')
    this.$store.dispatch('admin/unregisterContextActions')
  }
}
</script>

<template>
  <SDBox
    class="page-content-editor"
    embeded
  >
    <template v-if="status === 200">
      <EntityEditor
        ref="editor"
        v-bem:page-content-editor.editor
        v-model="entity"
        :schema="schema"
        :entity-name="name"
        @editrefstart="onEditRef"
      ></EntityEditor>

      <!-- <EntityObject
        :entity-name="name"
        :schema-name="name"
        :path="[]"
        :schema="schema"
        v-model="entity"
      ></EntityObject> -->
    </template>

    <ErrorHandler v-else :status="status"></ErrorHandler>

    <nuxt-link 
      :to="`/admin/content/list/${name}${querystring}`"
      class="page-content-editor__back btn btn--bar btn--m"
    >
      <h6>❮ {{name}} {{ $t('content.list') }}</h6>
    </nuxt-link>
  </SDBox>

</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-content-editor {
  width: 100%;
  height: 100%;
  background-color: #fafafa;

  &__back {
    position: absolute;
    top: .25rem;
    left: .5rem;
    z-index: var(--base);
  }

  &__topbar {
    background-color: white;
  }

  & &__editor {
    min-height: 100%;
  }
}
</style>