<script>
import SDBox from '~~/components/soda/SDBox'
import SDBar from '~~/components/soda/SDBar'

export default {
  components: {
    SDBox, SDBar
  }
}
</script>

<template>
  <SDBox
    class="page-content-editor"
    embeded
  >
    <SDBar
      slot="header"
      size="s"
    >
      <button>Delete</button>
      <button>Save</button>
    </SDBar>

    <div>
      <nuxt-child></nuxt-child>
    </div>
  </SDBox>
</template>

<style lang="postcss">
.page-content-editor {}
</style>