<script>
import utils from '~~/assets/scripts/utils.js'

export default {
  name: 'EntityEditorObject',
  data: () => ({
    safeValue: null
  }),
  watch: {
    value (v) {
      this.safeValue = Object.keys(this.schema).filter(k => {
        return this.ignoreKeys.indexOf(k) === -1
      }).reduce((obj, key) => {
        if (!(key in obj)) {
          if (!('type' in this.schema[key])) {
            this.$set(obj, key, {})
          } else if (this.getType(this.schema[key].type) === 'array') {
            this.$set(obj, key, [])
          } else {
            this.$set(obj, key, null)
          }
        }

        return obj
      }, v || {})
    },
    safeValue: {
      deep: true,
      handler (v) {
        this.$emit('input', v)
      }
    }
  },
  computed: {
    // safeValue: {
    //   get () {
    //     return Object.keys(this.schema).filter(k => this.ignoreKeys.indexOf(k) === -1).reduce((obj, key) => {
    //       if (!(key in obj)) {
    //         if (!('type' in this.schema[key])) {
    //           this.$set(obj, key, {})
    //         } else if (this.getType(this.schema[key].type) === 'array') {
    //           this.$set(obj, key, [])
    //         } else {
    //           this.$set(obj, key, null)
    //         }
    //       }

    //       return obj
    //     }, this.value || {})
    //   },
    //   set (v) {
    //     console.log('input', v)
    //     this.$emit('input', v)
    //   }
    // }
  },
  mounted () {
    this.safeValue = Object.keys(this.schema).filter(k => {
      return this.ignoreKeys.indexOf(k) === -1
    }).reduce((obj, key) => {
      if (!(key in obj)) {
        if (!('type' in this.schema[key])) {
          this.$set(obj, key, {})
        } else if (this.getType(this.schema[key].type) === 'array') {
          this.$set(obj, key, [])
        } else {
          this.$set(obj, key, null)
        }
      }

      return obj
    }, utils.getType(this.value) === 'object' ? this.value : {})
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <SDBar 
      v-if="title || !isNaN(title) || schema.comment"
      class="entity-editor__header"
    >
      <SDBar
        slot="left"
        justify="left"
      >
        <h5
          v-if="title || !isNaN(title)" 
          class="entity-editor__field-title"
        >{{title}}</h5>
        <p
          v-if="schema.comment" 
          class="entity-editor__field-comment"
        >
          <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
        </p>
      </SDBar>
    </SDBar>

    <ul v-if="safeValue" class="list">
      <li 
        v-for="( subSchema, key ) in schema"
        v-if="ignoreKeys.indexOf(key) === -1"
        :key="key"
      > 
        <template v-if="'type' in subSchema">
          <EntityEditorArray
            v-if="getType(subSchema.type) === 'array'"
            :key="key"
            :title="key"
            v-model="safeValue[key]"
            :schema="subSchema"
            :disabled="disabled"
            @editrefstart="onEditRef"
          ></EntityEditorArray>

          <EntityEditorRefWrapper
            v-else-if="subSchema.type === 'ObjectId'"
            :key="key"
            :title="key"
            v-model="safeValue[key]"
            :schema="subSchema"
            :disabled="disabled"
            @editrefstart="onEditRef"
          ></EntityEditorRefWrapper>

          <component
            v-else
            :is="`EntityEditor${subSchema.type}`"
            :key="key"
            :title="key"
            v-model="safeValue[key]"
            :schema="subSchema"
            :disabled="disabled"
            @editrefstart="onEditRef"
          ></component>
        </template>

        <EntityEditorObject
          v-else
          :key="key"
          :title="key"
          v-model="safeValue[key]"
          :schema="subSchema"
          :disabled="disabled"
          @editrefstart="onEditRef"
        ></EntityEditorObject>
      </li>
    </ul>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--object {

  & > ul {
    position: relative;
    /*border-left: 1px solid var(--color-border);*/
    padding-left: 2rem;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 1rem;
      border: 1px solid var(--color-border);
      border-right: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: -.25rem;
      width: .5rem;
      height: .5rem;
      border-top: 1px solid var(--color-border);
      border-left: 1px solid var(--color-border);
      background-color: white;
      transform: translateY(-.25rem) rotate(-45deg);
    }

    & > li + li {
      /* border-top: 1px solid var(--color-border); */
      margin-top: 2rem;
    }
  }

  &.entity-editor--invalid {
    & > ul {
      border-color: var(--color-negative);
    }
  }
  
}
</style>