<script>
export default {
  name: 'EntityEditorString',
  props: {
    password: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    scrollHeight: 0,
    lineHeight: 0,
    paddingTop: 0,
    paddingBottom: 0,
    rows: 3
  }),
  computed: {
    calculatedRowCount () {
      return Math.max(2, Math.ceil(this.scrollHeight / 32 + 1))
    },
    textLengthExceed () {
      return this.inputValue && this.inputValue.length >= this.schema.maxlength
    },
    textPlaceholder () {
      // let p = 'Type'
      let p = this.$t('content.type_str_0')

      if (this.schema.minlength) {
        // p += ` more than ${this.schema.minlength}`
        p += this.$t('content.type_str_min', { num: this.schema.minlength })


        if (this.schema.maxlength) {
          // p += ' and'
          p += this.$t('content.type_str_and')
        }
      }

      if (this.schema.maxlength) {
        // p += ` less than ${this.schema.maxlength}`
        p += this.$t('content.type_str_max', { num: this.schema.maxlength })
      }

      if (this.schema.minlength || this.schema.maxlength) {
        // p += ' charactors...'
        p += this.$t('content.type_str_char')
      } else {
        // p += ' here...'
        p += this.$t('content.type_str_1')
      }

      return p
    }
  },
  watch: {
    inputValue (v) {
      console.log('inputv', v)
      if (!this.password) {
        this.scrollHeight = 0
        this.$nextTick(() => {
          this.scrollHeight = this.$refs.text.scrollHeight
        })
      }
    }
  },
  methods: {
    // validator () {
    //   let valid = true

    //   if (this.schema.required) {
    //     valid = this.value !== null &&
    //             this.value.length > 0
    //   }

    //   if (this.schema.minlength) {
    //     valid = valid && this.value.length >= Number(this.schema.minlength)
    //   }

    //   if (this.schema.maxlength) {
    //     valid = valid && this.value.length <= Number(this.schema.maxlength)
    //   }

    //   if (this.schema.match && 
    //       this.schema.match.length > 0) {
    //     const r = new RegExp(this.schema.match)
    //     valid = valid && r.test(this.value)
    //   }

    //   return valid
    // },
    onInput (ev) {
      // const v = this.inputValue
      // const h = this.$refs.text.scrollHeight
      // console.log(v, h)
      // this.scrollHeight = 0
      // this.$nextTick(() => {
      //   this.scrollHeight = this.$refs.text.scrollHeight
      // })
    },
    getNumber(str) {
      while (isNaN(str)) {
        str = str.slice(0, -1)
      }

      return Number(str)
    },
    checkValid () {
      if (this.isRequired) {
        this.isValid = this.inputValue !== null && this.inputValue !== undefined && this.inputValue.length > 0
      } 
      if (this.schema.minlength) {
        this.isValid = this.isValid && this.inputValue.length >= Number(this.schema.minlength)
      }
      if (this.schema.maxlength) {
        this.isValid = this.isValid && this.inputValue.length <= Number(this.schema.maxlength)
      }
      if (this.schema.match && 
          this.schema.match.length > 0) {
        const r = new RegExp(this.schema.match)
        this.isValid = this.isValid && r.test(this.inputValue)
      }

      return this.isValid
    }
  },
  mounted () {
    console.log('EntityEditorString mounted', this.password)
    if (!this.password) {
      const $style = window.getComputedStyle(this.$refs.text)
      this.lineHeight = this.getNumber($style.getPropertyValue('line-height'))
      this.paddingTop = this.getNumber($style.getPropertyValue('padding-top'))
      this.paddingBottom = this.getNumber($style.getPropertyValue('padding-bottom'))
      this.scrollHeight = this.$refs.text.scrollHeight
    }
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <label>
      <SDBar 
        v-if="title || !isNaN(title) || schema.comment"
        class="entity-editor__header"
      >
        <SDBar
          slot="left"
          justify="left"
        >
          <h5
            v-if="title || !isNaN(title)" 
            class="entity-editor__field-title"
          >{{title}}</h5>
          <p
            v-if="schema.comment" 
            class="entity-editor__field-comment"
          >
            <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
          </p>
        </SDBar>
      </SDBar>

      <template v-if="password">
        <input 
          type="password" 
          v-model="inputValue"
          :disabled="disabled" 
        >
      </template>

      <template v-else>
        <textarea 
          ref="text"
          v-model="inputValue"
          :placeholder="textPlaceholder"
          :minlength="schema.minlength"
          :maxlength="schema.maxlength"
          :rows="calculatedRowCount"
          :disabled="disabled"
          @input="onInput"
        ></textarea>
        <footer
          v-if="this.schema.maxlength"
          class="entity-editor__info"
        >
          <p
            v-if="this.inputValue"
            class="entity-editor__text-count"
            :class="{
              'entity-editor__text-count-exceed': textLengthExceed
            }"
          >
            <strong>{{this.inputValue.length || 0}}</strong>
            <span v-if="schema.maxlength"> / {{ schema.maxlength }}</span>
            <span v-else>Charactors</span></p>
        </footer>
      </template>
    </label>

    <SDBar 
      v-if="$slots.default"
      justify="right"
      class="entity-editor__parent-actions"
    >
      <slot></slot>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--string {
  position: relative;

  textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0;
    border: 0;
    border-bottom: 1px solid var(--color-border);
    resize: none;
    outline: none;
    background: none;
    /* background-image: linear-gradient(to bottom, white 50%, #fafafa 51%); */
    /* background-size: 100% 4rem; */

    &:focus {
      border-color: var(--color-highlight);
    }
  }

  input {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0;
    border: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-border);

    &:focus {
      outline: none;
      border-color: var(--color-highlight)
    }
  }

  .entity-editor__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2rem;

    .entity-editor__text-count {
      opacity: .4;
      font-size: .75rem;

      &--exceed {
        color: var(--color-negative);
      }
    }
  }

  &.entity-editor--invalid {
    textarea {
      border-color: var(--color-negative);
    }
  }
}
</style>