<script>
import EntityEditorRef from '~~/components/editors/EntityEditorRef'

export default {
  name: 'EntityEditorArray',
  components: {
    EntityEditorRef
  },
  data: () => ({
    onAdding: false,
    newValue: null
  }),
  computed: {
    childSchema () {
      return this.schema.type[0]
    },
    childIsItem () {
      return 'type' in this.childSchema
    },
    childIsArray () {
      return this.getType(this.childSchema).type === 'array'
    },
    childSchemaType () {
      if (this.childIsArray) {
        return 'Array'
      } else if (this.childIsItem) {
        return this.childSchema.type
      } else {
        return 'Object'
      }
    },
    childIsObjRef () {
      return this.childSchemaType === 'ObjectId' && 'ref' in this.childSchema
    },
    childRefType () {
      if (this.childIsObjRef) {
        return this.childSchema.ref
      } else {
        return null
      }
    },
    childHasCustomEditor () {
      return this.$hasCustomEditor(this.childSchema.ref)
    },
    childHasCustomList () {
      return this.$hasCustomList(this.childSchema.ref)
    }
  },
  methods: {
    addNewValueStart () {
      this.onAdding = true
      if (this.childIsObjRef) {
        this.$nextTick(() => {
          this.$refs.newRef.onEditStart(true)
        })
      }
    },
    addNewValueCancel () {
      this.newValue = null
      this.onAdding = false
    },
    addNewValueConfirm (list = [this.newValue]) {
      this.$emit('input', this.inputValue.concat(list))
      this.newValue = null
      this.onAdding = false
    },
    onDeleteItem (entity) {
      // console.log('onDeleteItem', idx, this.inputValue.slice(0, idx).concat(this.inputValue.slice(idx + 1)))
      // this.$emit('input', this.inputValue.slice(0, idx).concat(this.inputValue.slice(idx + 1)))
      console.log('onDeleteItem', entity)

      this.$emit('input', this.inputValue.filter(i => {
        console.log(i._id, entity._id)
        if (this.childSchema.embed) {
          return i._id !== entity._id
        } else {
          return i !== entity
        }
      }))
    },
    onSelectRefItem (entity) {
      console.log(entity)
    },
    onAddRefItem (entity) {

    }
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <SDBar 
      v-if="title || !isNaN(title) || schema.comment"
      class="entity-editor__header"
    >
      <SDBar
        slot="left"
        justify="left"
      >
        <h5
          v-if="title || !isNaN(title)" 
          class="entity-editor__field-title"
        >{{title}}</h5>
        <p
          v-if="schema.comment" 
          class="entity-editor__field-comment"
        >
          <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
        </p>
      </SDBar>
    </SDBar>

    <!-- <EntityEditorRef 
      v-if="childIsObjRef"
      :ref-type="childRefType"
      :schema="childSchema"
      :entities="value"
    >
      <template slot-scope="{ entities }">
        <component
          v-if="childHasCustomList"
          :is="`CustomList_${childRefType}`"
          :list="entities"
          :schema="childSchema"
          :name="childRefType"
          fn-add
          fn-delete
          @add="onAddRefItem($event.entity)"
          @delete="onDeleteItem($event.entity)"
          @select="onSelectRefItem($event.entity)"
        ></component>

        <EntityList
          v-else
          :list="entities"
          :schema="childSchema"
          :name="childRefType"
          fn-add
          fn-delete
          @delete="onDeleteItem($event.entity)"
          @select="onSelectRefItem($event.entity)"
        ></EntityList>
      </template>
    </EntityEditorRef> -->

    <template v-if="childIsObjRef && childHasCustomList && childSchema.embed">
      <component
        class="entity-editor__custom-list"
        :is="`CustomList_${childRefType}`"
        :list="value"
        :schema="childSchema"
        :name="childRefType"
        fn-delete
        fn-pick
        :fn-resort="schema.sortable || false"
        @delete="onDeleteItem($event.entity)"
        @resort="$emit('input', $event)"
      >
        <EntityEditorRefWrapper
          v-if="childIsObjRef"
          ref="newRef"
          v-model="newValue"
          :schema="childSchema"
          list
          embeded
          :current="inputValue"
          :list-max="Number(schema.capacity) || Infinity"
          @editcancel="addNewValueCancel"
          @editconfirm="addNewValueConfirm"
        ></EntityEditorRefWrapper>
      </component>

      
    </template>

    <ol 
      v-else
      :class="childIsObjRef ? 'flow' : 'list'"
    >
      <li 
        v-for="( item, idx ) in value"
        :key="typeof item === 'string' ? item : Object.values(item).toString()"
      >
        <EntityEditorRefWrapper
          v-if="childIsObjRef"
          v-model="inputValue[idx]"
          :schema="childSchema"
          :disabled="disabled"
          @delete="onDeleteItem(item)"
        >
        </EntityEditorRefWrapper>

        <component
          v-else
          :is="`EntityEditor${childSchemaType}`"
          v-model="inputValue[idx]"
          :title="idx"
          :schema="childSchema"
          :disabled="disabled"
          @delete="onDeleteItem(item)"
        >
        </component>

        <button 
          class="btn btn--xs btn--negative btn-del-item"
          @click="onDeleteItem(item)"
          :disabled="disabled"
        >
          <h6>-</h6>
        </button>
      </li>

      <li class="entity-editor__new-item">
        <SDBar
          v-if="!childIsObjRef"
          justify="center"
        >
          <template
            v-if="onAdding">
            <button 
              slot="left"
              class="btn btn--bar"
              @click="addNewValueCancel"
            >
              <h6>Cancel</h6>
            </button>

            <button 
              slot="right"
              class="btn btn--bar"
              @click="addNewValueConfirm([newValue])"
            >
              <h6>OK</h6>
            </button>
          </template>
        </SDBar>

        <template v-if="onAdding">
          <EntityEditorRefWrapper
            v-if="childIsObjRef"
            ref="newRef"
            v-model="newValue"
            title="New Item"
            :schema="childSchema"
            list
            :current="inputValue"
            :list-max="Number(schema.capacity) || Infinity"
            @editcancel="addNewValueCancel"
            @editconfirm="addNewValueConfirm"
          ></EntityEditorRefWrapper>

          <component
            v-else
            :is="`EntityEditor${childSchemaType}`"
            v-model="newValue"
            title="New Item"
            :schema="childSchema"
          ></component>
        </template>

        <button 
          v-if="!onAdding"
          class="btn btn--xs btn--positive entity-editor__add-item"
          :class="{
            'entity-editor__add-item--ref': childIsObjRef
          }" 
          @click="addNewValueStart"
          :disabled="disabled"
        >
          <h6>+</h6>
        </button>
      </li>
    </ol>

    <SDBar 
      v-if="$slots.default"
      justify="right"
      class="entity-editor__parent-actions"
    >
      <slot></slot>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import "~~/assets/styles/var.pcss";

.entity-editor--array {

  & > ol {

    &.list {
      position: relative;
      padding-left: 2rem;
      margin-left: .75rem;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 1rem;
        border: 1px solid var(--color-border);
        border-right: 0;
      }

      & > li {
        position: relative;

        .btn-del-item,
        .btn-add-item {
          position: absolute;
          top: .75rem;
          left: -2.75rem;
        }

        & + li {
          /* border-top: 1px solid var(--color-border); */
          margin-top: 2rem;
        }
      }
    }

    &.flow {
      position: relative;
      padding: 1rem;
      border: 1px solid var(--color-border);
      background-color: #fafafa;
      align-items: center;

      & > li {
        /* display: flex; */
        min-width: 25%;
        max-width: 50%;
        padding: .5rem;
        position: relative;
        margin: 0;

        .btn-del-item {
          position: absolute;
          top: .5rem;
          right: .5rem;
        }

        &.entity-editor__new-item {
          /* width: 100%; */
        }
      }
    }
  } 

  &.entity-editor--invalid {
    & > ol {
      border-color: var(--color-negative);
    }
  }

  .entity-editor__array-length {
    font-size: .75rem;
    opacity: .4;
    margin-right: .5rem;
  }

  .entity-editor__add-item--ref {
    width: var(--size-s);
    height: var(--size-s);
    margin: auto;
  }

  .entity-editor__custom-list {
    border: 1px solid var(--color-border);
  }
}
</style>