<script>
export default {
  name: 'EntityEditorNumber',
  data: () => ({
    numberValue: '',
    needCalc: false
  }),
  computed: {
    max () {
      return 'max' in this.schema ? Number(this.schema.max) : Infinity
    },
    min () {
      return 'min' in this.schema ? Number(this.schema.min) : -Infinity
    },
    numberPlaceholder () {
      // return 'Type here...'
      return this.$t('content.type_here')
    }
  },
  // watch: {
  //   inputValue: {
  //     immediate: true,
  //     handler (v, ov) {
  //       console.log(v, ov)
  //     }
  //   }
  // },
  methods: {
    onInputNumber (ev) {      
      if (ev.data) {
        const c = ev.data
        if ((/\./g).test(c) && this.numberValue.match(/\./g) && this.numberValue.match(/\./g).length <= 1) {
        } else if (isNaN(c) || c.trim() === '') {
          this.numberValue = this.numberValue.slice(0, -c.length)
        }
      }
    },
    onBlur () {
      this.calculateNumber()
      this.$emit('input', this.numberValue)
    },
    onAdd (ev) {
      this.numberValue = String(this.getNumInRange(Number(this.numberValue) + (ev.shiftKey ? 10 : 1)))
    },
    onMinus (ev) {
      this.numberValue = String(this.getNumInRange(Number(this.numberValue) - (ev.shiftKey ? 10 : 1)))
    },
    getNumInRange (num) {
      return Math.min(Math.max(num, this.min), this.max)
    },
    calculateNumber () {
      if (/^\./.test(this.numberValue)) {
        this.numberValue = '0' + this.numberValue
      }

      this.numberValue = this.getNumInRange(Number(this.numberValue))
    },
    checkValid () {
      if (this.isRequired) {
        this.isValid = this.inputValue !== null && this.inputValue !== undefined && String(this.inputValue).length > 0
      }

      if (this.schema.min) {
        this.isValid = this.isValid && Number(this.inputValue) >= Number(this.schema.min)
      }

      if (this.schema.max) {
        this.isValid = this.isValid && Number(this.inputValue) <= Number(this.schema.max)
      }

      return this.isValid
    }
  },
  beforeMount () {
    this.numberValue = this.inputValue || ''
  }
}
</script>


<template>
  <div
    :class="editorClass"
  >
    <label>

      <SDBar 
        v-if="title || !isNaN(title) || schema.comment"
        class="entity-editor__header"
      >
        <SDBar
          slot="left"
          justify="left"
        >
          <h5
            v-if="title || !isNaN(title)" 
            class="entity-editor__field-title"
          >{{title}}</h5>
          <p
            v-if="schema.comment" 
            class="entity-editor__field-comment"
          >
            <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
          </p>
        </SDBar>
      </SDBar>

      <textarea
        v-model="numberValue"
        rows="2"
        :placeholder="numberPlaceholder"
        :disabled="disabled"
        @input="onInputNumber"
        @blur="onBlur"
        @keypress.enter.prevent="onBlur"
        @keyup.up.prevent="onAdd"
        @keyup.down.prevent="onMinus"
      ></textarea>
    </label>

    <SDBar 
      v-if="$slots.default"
      justify="right"
      class="entity-editor__parent-actions"
    >
      <slot></slot>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--number {
  textarea {
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0;
    border: 0;
    border-bottom: 1px solid var(--color-border);
    resize: none;
    outline: none;
    /* background-image: linear-gradient(to bottom, white 50%, #fafafa 51%); */
    /* background-size: 100% 3rem; */

    &:focus {
      border-color: var(--color-highlight);
    }
  }

  &.entity-editor--invalid {
    textarea {
      border-color: var(--color-negative);
    }
  }
}
</style>