<script>
export default {
  props: {
    refType: {
      type: String,
      required: true
    },
    schema: {
      type: Object,
      required: true
    },
    entities: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    safeEntities: []
  }),
  computed: {
    isEmbed () {
      return this.schema.embed || false
    }
  },
  watch: {
    entities: {
      deep: true,
      async handler (v) {
        await this.updateSafeEntities(v)
      }
    }
  },
  methods: {
    async fetchRefEntity (id) {
      const { status, data } = await this.$store.dispatch('admin/fetchContentEntityById', {
        name: this.refType,
        id
      })

      if (status === 200) {
        return data
      }

      return null
    },
    async updateSafeEntities (entities = this.entities) {
      if (this.isEmbed) {
        this.safeEntities = entities
      } else {
        this.safeEntities = (await Promise.all(entities.map(id => {
          return this.fetchRefEntity(id)
        }))).filter(entity => entity !== null)
      }
    },
    onClick () {
      console.log('on self click')
    }
  },
  async mounted () {
    await this.updateSafeEntities()
  }
}
</script>

<template>
  <div 
    v-bem:entity-editor.ref
    @click="onClick"
  >
    <slot :entities="this.safeEntities"></slot>
  </div>
</template>

<style lang="postcss">
.entity-editor__ref {

}
</style>