<script>

export default {
  name: 'EntityEditorRefWrapper',
  props: {
    list: {
      type: Boolean,
      default: false
    },
    embeded: {
      type: Boolean,
      default: false
    },
    current: {
      type: Array,
      default: () => []
    },
    listMax: {
      type: Number,
      default: Infinity
    }
  },
  data: () => ({
    picking: false,
    editing: false,
    refSchema: null,
    refValue: null,
    pickedItems: []
  }),
  computed: {
    isEmbed () {
      return this.schema.embed || false
    },
    hasValue () {
      return Boolean(this.value)
    },
    refId () {
      if (this.refValue && '_id' in this.refValue) {
        return this.refValue._id
      } else if (this.inputValue) {
        if (!this.embed) {
          return this.inputValue
        } else if ('_id' in this.inputValue) {
          return this.inputValue._id
        }
      }

      return null
    },
    // pickedItems: {
    //   get () {
    //     return [this.refValue]
    //   },
    //   set (v) {
    //     console.log('on set pickedItems', v)
    //     if (!this.list) {
    //       v = v[v.length - 1]
    //     }
    //     console.log(v)
    //     if (this.isEmbed) {
    //       this.refValue = v
    //     } else {
    //       this.refValue = v
    //     }
    //   }
    // },
    hasCustomListItem () {
      return this.$hasCustomListItem(this.schema.ref)
    },
    currentIds () {
      if (this.list) {
        return this.isEmbed ? this.current.map(v => v._id) : this.current
      } else {
        return []
      }
    }
  },
  watch: {
    refValue: {
      deep: true,
      handler (v, ov) {
        console.log('refValue change', v, ov)
      }
    }
  },
  methods: {
    updateInput () {
      if (this.isEmbed) {
        this.$emit('input', this.refValue)

        return
      } else {
        this.$emit('input', this.refId)

        return
      }

      this.$emit('input', null)
    },
    async fetchRefEntity (id = this.refId) {
      const { status, data } = await this.$store.dispatch('admin/fetchContentEntityById', {
        name: this.schema.ref,
        id
      })

      if (status === 200) {
        return data
      }

      return null
    },
    async saveRefEntity () {
      console.log(this.schema.ref, this.refId !== null ? this.refId : undefined, this.refValue)
      const { status, data } = await this.$store.dispatch('admin/saveContent', {
        name: this.schema.ref,
        id: this.refId !== null ? this.refId : undefined,
        entity: this.refValue
      })

      if (status === 200) {
        this.refValue = await this.fetchRefEntity(data._id)
        this.updateInput()
      }

      this.editing = false
    },
    onEditStart (pick = false) {
      console.log('onEditStart', pick)
      this.editing = true
      this.picking = pick
      this.pickedItems = this.refValue ? (this.list ? this.refValue : [this.refValue]) : []
    },
    onEditCancel() {
      // console.log('onEditCancel', from)
      this.editing = false
      this.picking = false
      this.pickedItems = []
      this.$emit('editcancel')
    },
    async onEditSubmit () {
      console.log(this.refValue, this.refId)
      if (!this.refValue && this.pickedItems.length === 0 && !this.pickedItems[this.pickedItems.length - 1]) {
        this.onEditCancel()
      } else {
        if (this.picking) {
          if (this.list) {
            this.editing = false
            this.picking = false

            if (this.isEmbed) {
              this.$emit('editconfirm', this.pickedItems)
            } else {
              this.$emit('editconfirm', this.pickedItems.map(i => i._id))
            }

            return
          } else {
            this.refValue = this.pickedItems[0]
          }
        } else {
          await this.saveRefEntity()
        }

        this.editing = false
        this.picking = false
        this.updateInput()

        this.$emit('editconfirm')
      }

      this.pickedItems = []
    },
    // onSubmitPick (obj) {
    //   console.log('onSubmitPick', obj)
    //   this.refValue = this.pickedItems[this.pickedItems.length - 1]
    //   this.picking = false
    //   this.updateInput()
    // },
    onDeleteRef () {
      this.refValue = null
      this.updateInput()
    }
  },
  async mounted () {
    const { status, data } = await this.$store.dispatch('admin/fetchResourceOptionByName', { name: this.schema.ref })

    if (status === 200) {
      this.refSchema = data.schema

      if (this.isEmbed) {
        this.refValue = this.inputValue || null
      } else if (this.inputValue) {
        this.refValue = await this.fetchRefEntity()
      }
    }
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <SDBar 
      v-if="title || !isNaN(title) || schema.comment"
      class="entity-editor__header"
    >
      <SDBar
        slot="left"
        justify="left"
      >
        <h5
          v-if="title || !isNaN(title)" 
          class="entity-editor__field-title"
        >{{title}}</h5>
        <p
          v-if="schema.comment" 
          class="entity-editor__field-comment"
        >
          <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
        </p>
      </SDBar>
    </SDBar>

    <div 
      v-if="refSchema" 
      class="entity-editor__ref-content"
      :class="{
        'entity-editor__ref-content--null': !refValue
      }"
    >
      <template v-if="refValue">
        <component
          v-if="hasCustomListItem"
          :is="`CustomListItem_${schema.ref}`"
          :entity="refValue"
          :schema="schema"
          :title="schema.ref"
          @select="onEditStart(true)"
          @delete="$emit('delete', $event)"
        ></component>

        <EntityListItem
          v-else
          :entity="refValue"
          :schema="refSchema"
          :title="schema.ref"
          @select="onEditStart(true)"
          @delete="$emit('delete', $event)"
        ></EntityListItem>
      </template>

      <template v-else>
        <button 
          class="btn btn--s"
          :class="{ 'btn--text' : embeded }"
          @click="onEditStart(true)"
        >
          <h2>+</h2>
        </button>
      </template>

      <!-- <div class="entity-editor__ref-actions">
        <SDBar justify="evenly">
          <button 
            class="btn btn--bar" 
            @click="picking = true"
          >
            <h6>Pick</h6>
          </button>
          <button 
            class="btn btn--bar" 
            @click="onEditStart"
          >
            <h6>Edit</h6>
          </button>

          <button 
            class="btn btn--bar btn--negative" 
            @click="onDeleteRef"
            :disabled="!refValue"
          >
            <h6>Delete</h6>
          </button>
        </SDBar>
      </div>   -->
    </div>

    <!-- <SDModalStage
      :show="picking"
      ref="modalPick"
      @toggle="picking = $event"
    >
      <EntityPicker
        :name="schema.ref"
        :picked="pickedItems"
        :max="list ? Infinity : 1"
        @cancel="picking = false"
        @submit="onSubmitPick"
      ></EntityPicker>
    </SDModalStage> -->

    <SDModalStage
      :show="editing"
      ref="modalEdit"
    >
      <!-- <SDBox class="entity-editor__ref-editor"> -->
        <!-- <SDBar
          slot="header"
          justify="center"
        >
          <button
            slot="left"
            class="btn btn--bar btn--negative"
            @click="onEditCancel('btn')"
          >
            <h5>Cancel</h5>
          </button>


          <SDSegmentSwitch
            v-if="!list || !refValue"
            :segments="['Pick', 'New']"
            @switch="picking = $event.index === 0"
            :default="picking ? 0 : 1"
          >
            <button
              slot-scope="{ item, idx, active }"
              v-bem:btn="{
                bar: true,
                active,
                gray: !active
              }"
            >
              <h6>{{item}}</h6>
            </button>
          </SDSegmentSwitch>

          <button
            slot="right"
            class="btn btn--bar"
            @click="onEditSubmit"
            :disabled="pickedItems.length === 0"
          >
            <h5>Pick {{pickedItems.length > 0 ? `${pickedItems.length} Item${pickedItems.length > 1 ? 's' : ''}` : ''}}</h5>
          </button>
        </SDBar> -->

        <template v-if="refSchema">
          <EntityPicker
            class="entity-editor__ref-editor"
            v-model="pickedItems"
            v-if="picking"
            :name="schema.ref"
            :schema="schema"
            :max="list ? listMax - currentIds.length : 1"
            :currentList="currentIds"
            @cancel="onEditCancel"
            @submit="onEditSubmit"
          ></EntityPicker>

          <!-- <div
            v-else
            class="entity-editor__ref-editor-obj"
          >
            <component
              v-if="hasCustomEditor"
              :is="`CustomEditor_${schema.ref}`"
              v-model="refValue"
              :schema="schema"
              disabled
            ></component>
            <EntityEditorObject
              class="entity-editor--default"
              v-else
              v-model="refValue"
              :schema="refSchema"
            ></EntityEditorObject>
          </div> -->
        </template>
      <!-- </SDBox> -->
    </SDModalStage>

    <SDBar 
      v-if="$slots.default"
      justify="right"
      class="entity-editor__parent-actions"
    >
      <slot></slot>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--objectid {
  .entity-editor__ref-editor {
    width: calc(100vw - 20rem);
    height: calc(100vh - 10rem);
    /*min-width: 40rem;
    max-width: 60rem;
    min-height: 40rem;
    max-height: 90%;*/
    margin: auto;
    background-color: white;
    box-shadow: var(--shadow-modal);

    &-obj {
      /*padding: 2rem;*/
    }
  }

  .entity-editor__ref-content {
    position: relative;

    .entity-editor__ref-actions {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(240,240,240,.95);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &--null {
      .entity-editor__ref-actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
</style>