<script>
export default {
  name: 'EntityEditorBoolean',
  watch: {
    inputValue (v) {
      if (v === null) {
        this.$emit('input', false)
      }
    }
  },
  mounted () {
    if (this.inputValue === null) {
      this.inputValue = false
    }
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <label>
      <SDBar 
        v-if="title || !isNaN(title) || schema.comment"
        class="entity-editor__header"
      >
        <SDBar
          slot="left"
          justify="left"
        >
          <h5
            v-if="title || !isNaN(title)" 
            class="entity-editor__field-title"
          >{{title}}</h5>
          <p
            v-if="schema.comment" 
            class="entity-editor__field-comment"
          >
            <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
          </p>
        </SDBar>
      </SDBar>

      <input type="checkbox" v-model="inputValue" :disabled="disabled">
    </label>

    <SDBar 
      v-if="$slots.default"
      justify="right"
      class="entity-editor__parent-actions"
    >
      <slot></slot>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--boolean {
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
  }

  &.entity-editor--invalid {
    label {
      border-color: var(--color-negative);
    }
  }
}
</style>