<script>

export default {
  name: 'EntityEditorDate',
  data: () => ({
    isMounted: false
  }),
  mounted () {
    this.isMounted = true
  }
}
</script>

<template>
  <div
    :class="editorClass"
  >
    <SDBar 
      v-if="title || !isNaN(title) || schema.comment"
      class="entity-editor__header"
    >
      <SDBar
        slot="left"
        justify="left"
      >
        <h5
          v-if="title || !isNaN(title)" 
          class="entity-editor__field-title"
        >{{title}}</h5>
        <p
          v-if="schema.comment" 
          class="entity-editor__field-comment"
        >
          <span v-if="title || !isNaN(title)">&nbsp;/&nbsp;</span>{{schema.comment}}
        </p>
      </SDBar>
    </SDBar>

    <input
      type="hidden"
      id="datepicker-trigger"
      placeholder="Select dates"
      :value="inputValue"
    >
    <AirbnbStyleDatepicker
      v-if="isMounted"
      mode="single"
      trigger-element-id="datepicker-trigger"
      :date-one="value"
      :inline="true"
      :disabled="disabled"
      @date-one-selected="val => { inputValue = val }"
    ></AirbnbStyleDatepicker>

  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-editor--date {
  .asd__wrapper {
    border-color: var(--color-border);
    text-transform: uppercase;
  }
}
</style>