<script>
import EditorMixin from '~~/assets/scripts/mixins/EditorMixin.js'

export default {
  name: 'EntityEditor',
  props: {
    entityName: String
  },
  computed: {
    $_hasCustomEditor () {
      return this.$hasCustomEditor(this.entityName)
    }
  },
  mixins: [
    EditorMixin
  ],
  methods: {
    checkValid () {
      return this.$children.reduce((v, c) => {
        if ('checkValid' in c && typeof c.checkValid === 'function') {
          return v && c.checkValid()
        }

        return v
      }, true)
    },
    async confirmDelete () {
      if (this.$_hasCustomEditor) {
        return await this.$refs.customEditor.confirmDelete()
      } else {
        return window.confirm('delete this entity?')
      }
    }
  }
}
</script>

<template>
  <component 
    v-if="$_hasCustomEditor"
    :is="`CustomEditor_${entityName}`"
    ref="customEditor"
    v-model="inputValue"
    :schema="schema"
    :name="contentName"
    @editrefstart="onEditRef"
  ></component>

  <component
    v-else
    :is="`EntityEditor${schemaType}`"
    v-model="inputValue"
    :schema="schema"
    :name="contentName"
    class="entity-editor--default"
    @editrefstart="onEditRef"
  ></component>
</template>