<script>
import ListItemMixin from '~~/assets/scripts/mixins/ListItemMixin'

export default {
  name: 'EntityListItem',
  mixins: [
    ListItemMixin
  ]
}
</script>

<template>
  <div 
    class="entity-default-item"
    :class="entityItemClass"
    @click="selectSelf"
  >
    <template v-if="schemaType === 'Object'">
      <ul class="list">
        <li 
          v-for="( subSchema, key ) in schema"
          v-if="ignoreKeys.indexOf(key) === -1 && key in entity"
          :key="key"
        >
          <SDBar justify="left">
            <h6 class="entity-list-item__field-title">{{key}}</h6>
            <p
              v-if="schema[key].comment" 
              class="entity-list-item__field-comment"
            >
              <span>&nbsp;/&nbsp;</span>{{schema[key].comment}}
            </p>
          </SDBar>
          <EntityListItem
            class="entity-item--sub"
            :schema="subSchema"
            :entity="entity[key]"
          ></EntityListItem>
        </li>
      </ul>
    </template>

    <template v-else-if="schemaType === 'Array'">
      <ol class="list">
        <li 
          v-for="( item, idx ) in entity"
          :key="idx"
        > 
          <SDBar justify="left">
            <h6 class="entity-list-item__field-title">{{idx}}</h6>
            <p
              v-if="schema.type[0].comment" 
              class="entity-list-item__field-comment"
            >
              <span>&nbsp;/&nbsp;</span>{{schema.type[0].comment}}
            </p>
          </SDBar>
          <EntityListItem
            class="entity-item--sub"
            :schema="schema.type[0]"
            :entity="item"
          ></EntityListItem>
        </li>
      </ol>
    </template>

    <template v-else>
      <p>{{entity}}</p>
    </template>

    <input 
      v-if="fnPick"
      v-bem:entity-default-item.select-indicator
      type="checkbox" 
      v-model="selected"
    >
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-default-item {
  width: 100%;
  height: 100%;
  max-height: 20rem;
  overflow: hidden;
  border: 1px solid var(--color-border);
  padding: 1rem;
  font-size: .75rem;
  position: relative;

  ul, ol {
    padding-left: 1rem;
    border-left: 1px solid var(--color-border);
    li + li {
      margin-top: 1rem;
    }
  }

  &__field-title {
    text-transform: uppercase;
    opacity: .4;
  }

  &__field-comment {
    font-size: .75rem;
  }

  &.entity-item--sub {
    border: none;
    padding: 0;
  }

  &.entity-item--selected {
    border-color: var(--color-highlight);
  }

  &__select-indicator {
    position: absolute;
    top: .5rem;
    left: .5rem;
  }
}
</style>