<script>
export default {
  name: 'EntityPicker',
  props: {
    name: {
      type: String,
      required: true
    },
    value: {
      type: Array
    },
    max: {
      type: Number,
      default: Infinity
    },
    schema: {
      type: Object,
      default: () => ({
        type: undefined
      })
    },
    currentList: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    list: [],
    pickedList: [],
    query: {},
  }),
  computed: {
    unPickedEntities () {
      return this.list.filter(item => {
        return this.currentList.indexOf(item._id) === -1
      })
    },
    pickedIds () {
      return this.pickedList.slice().filter(entity => entity && '_id' in entity).map(entity => entity._id)
    },
    hasCustomList () {
      return this.$hasCustomList(this.name)
    },
    hasCustomListItem () {
      return this.$hasCustomListItem(this.name)
    }
  },
  watch: {
    pickedList: {
      deep: true,
      handler (v, ov) {
        this.$emit('input', v)
      }
    }
  },
  methods: {
    async reloadList (query = this.query) {
      const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', {
        name: this.name,
        query
      })

      if (status === 200) {
        this.$set(this, 'list', data)
        this.$set(this, 'query', query)
      }
    },
    onPick (item) {
      if (this.pickedIds.indexOf(item._id) === -1 &&
          this.currentList.indexOf(item._id) === -1) {
        this.pickedList.push(item)
      } else {
        console.log('duplicated')
        this.pickedList = this.pickedList.filter(i => {
          return i._id !== item._id
        })
      }
      console.log(this.pickedList)
      while(this.pickedList.length > this.max) {
        console.log(this.pickedList.length)
        this.pickedList = this.pickedList.slice(1)
      }
    },
    submitPick () {
      this.$emit('submit', this.pickedList)
    },
    cancalPick () {
      this.$emit('cancel')
    },
    async onAddItem (entity) {
      const { status, data } = await this.$store.dispatch('admin/saveContent', {
        name: this.name,
        id: null,
        entity
      })

      if (status === 200) {
        this.reloadList()
      }
    },
    toggleSelectAll (select) {
      if (select) {
        // this.pickedList
        this.pickedList = this.list
      } else {
        this.pickedList = []
      }
    }
  },
  async mounted () {
    const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', {
      name: this.name
    })

    if (status === 200) {
      this.$set(this, 'list', data)

      this.pickedList = this.value ? this.value.slice() : []
    }
  }
}
</script>

<template>
  <SDBox
    class="entity-picker"
  >
    <SDBar
      slot="header"
      justify="center"
    >
      <button
        slot="left"
        class="btn btn--bar btn--negative"
        @click="cancalPick"
      >
        <h5>{{ $t('action.cancel') }}</h5>
      </button>

      <button 
        v-if="pickedList.length < list.length"
        slot="right"
        class="btn btn--bar"
        @click="toggleSelectAll(true)"
      >
        <h6>{{ $t('action.select_all') }}</h6>
      </button>
      <button 
        v-else
        slot="right"
        class="btn btn--bar btn--negative"
        @click="toggleSelectAll(false)"
      >
        <h6>{{ $t('action.unselect_all') }}</h6>
      </button>
      <button
        slot="right"
        class="btn btn--bar"
        @click="submitPick"
        :disabled="pickedList.length === 0"
      >
        <!-- <h5>OK</h5> -->
        <!-- <h5>Select {{pickedList.length > 0 ? `${pickedList.length} Item${pickedList.length > 1 ? 's' : ''}` : ''}}</h5> -->
        <h5>{{ $tc('action.select_item', pickedList.length, { num: pickedList.length }) }}</h5>
      </button>
    </SDBar>
    <component
      v-if="hasCustomList"
      :is="`CustomList_${this.name}`"
      :list="unPickedEntities"
      :query="query"
      fn-pick
      fn-page
      @select="onPick($event.entity)"
      :selected-list="pickedList"
      @query="reloadList"
      fn-add
      @add="onAddItem($event.entity)"
    ></component>

    <EntityList
      v-else
      :list="unPickedEntities"
      :name="name"
      :query="query"
      fn-pick
      fn-page
      @select="onPick($event.entity)"
      :selected-list="pickedList"
      @query="reloadList"
      fn-add
      @add="onAddItem($event.entity)"
    ></EntityList>

    <!-- <ul class="flow entity-picker__list">
      <li
        v-for="item in list"
        v-if="currentList.indexOf(item._id) === -1"
        :key="item._id"
        class="entity-picker__list-item"
        :class="{
          'entity-picker__list-item--picked': pickedIds.indexOf(item._id) !== -1
        }"
      >
        <components
          v-if="hasCustomListItem"
          :is="`CustomListItem_${name}`"
          :entity="item"
          :schema="schema"
          @select="onPick"
          :selected="pickedIds.indexOf(item._id) !== -1"
        ></components>

        <EntityListItem
          v-else
          :entity="item"
          :schema="schema"
          @select="onPick"
          :selected="pickedIds.indexOf(item._id) !== -1"
        ></EntityListItem>
      </li>
    </ul> -->
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-picker {
  width: 100%;
  height: 100%;
  max-width: calc(100vw - 20rem);
  max-height: calc(100vh - 10rem);
  /*max-width: 60rem;
  max-height: 90%;*/
  /*margin: auto;*/
  /*background-color: white;*/

  ul {
    li + li {
      margin: 0;
    }
  }

  &__list-item {
    min-width: 25%;
    max-width: 50%;
    padding: .5rem;
    margin: 0;

    /*button {
      width: 100%;
      padding: .5rem;
      outline: none;
      background: none;
      border: none;
      border: 1px solid var(--color-border);
    }*/

    /*&--picked {
      button {
        border-color: var(--color-highlight);
        box-shadow: 0 0 0 1px var(--color-highlight) inset;
      }
    }*/
  }
}
</style>