<script>
import ListMixin from '~~/assets/scripts/mixins/ListMixin.js'

export default {
  name: 'EntityList',
  mixins: [ListMixin],
  computed: {
    listClassMod () {
      let obj = {}
      obj[this.name] = true

      return obj
    }
  },
  methods: {
    onDelete (entity) {
      if (this.fnDelete) {
        this.$refs.box.alert({
          title: 'Irrevocable Action!',
          message: `Delete this entity?`,
          actions: [
            {
              title: 'Delete',
              context: 'negative',
              disabled: false,
              handler: () => {
                console.log('action handler yes')
                this.onChildDelete(entity, true)
                this.$refs.box.dismissAlert()
              }
            },
            {
              title: 'Cancel',
              context: 'default',
              disabled: false,
              handler: () => {
                console.log('action handler no')
                this.$refs.box.dismissAlert()
              }
            }
          ]
        })
      }
    }
  }
}
</script>

<template>
  <SDBox 
    ref="box"
    embeded
    v-bem:entity-list="listClassMod"
  >
    <SDBar
      slot="header"
      v-bem:entity-list.header
    >
      <h5 slot="left">
        <template v-if="list.length === 0">Nothing</template>
        <template v-else>
          {{list.length}}&nbsp;{{name}}<template v-if="name && list.length > 1">s</template>
        </template>
      </h5>

      <button
        v-if="fnAdd"
        slot="right"
        v-bem:btn="{
          bar: true
        }"
        @click="$emit('select', { entity: { _id: 'new' } })"
      >
        <h6>+ {{ $t('content.new') }}</h6>
      </button>
    </SDBar>

    <ol class="flow entity-list__flow">
      <li 
        v-for="(item, idx) in list"
        :key="idx"
        v-bem:entity-list.item="{
          selected: selectedIds.indexOf(item._id) !== -1
        }"
      >
        <!-- <slot :entity="item" :idx="idx" :selected="selectedIds.indexOf(item._id) !== -1"></slot> -->
        <component
          v-if="hasCustomItem"
          :is="`CustomListItem_${name}`"
          :entity="item"
          :schema="schema"
          :selected="selectedIds.indexOf(item._id) !== -1"
          @select="onChildSelect($event)"
          @update="onChildUpdate($event)"
        ></component>

        <EntityListItem
          v-else
          :entity="item"
          :schema="schema"
          :fn-pick="fnPick"
          :selected="selectedIds.indexOf(item._id) !== -1"
          @select="onChildSelect($event)"
          @update="onChildUpdate($event)"
        ></EntityListItem>

        <button 
          v-if="fnDelete"
          class="entity-list__btn-del-item"
          v-bem:btn="{
            negative: true,
            xs: true
          }"
          @click="onDelete(item)"
        >✕</button>
      </li>
    </ol>
  </SDBox>
</template>

<style lang="postcss">
.entity-list {
  background-color: #fafafa;

  &__header {
    background-color: white;
  }

  ol&__flow {
    align-items: center;
  }

  &__item {
    position: relative;
    width: 25%;
    height: auto;
    padding: 1rem;

    &:hover {
      .entity-list__btn-del-item {
        opacity: 1;
      }
    }
  }

  &__btn-del-item {
    position: absolute;
    top: .5rem;
    right: .5rem;
    opacity: 0;
  }
}
</style>