<script>
export default {
  props: {
    status: Number
  }
}
</script>

<template>
  <div class="error-content">
    <div class="error-indicator">
      <h1>!</h1>
    </div>
    <h3>{{status}}</h3>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.error-content {
  width: 100%;
  height: 100%;
  @apply --flex-bar;
}
</style>