<script>
export default {
  data: () => ({

  }),
  computed: {}
}
</script>

<template>
  <nav class="navbar">
    <div class="navbar__container">
      <div class="navbar__left">
        <slot name="left"></slot>
      </div>
      <slot></slot>
      <div class="navbar__right">
        <slot name="right"></slot>
      </div>
    </div>
  </nav>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.navbar {
  width: 100%;
  height: var(--bar-height);
  background-color: #fff;
  /* box-shadow: inset 0 -1px 0 var(--color-border); */


  &__container {
    width: 100%;
    height: 100%;
    /* @mixin flex-bar; */
    @apply --flex-bar;
  }

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: 100%;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
  }
}



</style>