<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    size: Number,
    color: {
      type: String,
      default: '#22c'
    }
  }
}
</script>

<template>
  <div
    class="nav-icons" 
    :style="{ width: `${size}px`, height: `${size}px`}"
  >
    <template v-if="name === 'model'">
      <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icon-copy" transform="translate(-64.000000, 0.000000)" :fill="color">
                  <polygon id="Combined-Shape" points="380 60 357.899994 83.0999985 379.899994 105.099998 403 83 448 128 443.049988 123.050003 416 141.100006 416 160 448 160 448 224 416 224 416 256 448 256 448 320 416 320 416 352 448 352 448 416 416 416 416 448 448 448 448 512 416 512 416 480 384 480 384 512 320 512 320 480 288 480 288 512 224 512 224 480 192 480 192 512 128 512 128 480 96 480 96 512 64 512 64 448 96 448 96 416 64 416 64 352 96 352 96 320 64 320 64 256 96 256 96 224 64 224 64 160 96 160 96 128 64 128 64 64 96 64 96 32 64 32 64 0 128 0 128 32 160 32 160 0 224 0 224 32 256 32 256 0 320 0 306.799988 32 96 32 96 480 416 480 416 141.2 322.399997 47.5999971 344.999999 24.9999991 380 60"></polygon>
              </g>
          </g>
      </svg>
    </template>
    <template v-else-if="name === 'content'">
      <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icon-copy-2" transform="translate(-64.000000, 0.000000)" :fill="color">
                  <path d="M64,0 L320,0 L448,128 L448,512 L64,512 L64,0 Z M96,32 L96,480 L416,480 L416,141.2 L306.8,32 L96,32 Z M128,160 L384,160 L384,192 L128,192 L128,160 Z M256,352 L320,448 L192,448 L256,352 Z M128,224 L224,224 L224,320 L128,320 L128,224 Z M128,96 L256,96 L256,128 L128,128 L128,96 Z M336,224 C362.509668,224 384,245.490332 384,272 C384,298.509668 362.509668,320 336,320 C309.490332,320 288,298.509668 288,272 C288,245.490332 309.490332,224 336,224 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </svg>
    </template>
    <template v-else-if="name === 'settings'">
      <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icon-copy-3" transform="translate(-64.000000, 0.000000)" :fill="color">
                  <path d="M64,0 L320,0 L448,128 L448,512 L64,512 L64,0 Z M96,32 L96,480 L416,480 L416,141.2 L306.8,32 L96,32 Z M202.08,329.84 L108,269.84 L108,242 L202.08,182 L202.08,218.96 L141.6,255.44 L141.6,256.4 L202.08,292.88 L202.08,329.84 Z M199,360.8 L278.2,152 L312.28,152 L233.08,360.8 L199,360.8 Z M309.920013,329.84 L309.920013,292.88 L370.400013,256.4 L370.400013,255.44 L309.920013,218.96 L309.920013,182 L404.000013,242 L404.000013,269.84 L309.920013,329.84 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </svg>
    </template>

    <template v-else>
      <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icon" transform="translate(-64.000000, 0.000000)" :fill="color">
                  <path d="M416,192 L416,141.2 L306.8,32 L96,32 L96,192 L416,192 Z M416,320 L96,320 L96,480 L416,480 L416,320 Z M64,0 L320,0 L448,128 L448,512 L64,512 L64,0 Z M96,297.605995 L118.016,297.605995 L118.016,267.141995 L147.968,267.141995 L147.968,248.709995 L118.016,248.709995 L118.016,232.837995 L152.96,232.837995 L152.96,214.405995 L96,214.405995 L96,297.605995 Z M187.168,299.141995 C207.392,299.141995 221.216,284.549995 221.216,255.621995 C221.216,227.461995 207.392,212.869995 187.168,212.869995 C166.944,212.869995 153.12,227.461995 153.12,255.621995 C153.12,284.549995 166.944,299.141995 187.168,299.141995 Z M187.168,280.197995 C180,280.197995 175.648,272.261995 175.648,255.621995 C175.648,239.749995 180,231.813995 187.168,231.813995 C194.336,231.813995 198.688,239.749995 198.688,255.621995 C198.688,272.261995 194.336,280.197995 187.168,280.197995 Z M224.856,297.605995 L282.328,297.605995 L282.328,279.173995 L246.872,279.173995 L246.872,214.405995 L224.856,214.405995 L224.856,297.605995 Z M285.816,297.605995 L345.72,297.605995 L345.72,279.173995 L326.776,279.173995 L326.776,232.837995 L345.72,232.837995 L345.72,214.405995 L285.816,214.405995 L285.816,232.837995 L304.76,232.837995 L304.76,279.173995 L285.816,279.173995 L285.816,297.605995 Z M381.568,299.141995 C401.792,299.141995 415.616,284.549995 415.616,255.621995 C415.616,227.461995 401.792,212.869995 381.568,212.869995 C361.344,212.869995 347.52,227.461995 347.52,255.621995 C347.52,284.549995 361.344,299.141995 381.568,299.141995 Z M381.568,280.197995 C374.4,280.197995 370.048,272.261995 370.048,255.621995 C370.048,239.749995 374.4,231.813995 381.568,231.813995 C388.736,231.813995 393.088,239.749995 393.088,255.621995 C393.088,272.261995 388.736,280.197995 381.568,280.197995 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </svg>
    </template>
  </div>
</template>

<style lang="postcss">
.nav-icons {
  svg {
    width: 100%;
    height: 100%;
  }
}
</style>