<script>
import SDToggle from '~~/components/soda/SDToggle'
import SDBox from '~~/components/soda/SDBox'
import SDBar from '~~/components/soda/SDBar'
import SDCarbinet from '~~/components/soda/SDCarbinet'
import utils from '~~/assets/scripts/utils'
import _ from 'lodash'

const ignoreKeys = ['comment', 'type', 'ref', 'commentx', 'editor']

export default {
  name: 'SchemaTree',
  components: {
    SDToggle, SDBox, SDBar, SDCarbinet
  },
  props: {
    value: {
      type: Object,
      required: true
    },
    path: {
      type: Array,
      default: () => []
    },
    selected: {
      type: Array,
      default: () => []
    },
    schemaName: String
  },
  data: () => ({
    showSub: false,
    editItem: null,
    newSubItem: null
  }),
  computed: {
    ignoreKeys () {
      return ignoreKeys
    },
    level () {
      return this.path.filter(i => typeof i === 'string').length
    },
    name () {
      return this.path[this.path.length - 1]
    },
    schema () {
      return this.path.reduce((obj, key) => {
        return obj[key]
      }, this.value)
    },
    isItem () {
      return this.schema && utils.getType(this.schema) === 'object' && 'type' in this.schema
    },
    isArray () {
      return this.isItem && utils.getType(this.schema.type) === 'array'
    },
    schemaType () {
      if (this.isArray) {
        return 'Array'
      } else if (this.isItem) {
        return this.schema.type
      } else {
        return 'Object'
      }
    },
    isSelected () {
      return this.path.length === this.selected.length && _.difference(this.path, this.selected).length === 0
    }
  },
  watch: {
    isSelected () {
      this.onCancelEditItem()
    },
    $route () {
      this.newSubItem = null
    }
  },
  methods: {
    onSelectPath ($path) {
      this.$emit('select-path', $path)
    },
    onEditItem () {
      if (this.isSelected) {
        this.editItem = {
          name: this.path[this.level - 1],
          type: this.schemaType
        }
      }
    },
    onCancelEditItem () {
      this.editItem = null
    },
    onConfirmEditItem () {
      if (this.editItem.name !== this.name) {
        this.$emit('edit', Object.assign(this.editItem, { path: this.path }))
      }
      this.editItem = null
    },
    onAddSubItem () {
      if (this.isArray) {
        this.$set(this.schema.type, this.schema.type.length, { type: '' })
        const newPath = this.path.slice()
        newPath.push('type')
        newPath.push(0)
        this.onSelectPath(newPath)
        this.onCancelNewSubItem()
      } else {
        this.onSelectPath(this.path)
        this.newSubItem = {
          name: '',
          type: ''
        }
      }
    },
    onConfirmNewSubItem () {
      if (this.newSubItem.name.length > 0 &&
          ignoreKeys.indexOf(this.newSubItem.name) === -1) {
        this.$set(this.schema, this.newSubItem.name, { type: '' })
        // const parent = this.isArray ? this.schema.type : this.schema
        // console.log(this.isArray, parent)
        const newPath = this.path.slice()
        newPath.push(this.newSubItem.name)
        this.onSelectPath(newPath)
        this.onCancelNewSubItem()
      }
    },
    onCancelNewSubItem () {
      this.newSubItem = null
    },
    onDeleteItem () {
      const path = this.path.slice()
      const lastKey = path.pop()
      const parent = path.reduce((obj, key) => obj[key], this.value)

      if (window.confirm(`Irrevocable!\nDelete '${lastKey}' in '${ this.level === 1 ? this.schemaName : path.pop()}'`)) {
        this.onSelectPath(path)
        this.$delete(parent, lastKey)
      }
    }
  }
}
</script>

<template>
  <SDCarbinet
    class="schema-tree"
    :open="showSub || level === 0"
  >
    <SDBar
      slot="door"
      justify="left"
      class="schema-tree__header"
      :class="{ 'schema-tree--selected' : isSelected && level > 0 }"
      :style="{ paddingLeft: `${level}rem` }"
    >
      <SDToggle
        v-if="level > 0 && (schemaType === 'Array' || schemaType === 'Object')"
        class="schema-tree__sub-indicator"
        v-model="showSub"
      >
        <span slot="on">▼</span>
        <span slot="off">▶︎</span>
      </SDToggle>
      <span
        v-else
        class="schema-tree__sub-indicator"
      ></span>

      <template v-if="editItem">
        <input type="text" v-model="editItem.name">

        <div
          slot="right"
          class="schema-tree__action"
        >
          <button
            class="btn btn--bar btn--s"
            @click="onConfirmEditItem">Confirm</button>
          <button
            class="btn btn--bar btn--s"
            @click="onCancelEditItem">Cancel</button>
        </div>
      </template>

      <template v-else>
        <button
          class="schema-tree__key"
          @click="onSelectPath(path)"
        >
          <h5 v-if="level === 0">{{ schemaName }}</h5>
          <h5 v-else>{{ name }}</h5>
          <p v-if="level > 0" class="schema-tree__type">
            {{schemaType}}
            <span v-if="schemaType === 'ObjectId'">[{{ schema.ref }}]</span>
          </p>
          <span class="schema-tree__comment">{{schema.comment}}</span>
        </button>

        <div
          slot="right"
          class="schema-tree__action"
        >
          <button 
            v-if="(isArray && schema.type.length === 0) || schemaType === 'Object'"
            class="btn btn--positive btn--s"
            @click="onAddSubItem"
          ><h4>+</h4></button>
          <button 
            v-if="level > 0"
            class="btn btn--negative btn--s"
            @click="onDeleteItem"
          ><h4>-</h4></button>
        </div>
      </template>
    </SDBar>

    <!-- <SDCarbinet :open="showSub"> -->
      <ul 
        v-if="schemaType === 'Object'"
        class="list"
      >
        <li
          v-if="newSubItem"
        >
          <SDBar
            justify="between"
            class="schema-tree__header schema-tree--editing"
            :style="{ paddingLeft: `${level + 1}rem` }"
          >
            <span class="schema-tree__sub-indicator"
            ></span>
            <input
              type="text" 
              class="schema-tree__new-name"
              v-model="newSubItem.name"
              @keypress.enter="onConfirmNewSubItem"
              @keyup.esc="onCancelNewSubItem"
            >
            <div
              class="schema-tree__action"
            >
              <button
                class="btn btn--positive btn--s"
                @click="onConfirmNewSubItem"
              >
                <h4>√</h4>
              </button>
              <button
                class="btn btn--negative btn--s"
                @click="onCancelNewSubItem">
                <h4>×</h4>
              </button>
            </div>
          </SDBar>
        </li>
        <li
          v-if="ignoreKeys.indexOf(key) === -1"
          v-for="(item, key) in schema"
          :key="key"
        >
          <SchemaTree
            v-model="value"
            :path="path.concat([key])"
            :selected="selected"
            @select-path="onSelectPath"
            :schema-name="schemaName"
            @edit="$emit('edit', $event)"
          ></SchemaTree>
        </li>
      </ul>

      <ol
        v-if="isArray"
        class="list"
      >
        <li
          v-for="(item, idx) in schema.type"
          :key="idx"
        >
          <SchemaTree
            v-model="value"
            :path="path.concat(['type', idx])"
            :selected="selected"
            @select-path="onSelectPath"
            :schema-name="schemaName"
            @edit="$emit('edit', $event)"
          ></SchemaTree>
        </li>
      </ol>
    <!-- </SDCarbinet> -->
  </SDCarbinet>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.schema-tree__sub-indicator {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 1rem;
  margin-right: .2rem;
  opacity: .6;
  font-size: .875rem;
  line-height: 1em;
}

.schema-tree__header {
  padding-right: 1rem;

  .schema-tree__action {
    display: none;
    padding-right: 1rem;

    .btn + .btn {
      margin-left: .5rem;
    }
  }

  &:hover {
    background: rgba(0,0,0,.04);

    .schema-tree__action {
      display: flex;
    }
  }

  &.schema-tree--selected {
    background: var(--gradient-highlight);

    .schema-tree__key,
    .schema-tree__sub-indicator {
      color: white;
    }
  }

  &.schema-tree--editing {
    background: white;

    input.schema-tree__new-name {
      flex: 1;
      padding: 0;
      border: none;
      border-bottom: 1px solid var(--color-highlight);
      font-weight: bold;
      font-size: .875rem;
      height: var(--size-s);
      outline: none;
    }

    .schema-tree__action {
      display: flex;
      padding: 0;
      margin-left: 1rem;
    }
  }
}

.schema-tree__key {
  flex: 1;
  height: 100%;
  display: flex;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: .875rem;
  line-height: 1em;
}

.schema-tree__type,
.schema-tree__comment {
  opacity: .4;
  margin-left: 1rem;
  font-size: .75rem;
}

.schema-tree__comment {
  flex: 1;
  text-align: right;
}
</style>