<script>
import SDBox from '~~/components/soda/SDBox'
import SDBar from '~~/components/soda/SDBar'
// import Toggle from '~~/components/Toggle'
import SDCarbinet from '~~/components/soda/SDCarbinet'
import StringArrayEditor from '~~/components/StringArrayEditor'

export default {
  name: 'SchemaObject',
  components: {
    SDBox, SDBar, SDCarbinet,
    StringArrayEditor
  },
  props: {
    name: {
      type: [String,Number]
    },
    parentName: String,
    value: {
      type: Object,
      required: true
    },
    root: {
      type: Boolean,
      default: false
    },
    refOptions: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      newItem: null,
      hiddenItems: [],
      showDetails: false
    }
  },
  computed: {
    isItem () {
      return this.value && 'type' in this.value
    },
    isArray () {
      return this.isItem && toString.call(this.value.type).slice(8, -1).toLowerCase() === 'array'
    },
    schemaType: {
      get () {
        if (this.isArray) {
          return 'Array'
        } else if (this.isItem) {
          return this.value.type
        } else {
          return 'Object'
        }
      },
      set (val, oldVal) {
        console.log(val, oldVal)
        if (val === 'Object') {
          // let newObj = Object.assign(this.value, {})
          // const delKeys = ['type', 'required', 'select', 'unique', 'index', 'sparse', 'lowercase', 'uppercase', 'trim', 'match', 'min', 'max', 'ref', 'editor']
          // delKeys.forEach(k => {
          //   this.$delete(newObj, 'k')
          // })
          // this.$delete(newObj, 'type')
          let newObj = {}

          this.$emit('input', newObj)
        } else if (val === 'Array') {
          // console.log('array', Object.assign({ type: [this.value] }))
          // let newObj = Object.assign(this.value, { type: [{}] })
          let newObj = { type: [{}] }

          this.$emit('input', newObj)
        } else if (val === 'ObjectId') {
          // let newObj = Object.assign(this.value, { type: 'ObjectId', ref: '', embed: false})
          let newObj = { type: 'ObjectId', ref: '', embed: false }

          // if ('sub' in newObj) {
          //   this.$delete(newObj, 'sub')
          // }

          this.$emit('input', newObj)
        } else {
          // let newObj = Object.assign(this.value, { type: val })
          let newObj = { type: val }

          // console.log('other type', newObj)

          // if ('sub' in newObj) {
          //   this.$delete(newObj, 'sub')
          // }

          this.$emit('input', newObj)
        }
      }
    },
    showItems () {
      return Object.keys(this.value).reduce((r, key) => {
        r[key] = this.hiddenItems.indexOf(key) === -1
        return r
      }, {})
    },
    childPath () {
      let pathArr = []

      if (this.parentName !== undefined) {
        if (this.parentName.length > 0) {
          pathArr.push(this.parentName)
        }

        pathArr.push(this.name)
      }

      if (this.isArray) {
        pathArr.push('type')
      }

      return pathArr.join('.')
    }
  },
  watch: {
    hiddenItems: {
      deep: true,
      handler (val, oldVal) {
        console.log(val, oldVal)
      }
    }
  },
  methods: {
    onAddNewItem () {
      this.newItem = {
        key: '',
        value: {}
      }
    },
    onConfirmAdd (parent) {
      let newItem = (function (type) {
        if (type === 'Object') {
          return {}
        } else if (type === 'Array') {
          return { type: [] }
        } else {
          return { type }
        }
      })(this.newItem.type)

      if (toString.call(parent).slice(8, -1).toLowerCase() === 'array') {
        parent.push(newItem)
      } else {
        this.$set(parent, this.newItem.key, newItem)
      }

      this.newItem = null
    },
    onCancelAdd () {
      this.newItem = null
    },
    onDeleteItem (key) {
      if (window.confirm(`Delete ${key}?`)) {
        this.$delete(this.value, key)
      }
    },
    onToggleItemShow (ev, key) {
      console.log(ev, key)
      if (ev) {
        const idx = this.hiddenItems.indexOf(key)
        console.log(idx)
        if (idx >= 0) {
          this.$delete(this.hiddenItems, idx)
        }
      } else {
        this.hiddenItems.push(key)
      }
    },
    onDeleteChild (parent, key) {
      if (window.confirm(`Delete ${key} in ${this.name} This action is irrevocable!`)) {
        this.$delete(parent, key)
      }
    }
  }
}
</script>

<template>
  <div
    class="schema-object"
    :class="{ 'schema-object__root' : root }"
    embeded
  >
    <!-- <SDBar
      slot="header"
      class="schema-object__header"
      justify="between"
    > -->
    <section class="schema-object__option-group">
      <label class="schema-object__option">
        <h6>Name:</h6>
        <input type="text" :value="name" @keypress.enter="$emit('name-changed', $event)">
      </label>
    </section>
    <section class="schema-object__option-group">
      <label class="schema-object__option">
        <h6>Type: </h6>
        <select v-model="schemaType">
          <option value="String">String</option>
          <option value="Number">Number</option>
          <option value="Date">Date</option>
          <option value="Buffer">Buffer</option>
          <option value="Boolean">Boolean</option>
          <option value="Mixed">Mixed</option>
          <option value="ObjectId">Reference(ObjectId)</option>
          <option value="Array">Array</option>
          <option value="Object">Group(Nested)</option>
        </select>
      </label>
    </section>
    <!-- </SDBar> -->

    <section class="schema-object__option-group">
      <label class="schema-object__option">
        <h6>Comment:</h6>
        <textarea v-model="value.comment"></textarea>
      </label>
    </section>

    

    <template v-if="isItem">
      <section class="schema-object__option-group">
        <label class="schema-object__option">
          <h6>Required</h6>
          <input
            type="checkbox"
            v-model="value.required"
          >
        </label>
        <label class="schema-object__option">
          <h6>Select</h6>
          <input 
            type="checkbox" 
            v-model="value.select"
          >
        </label>
      </section>

      <section class="schema-object__option-group">
        <label class="schema-object__option">
          <h6>Unique</h6>
          <input 
            type="checkbox" 
            v-model="value.unique"
          >
        </label>
        <label class="schema-object__option">
          <h6>Index</h6>
          <input 
            type="checkbox" 
            v-model="value.index"
          >
        </label>
        <label class="schema-object__option">
          <h6>Sparse</h6>
          <input 
            type="checkbox" 
            v-model="value.sparse"
          >
        </label>
      </section>

      <template v-if="schemaType === 'String'">
        <section class="schema-object__option-group">
          <label class="schema-object__option-group-header">
            <h6>Transform:</h6>
          </label>
          <label class="schema-object__option">
            <h6>lowercase</h6>
            <input
              type="checkbox" 
              v-model="value.lowercase"
            >
          </label>
          <label class="schema-object__option">
            <h6>UPPERCASE</h6>
            <input
              type="checkbox" 
              v-model="value.uppercase"
            >
          </label>
          <label class="schema-object__option">
            <h6>Trim</h6>
            <input
              type="checkbox" 
              v-model="value.trim"
            >
          </label>
        </section>
        <section class="schema-object__option-group">
          <label class="schema-object__option-group-header">
            <h6>Limitation:</h6>
          </label>
          <label class="schema-object__option">
            <h6>Minlength</h6>
            <input
              type="number" 
              v-model="value.minlength"
            >
          </label>
          <label class="schema-object__option">
            <h6>Maxlength</h6>
            <input
              type="number" 
              v-model="value.maxlength"
            >
          </label>
          <label class="schema-object__option">
            <h6>match:</h6>
            <!-- /<input
              type="text" 
              v-model="value.match"
            >/ -->
            <p>TODO</p>
          </label>
          <label class="schema-object__option">
            <h6>enum:</h6>
            <p>TODO</p>
            <!-- <StringArrayEditor v-model="value.enum"></StringArrayEditor> -->
          </label>
        </section>
      </template>

      <template v-if="schemaType === 'Number'">
        <section class="schema-object__option-group">
          <label class="schema-object__option">
            <h6>min: </h6>
            <input type="number" v-model="value.min">
          </label>
          <label class="schema-object__option">
            <h6>max: </h6>
            <input type="number" v-model="value.max">
          </label>
        </section>
      </template>

      <template v-if="schemaType === 'Date'">
        <section class="schema-object__option-group">
          <label class="schema-object__option">
            <h6>min: </h6><span>//TODO</span>
          </label>
          <label class="schema-object__option">
            <h6>max: </h6><span>TODO</span>
          </label>
        </section>
      </template>

      <template v-if="schemaType === 'ObjectId'">
        <section class="schema-object__option-group">
          <label class="schema-object__option">
            <h6>ref: </h6>
            <select v-model="value.ref">
              <option
                v-for="o in refOptions"
                v-if="o !== name"
                :key="o"
              >{{ o }}</option>
            </select>
          </label>
          <nuxt-link :to="`./${value.ref}`">{{ value.ref }}</nuxt-link>
        </section>
        <section class="schema-object__option-group">
          <label class="schema-object__option">
            <h6>embed</h6>
            <input
              type="checkbox" 
              v-model="value.embed"
            >
          </label>
        </section>
      </template>
    </template>

    <section 
      v-if="isArray"
      class="schema-object__option-group"
    >
      <label class="schema-object__option">
        <h6>Capacity:</h6>
        <input type="number" v-model="value.capacity">
      </label>
      <label class="schema-object__option">
        <h6>Sortable:</h6>
        <input type="checkbox" v-model="value.sortable">
      </label>
    </section>

    <template v-if="schemaType === 'Object'">
      <section class="schema-object__option-group">
        <label class="schema-object__option">
          <h6>UseEditor: </h6>
          <select v-model="value.editor">
            <option key="default">default</option>
            <option
              v-for="o in refOptions"
              v-if="o !== name"
              :key="o"
            >{{ o }}</option>
          </select>
        </label>
      </section>
    </template>


    <!-- <template v-if="schemaType === 'Array'">
      <ul class="schema-object__array schema-object__list">
        <p>Array Type:</p>
        <li
          v-for="(type, idx) in value.type"
          :key="idx"
        >
          <SchemaObject
            v-model="value.type[idx]"
            :name="idx"
            :parent-name="childPath"
            :ref-options="refOptions"
            @delete="onDeleteChild(value.type, idx)"
          ></SchemaObject>
        </li>
        <li v-if="value.type.length === 0">
          <SDBox>
            <template v-if="newItem">
              <SDBar
                slot="header"
                justify="left"
              >
                <section class="schema-object__option-group">
                  <label class="schema-object__option">
                    <input type="text" v-model="newItem.key" placeholder="name">
                  </label>
                  <label class="schema-object__option">
                    <span>type: </span>
                    <select v-model="newItem.type" placeholder="type">
                      <option value="String">String</option>
                      <option value="Number">Number</option>
                      <option value="Date">Date</option>
                      <option value="Buffer">Buffer</option>
                      <option value="Boolean">Boolean</option>
                      <option value="Mixed">Mixed</option>
                      <option value="ObjectId">Reference(ObjectId)</option>
                      <option value="Array">Array</option>
                      <option value="Object">Group(Nested)</option>
                    </select>
                  </label>
                </section>
              </SDBar>

              <SDBar
                slot="footer"
                justify="left"
              >
                <button @click="onConfirmAdd(value.type)">Confirm</button>
                <button @click="onCancelAdd">Cancel</button>
              </SDBar>
            </template>

            <SDBar
              v-else
              justify="left"
            >
              <button @click="onAddNewItem">Add Item</button>
            </SDBar>
          </SDBox>
        </li>
      </ul>
    </template>

    <template v-if="schemaType === 'Object'">
      <ul
        v-if="root || Object.keys(value).length <= 3" 
        class="schema-object__group"
        :class="{ 'schema-object__list': !root }"
      >
        <li
          v-for="(val, key) in value"
          v-if="key !== 'comment'"
          :key="key"
        >
          <SchemaObject
            :name="key"
            :parent-name="childPath"
            v-model="value[key]"
            :ref-options="refOptions"
            @delete="onDeleteChild(value, key)"
          ></SchemaObject>
        </li>
        <li>
          <SDBox>
            <template v-if="newItem">
              <SDBar
                slot="header"
                justify="left"
              >
                <section class="schema-object__option-group">
                  <label class="schema-object__option">
                    <input type="text" v-model="newItem.key" placeholder="name">
                  </label>
                  <label class="schema-object__option">
                    <span>type: </span>
                    <select v-model="newItem.type" placeholder="type">
                      <option value="String">String</option>
                      <option value="Number">Number</option>
                      <option value="Date">Date</option>
                      <option value="Buffer">Buffer</option>
                      <option value="Boolean">Boolean</option>
                      <option value="Mixed">Mixed</option>
                      <option value="ObjectId">Reference(ObjectId)</option>
                      <option value="Array">Array</option>
                      <option value="Object">Group(Nested)</option>
                    </select>
                  </label>
                </section>
              </SDBar>

              <SDBar
                slot="footer"
                justify="left"
              >
                <button @click="onConfirmAdd(value)">Confirm</button>
                <button @click="onCancelAdd">Cancel</button>
              </SDBar>
            </template>

            <SDBar
              v-else
              justify="left"
            >
              <button @click="onAddNewItem">Add Item</button>
            </SDBar>
          </SDBox>
        </li>
      </ul>

      <div
        v-else
        class="schema-object__option-show-group"
      >
        <nuxt-link :to="`?p=${childPath}`">Show Nested Object</nuxt-link>
      </div>
    </template> -->

    <SDBar
      v-if="!root"
      slot="footer"
      class="schema-object__footer"
      justify="right"
    >
      <div class="schema-object__actions">
        <button @click="$emit('delete', name)">DELETE</button>
      </div>
    </SDBar>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.schema-object {

  & .schema-object__item {
    padding: 1rem;
  }

  & ul.schema-object__group {
    list-style: none;
    padding: 0;

    & li + li {
      margin-top: 2rem;
    }
  }

  & ul.schema-object__list {
    padding: 1rem;
    /*border-top: 1px solid var(--color-border);*/
    background-color: rgba(0,0,0,.04);
    list-style: none;

    &.schema-object__array {
      border-top: 1px solid var(--color-border);
    }

    & li + li {
      margin-top: 1rem;
    }
  }

  & .schema-object__option-show-group {
    padding: 1rem;
    background-color: rgba(0,0,0,.04);
  }
}
</style>