<script>
import _ from 'lodash'

export default {
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    str: {
      get () {
        return this.value.join(', ')
      },
      set (v) {
        this.$emit('input', v.split(',').map(s => _.trim(s)).filter(s => s.length))
      }
    }
  },
  
}
</script>

<template>
  <textarea
    class="string-array-editor"
    v-model="str"
  >
  </textarea>
</template>

<style lang="postcss">
.string-array-editor {

}
</style>