<script>
export default {
  data: () => ({
    showContentLang: 0,
    aboutEntity: null
  }),
  async mounted () {

    const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', {
      name: 'about_page'
    })

    if (status === 200) {
      if (data.length > 0) {
        this.aboutEntity = data[0]
      // } else {
        // const defaultEntity = utils.getDefault(schema)
        // this.aboutEntity = defaultEntity
      }

      // this.caSavable = true
    }

    if (this.$route.query.section) {
      this.$nextTick(() => {
        this.inputValue.section = this.$route.query.section
      })
      // this.inputValue.section = this.$route.query.section
    }

    // this.$store.dispatch('admin/registerContextActions', {
    //   save: () => this.onSave()
    // })
  }
}
</script>

<template>
<SDBox 
  class="editor-about"
  embeded
>
  <!-- <SDBar
    slot="header"
  >
    <SDSegmentSwitch
      class="editor-about__lang-switch"
      :segments="['中文', 'English']"
      @switch="showLang = $event.index"
    >
      <button 
        slot-scope="{ item, idx, active }"
        v-bem:btn="{
          bar: true,
          active,
          gray: !active
        }"
      >
        <h6>{{item}}</h6>
      </button>
    </SDSegmentSwitch>
  </SDBar> -->

  <SDBox
    slot="aside"
    class="editor-about__info"
    embeded
  >
    <ul class="list">
      <li v-if="aboutEntity">
        <label>
          <h6>sections</h6>
          <select v-model="inputValue.section">
            <option 
              v-for="section in aboutEntity.sections"
              :key="section.name"
              :value="section.name"
            >{{section.name_zh}} / {{section.name}}</option>
          </select>
        </label>
      </li>
      <li>
        <EntityEditorString
          v-if="inputValue.title"
          key="titlezh"
          :schema="schema.title.zh"
          title="中文标题"
          v-model="inputValue.title.zh"
        ></EntityEditorString>
      </li>

      <li>
        <EntityEditorString
          v-if="inputValue.title"
          key="titleen"
          title="英文标题"
          :schema="schema.title.en"
          v-model="inputValue.title.en"
        ></EntityEditorString>
      </li>

      <!-- <li>
        <EntityEditorArray
          key="tags"
          :schema="schema.tags"
          v-model="inputValue.tags"
        ></EntityEditorArray>
      </li> -->

      <li>
        <EntityEditorArray
          key="covers"
          :schema="schema.covers"
          v-model="inputValue.covers"
        ></EntityEditorArray>
      </li>
    </ul>
  </SDBox>

  <div class="editor-about__content">
      <CustomEditor_md_article
        v-if="showContentLang === 0"
        default-view="md"
        :schema="schema.content.zh"
        v-model="inputValue.content.zh"
      ></CustomEditor_md_article>
      <CustomEditor_md_article
        v-if="showContentLang === 1"
        default-view="md"
        :schema="schema.content.en"
        v-model="inputValue.content.en"
      ></CustomEditor_md_article>

      <SDSegmentSwitch
        class="editor-about__lang-switch"
        :segments="['中文', 'English']"
        @switch="showContentLang = $event.index"
      >
        <button 
          slot-scope="{ item, idx, active }"
          v-bem:btn="{
            bar: true,
            active,
            gray: !active
          }"
        >
          <h6>{{item}}</h6>
        </button>
      </SDSegmentSwitch>
    </div>
</SDBox>
</template>

<style lang="postcss">
.editor-about {
  &__info {
    width: 25rem;

    .list {
      min-height: 100%;
      padding-top: 2rem;
      background-color: #fcfcfc;

      & > li {
        height: auto;
        padding: 1rem;
        /*padding: 1rem;*/
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__lang-switch {
    position: absolute;
    left: .25rem;
    top: .25rem;
  }
}
</style>