<script>
import markdownIt from 'markdown-it'

const md = markdownIt({
  breaks: true
})

export default {
  data: () => ({
    showLang: 'zh'
  }),
  computed: {
    domZh () {
      return md.render(this.entity.content.zh.text || '')
    },
    domEn () {
      return md.render(this.entity.content.en.text || '')
    }
  }
}
</script>

<template>
  <div 
    class="item-about"
    @click="selectSelf"
  >
    <div class="item-about__content" v-html="domZh"></div>
    <div class="item-about__content" v-html="domEn"></div>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.item-about {
  border: 1px solid var(--color-border);
  position: relative;
  padding: 1rem;
  user-select: none;
  cursor: pointer;

  & * {
    font-size: .75rem;
  }

  &__content {
    position: relative;
    max-height: 10rem;
    padding-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2rem;
      background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
    }
  }

  &__content + &__content {
    margin-top: 1rem;
  }
}
</style>