<script>
import ContextActionsMixin from '~~/assets/scripts/mixins/ContextActionsMixin'
import utils from '~~/assets/scripts/utils.js'

export default {
  // mixins: [
  //   ContextActionsMixin
  // ],
  data: () => ({
    aboutSchema: null,
    aboutEntity: null
  }),
  computed: {
    // sections: {
    //   get () {
    //     return this.aboutEntity !== null ? this.aboutEntity.sections : []
    //   },
    //   set (v) {
    //     this.$set(this.aboutEntity, 'sections', v)
    //   }
    // },
    // sectionSchema () {
    //   return this.aboutSchema ? this.aboutSchema.sections.type[0] : {}
    // }
    groupedList () {
      if (this.aboutEntity) {
        const grouped = this.aboutEntity.sections.reduce((obj, s) => {
          obj[s.name] = []

          return obj
        }, { untaged: [] })

        // return grouped

        return this.list.reduce((grouped, item) => {
          if (item.section.length > 0) {
            const t = item.section
            const g = grouped[t]

            console.log('g', g)

            if (g) {
              g.push(item)
            } else {
              grouped.untaged.push(item)
            }
          } else {
            grouped.untaged.push(item)
          }

          console.log(item, grouped.untaged)

          return grouped
        }, grouped)
      } else {
        return {}
      }
    }
  },
  methods: {
    onAddSection () {
      const existNames = this.aboutEntity.sections.map(s => s.name)

      let name = ''
      let name_zh = ''

      while (name.length === 0 || existNames.indexOf(name) !== -1) {
        name = window.prompt('Give a name:')
      }

      while (name_zh.length === 0) {
        name_zh = window.prompt('Give a Chinese name:')
      }

      this.aboutEntity.sections.push({
        name,
        name_zh
      })
    },
    onDeleteSection (ds) {
      this.$set(this.aboutEntity, 'sections', this.aboutEntity.sections.filter(s => s.name !== ds.name))
    },
    async onSave () {
      const { status, data } = await this.$store.dispatch('admin/saveContent', {
        name: 'about_page',
        id: this.aboutEntity._id ? this.aboutEntity._id : undefined,
        entity: this.aboutEntity
      })

      if (status === 200) {
        this.$notify({
          title: 'Saved'
        })
      }
    },
    toSection (name) {
      this.$router.push(`#${name}`)
    },
    onDragStart (ev, item, idx) {
      console.log('onDragStart', item, idx)
      this.onResorting = true
      this.reSortContext.item = item
      this.reSortContext.fromIdx = idx
    },
    onDragEnter (ev, idx) {
      console.log('onDragEnter', idx)
      this.reSortContext.toIdx = idx
    },
    onDragEnd (ev) {
      // const { item, fromIdx, toIdx } = this.reSortContext
      // console.log('onDragEnd', item, fromIdx, toIdx)

      // if (item !== null &&
      //     fromIdx !== -1 &&
      //     toIdx !== -1 &&
      //     fromIdx !== toIdx
      // ) {
      const newList = this.onResort(this.aboutEntity.sections)
      this.$set(this.aboutEntity, 'sections', newList)
      // }
    }
  },
  async mounted () {
    const { status, data: { schema } } = await this.$store.dispatch('admin/fetchResourceOptionByName', {
      name: 'about_page'
    })

    if (status === 200) {
      this.aboutSchema = schema

      const { status, data } = await this.$store.dispatch('admin/fetchContentEntities', {
        name: 'about_page'
      })

      if (status === 200) {
        if (data.length > 0) {
          this.aboutEntity = data[0]
        } else {
          const defaultEntity = utils.getDefault(schema)
          this.aboutEntity = defaultEntity
        }

        this.caSavable = true
      }

      this.$store.dispatch('admin/registerContextActions', {
        save: () => this.onSave()
      })
    }
  }
}
</script>

<template>
  <SDBox
    class="list-about"
    embeded
  >
    <ul 
      v-if="aboutSchema && aboutEntity"
      slot="aside"
      class="list list-about__section-navs"
    >
      <li
        v-for="(section, idx) in aboutEntity.sections"
        :key="idx"
        class="list-about__section-nav"
        v-bem:list-about.section-nav="{
          dragging: reSortContext.fromIdx === idx,
          tobefore: reSortContext.toIdx === idx && idx < reSortContext.fromIdx,
          toafter: reSortContext.toIdx === idx && idx > reSortContext.fromIdx,
        }"
        draggable
        @dragstart="onDragStart($event, section, idx)"
        @dragenter="onDragEnter($event, idx)"
        @dragend="onDragEnd"
      >
        <span
          class="list-about__section-dragger"
        >≣</span>
        <button
          class="btn btn--bar btn--block list-about__section-item"
          @click="toSection(section.name)"
        >
          <h6>{{section.name_zh}} / {{section.name}}</h6>
        </button>
        <button
          class="btn btn--negative btn--xs list-about__del-section"
          @click="onDeleteSection(section)"
        >
          <h6>-</h6>
        </button>
      </li>

      <li>
        <button
          class="btn btn--bar"
          @click="onAddSection"
        >
          <h6>+ Add Section</h6>
        </button>
      </li>
    </ul>

    <div 
      v-if="aboutSchema && aboutEntity"
      class="list-about__sections"
    >
      <SDBox
        v-for="section in aboutEntity.sections"
        :key="section.name"
        :id="section.name"
        class="list-about__section about-section"
      >
        <SDBar
          slot="header"
          size="l"
          justify="left"
        >
          <!-- <h6>{{section.name_zh}} / {{section.name}}</h6> -->
          <div>
            <p>
            <input
              class="about-section__title"
              type="text"
              v-model="section.name_zh"
              placeholder="中文标题"
              maxlength="schema.sections[0].name_zh.maxlength"
            >
            </p>
            <p>
            <input
              class="about-section__title"
              type="text"
              v-model="section.name"
              placeholder="英文标题"
              maxlength="schema.sections[0].name.maxlength"
            >
          </p>
          </div>
          <button
            slot="right"
            class="btn btn--positive btn--s about-section__delete"
            @click="$router.push(`../editor/about/new?section=${section.name}`)"
          >
            <h6>+</h6>
          </button>
        </SDBar>
        <ul
          class="flow about-section__article-list"
        >
          <li
            v-for="article in groupedList[section.name]"
            :key="article._id"
            class="about-section__article-wrap"
          >
            <CustomListItem_about
              :entity="article"
              :schema="schema"
              @select="$router.push(`../editor/about/${article._id}`)"
            ></CustomListItem_about>
          </li>
        </ul>
      </SDBox>
      <SDBox
        class="list-about__section"
      >
        <SDBar
          slot="header"
          justify="left"
        >
          <h6>无分类</h6>
        </SDBar>

        <ul
          class="flow about-section__article-list"
        >
          <li
            v-for="article in groupedList.untaged"
            :key="article._id"
            class="about-section__article-wrap"
          >
            <CustomListItem_about
              :entity="article"
              :schema="schema"
              @select="$router.push(`../editor/about/${article._id}`)"
            ></CustomListItem_about>
          </li>
        </ul>
      </SDBox>
    </div>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.list-about {

  &__tag-array {
    /* opacity: 0; */
    /* width: 0; */
    /* height: 0; */
    /* visibility: hidden; */
    /* display: none; */
    width: 20rem;

    padding: 1rem;
  }

  ul.list&__section-navs {
    width: 15rem;
    padding: .5rem;

    li.list-about__section-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .list-about__section-item {
        justify-content: flex-start;
        text-align: left;
      }

      .list-about__del-section {
        visibility: hidden;
        position: absolute;
        top: .5rem;
        right: .5rem;
        border-radius: 50%;
      }

      &:hover {
        .list-about__del-section {
          visibility: visible;
        }
      }

      &--dragging {
        opacity: .5;
      }

      &--tobefore {
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: var(--color-highlight);
        }
      }

      &--toafter {
        &:after {
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: var(--color-highlight);
        }
      }
    }
  }

  &__sections {
    width: 100%;
    min-height: 100%;
    background-color: #f0f0f0;
    padding: 1rem;
  }

  &__section {
    max-width: 50rem;
    margin: 1rem auto;

    &-dragger {
      cursor: move;
    }
  }
}

.about-section {
  &__title {
    flex: initial;
    font-size: .75rem;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
  }

  &__delete {
    visibility: hidden;
  }

  &:hover {
    .about-section__delete {
      visibility: visible;
    }
  }

  ul&__article-list {
    padding: .5rem;
  }

  &__article-wrap {
    width: 50%;
    padding: .5rem;
  }
}
</style>