<script>
export default {
}
</script>

<template>
  <div 
    class="tag-item"
    :class="entityItemClass"
    @click="selectSelf"
  >
    <!-- <button
      class="tag-item__btn-sel"
    > -->
      <span class="tag-item__hashtag">#</span>
      <h5 class="tag-item__name">{{entity.name}}</h5>
      <h5 
        v-if="entity.name_zh"
        class="tag-item__name--split"
      >/</h5>
      <h5
        class="tag-item__name--alter"
      >{{entity.name_zh}}</h5>
    <!-- </button> -->
    <!-- <button 
      class="tag-item__btn-del"
      @click="deleteSelf"
    >✕</button> -->
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.tag-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: .875rem;
  text-align: center;
  background-color: white;
  height: 2.5rem;
  min-width: 5rem;
  /*padding: 0 .5rem;*/
  /*padding-right: 1.5rem;*/
  border-radius: .5rem;
  border: 1px solid var(--color-border);
  cursor: pointer;

  &__btn-sel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 100%;
  }

  &__link {
    display: flex;
  }

  &__name--split {
    opacity: .4;
  }

  &__name--alter {
    opacity: .4;
    margin-right: 1.5rem;
  }

  &__hashtag {
    width: 1.5rem;
    color: lightgray;
    text-align: center;
    font-size: .875rem;
    /*padding: 0 .25rem 0 .25rem;*/
  }

  &__btn-del {
    width: 1.5rem;
    border: none;
    color: lightgray;
    font-weight: bolder;
    font-size: .75rem;
    opacity: 0;
    outline: none;

    &:hover {
      color: var(--color-negative);
    }
  }

  &:hover .tag-item__btn-del {
    opacity: 1;
  }

  &.entity-item--selected {
    border-color: var(--color-highlight);
  }
}
</style>