<script>
import Item from './item.vue'

export default {
  components: {
    Item
  },
  data: () => ({
    inputTxt: '' 
  }),
  computed: {
    displayTags () {
      if (this.inputTxt.length > 0) {
        return this.list.filter(tag => {
          const reg = new RegExp(this.inputTxt)
          return reg.test(tag.name) || reg.test(tag.name_zh)
        })
      }

      return this.list
    },
    canAddTag () {
      return this.fnAdd && this.inputTxt.split('/')[0].length >= 3 && this.list.filter(tag => tag.name === this.inputTxt.split('/')[0]).length === 0
    },
    headerTitle () {
      // let txt = this.displayTags.length === 0 ? 'No' : this.displayTags.length

      // if (this.inputTxt.length > 0) {
      //   txt += ' Matched'
      // }

      // if (this.displayTags.length > 1) {
      //   txt += ' Tags'
      // } else {
      //   txt += ' Tag'
      // }

      // return txt
      return this.$tc('matches', this.displayTags.length, { num: this.displayTags.length, name: 'Tag' })
    }
  },
  methods: {
    onInputSubmit () {
      if (this.canAddTag) {
        this.onAddChild({ name: this.inputTxt.split('/')[0], name_zh: this.inputTxt.split('/')[1] || '' })
        this.inputTxt = ''
      }
    },
    onDeleteItem (entity) {
      if (this.fnDelete) {
        // if (this.fnPick || window.confirm(`Irrevocable!\nDelete ${entity.name}?`)) {
        //   this.onChildDelete(entity, true)
        // }
        this.$refs.box.alert({
          title: 'Irrevocable Action!',
          // message: `Delete tag <strong>#${entity.name}</strong>?`,
          message: this.$t('action.delete_c', { content: `tag <strong>#${entity.name}</strong>` }),
          actions: [
            {
              title: this.$t('action.delete'),
              context: 'negative',
              disabled: false,
              handler: () => {
                console.log('action handler yes')
                this.onChildDelete(entity, true)
                this.$refs.box.dismissAlert()
              }
            },
            {
              title: this.$t('action.cancel'),
              context: 'default',
              disabled: false,
              handler: () => {
                console.log('action handler no')
                this.$refs.box.dismissAlert()
              }
            }
          ]
        })
      }
    }
  }
}
</script>

<i18n>
{
  "en": {
    "matches": "No Matched {name}" | "One Matched {name}" | "{num} Matched {name}s"
  },
  "zh": {
    "matches": "没有符合条件的 {name}" | "{num} 个符合的 {name}" | "{num} 个符合的 {name}"
  }
}
</i18n>

<template>
  <SDBox
    ref="box"
    class="list-tag"
    embeded
  >
    <SDBar
      v-if="fnAdd"
      slot="header"
      class="list-tag__header-bar"
    >
      <h5 slot="left">{{ headerTitle }}</h5>
      <input 
        class="list-tag__input" 
        type="text" 
        :placeholder="fnAdd ? `${$t('action.filter')} / ${$t('action.add')}` : $t('action.filter')" 
        v-model="inputTxt"
        @keyup.esc="inputTxt = ''"
        @keypress.shift.enter="onInputSubmit"
      >
      <span 
        v-if="canAddTag" 
        slot="right"
        class="list-tag__adding-comment"
      >
        [SHIFT] + [ENTER] {{ $t('action.add') }} Tag
      </span>
    </SDBar>

    <ul class="flow">
      <li
        v-for="entity in displayTags"
        :key="entity._id"
        class="list-tag__item"
      >
        <Item
          :entity="entity"
          :selected="selectedIds.indexOf(entity._id) !== -1"
          @select="onChildSelect(entity)"
        ></Item>
        <button 
          v-if="fnDelete"
          class="list-tag__btn-del-item"
          @click="onDeleteItem(entity)"
        >✕</button>
      </li>

      <li 
        v-if="$slots.default"
        class="list-tag__item"
        key="new"
      >
        <div class="tag-item entity-item">
          <slot></slot>
        </div>
      </li>
    </ul>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.list-tag {
  background: #fafafa;

  ul.flow {
    padding: 1rem;
  }

  &__item {
    padding: .5rem;
    position: relative;

    a {
      color: black;
      text-decoration: none;
    }

    &:hover {
      .list-tag__btn-del-item {
        opacity: 1;
      }
    }
  }

  &__input {
    text-align: center;
    flex: 1;

    background: none;
    border: none;
    outline: none;
  }

  &__adding-comment {
    font-size: .75rem;
    opacity: .4;
  }

  &__header-bar {
    background-color: white;
  }

  &__btn-del-item {
    position: absolute;
    top: .5rem;
    right: .5rem;

    width: 1.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    color: lightgray;
    font-weight: bolder;
    font-size: .75rem;
    opacity: 0;
    outline: none;

    &:hover {
      color: var(--color-negative);
    }
  }
}
</style>