@import './var.pcss';

html
{
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after
{
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: var(--size-m); }
h2 { font-size: var(--size-s); }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: .875rem; }
h6 { font-size: .75rem; }

ul.list,
ol.list {
  list-style: none;
  padding: 0;

  li {

    a.list__item {
      min-height: var(--size-m);
      display: flex;
      align-items: center;
      padding: 0 1rem;
      color: black;
      text-decoration: none;
    }

    a.list__item--link.nuxt-link-active {
      background: var(--gradient-highlight);
      color: white;
    }

    a.list__item--link-exact.nuxt-link-exact-active {
      background: var(--gradient-highlight);
      color: white;
    }
  }

  &--striped {
    background-color: white;
    & li {
      &:nth-child(even) {
        background-color: rgba(0,0,0,.03);
      }
    }
  }

  /* &--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-item: flex-start;
    justify-content: flex-start;
  } */
}

ul.flow,
ol.flow {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

a.btn,
button.btn {
  /* position: relative; */
  display: flex;
  background: white;
  border: .5px solid var(--color-border);
  padding: 0 .75rem;
  min-height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  /* border-radius: 1rem; */
  color: var(--color-highlight);
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 3rem rgba(255,255,255,.4) inset;
  }

  &--xs {
    min-height: calc(var(--size-s) - .5rem);
    min-width: calc(var(--size-s) - .5rem);
    padding: 0 .25rem;
  }

  &--s {
    min-height: var(--size-s);
    min-width: var(--size-s);
    padding: 0 .5rem;
  }

  &--m {
    min-height: var(--size-m);
    min-width: var(--size-m);
    padding: 0 1rem;
  }

  &--l {
    min-height: var(--size-l);
    min-width: var(--size-l);
    padding: 0 1.5rem;
  }


  &--gray {
    border: none;
    background: gray;
    color: white;
  }
  
  &--highlight {
    border: none;
    background: var(--gradient-highlight);
    color: white;
  }

  &--negative {
    border: none;
    background: var(--gradient-negative);
    color: white;
  }

  &--positive {
    border: none;
    background: var(--gradient-positive);
    color: white;
  }

  &--neutral {
    border: none;
    background: var(--gradient-neutral);
    color: white;
  }

  &--text {
    border: none;
    background: none;
  }

  &--bar {
    /* padding: 0 0.75rem; */
    background: none;
    border-color: transparent;
    min-height: calc(var(--size-m) - .5rem);
    min-width: calc(var(--size-m) - .5rem);
    padding: 0 .75rem;

    border-radius: .75rem;
    /* border-color: transparent; */

    &:hover {
      box-shadow: 0 0 100px rgba(0,0,0,.04) inset;
      /* border-color: var(--color-border);  */
    }

    &.btn--s {
      min-height: calc(var(--size-s) - .5rem);
      min-width: calc(var(--size-s) - .5rem);
      padding: 0 .5rem;
    }

    &.btn--m {
      min-height: calc(var(--size-m) - .5rem);
      min-width: calc(var(--size-m) - .5rem);
      padding: 0 .75rem;
    }

    &.btn--l {
      min-height: calc(var(--size-l) - .5rem);
      min-width: calc(var(--size-l) - .5rem);
      padding: 0 1rem;
    }

    &.btn--gray {
      background: none;
      color: gray;
    }

    &.btn--highlight {
      background: none;
      color: var(--color-highlight);
    }

    &.btn--negative {
      background: none;
      color: var(--color-negative);
    }

    &.btn--positive {
      background: none;
      color: var(--color-positive);
    }

    &.btn--neutral {
      background: none;
      color: var(--color-neutral);
    }
  }

  &--block {
    flex: 1;
    width: 100%;
  }

  &[disabled] {
    cursor: not-allowed;

      &:hover {
        box-shadow: none;
      }

    & > * {
      opacity: .4;
    }
  }
}

.sd-bar {
  &__left {
    & > .btn:first-child {
      margin-left: -.75rem;

      &.btn--s {
        margin-left: -.5rem;
      }
      &.btn--m {
        margin-left: -.75rem;
      }
      &.btn--l {
        margin-left: -.5rem;
      }
    }
  }

  &__right {
    & > .btn:last-child {
      margin-right: -.75rem;
      
      &.btn--s {
        margin-right: -.5rem;
      }
      &.btn--m {
        margin-right: -.75rem;
      }
      &.btn--l {
        margin-right: -.5rem;
      }
    }
  }
}

.entity-editor {

  &--default {
    max-width: 60rem;
    padding: 2rem;
    background-color: white;
    margin: auto;

    &.entity-editor--object > ul {
      border: none;
      padding: 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  .entity-editor__field-title {
    position: relative;
    opacity: 1;
    text-transform: uppercase;
    opacity: .4;
    /* margin-bottom: .5rem; */
  }
  .entity-editor__field-comment {
    font-size: .875rem;
  }

  .entity-editor--required {
    .entity-editor__field-title {
      &:before {
        display: block;
        content: '*';
        position: absolute;
        top: 0;
        left: -1rem;
        width: 1rem;
        color: var(--color-negative);
        text-align: center;
      }
    }
  }

  &__parent-actions {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    & > .entity-editor__header .entity-editor__parent-actions {
      opacity: 1;
      visibility: visible;
    }
  }
}

.sd-notification-hub {
  position: fixed;
  /* top: 5rem; */
  left: 2rem;
  /* right: 0; */
  bottom: 5rem;
  /* width: auto; */
  width: 15rem;
  height: auto;
  z-index: var(--alert);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sd-notification {
    width: 100%;
    height: auto;
    padding: .25rem .5rem;
    background-color: white;
    box-shadow: var(--shadow-modal);
    font-size: .75rem;
    line-height: 1rem;
    border-left: .5rem solid var(--color-border);

    &--highlight { border-color: var(--color-highlight) }
    &--positive { border-color: var(--color-positive) }
    &--negative { border-color: var(--color-negative) }
    &--neutral { border-color: var(--color-neutral) }

    h6 {
      text-transform: uppercase;
    }
  }

  .sd-notification + .sd-notification {
    margin-top: .5rem
  }
}