:root {
  /* Color */
  --color-highlight: #22c;
  --gradient-highlight: linear-gradient(to bottom right, var(--color-highlight), #33f);
  --color-positive: #0c6;
  --gradient-positive: linear-gradient(to bottom right, #0c6, #3cc);
  --color-neutral: #fb0;
  --gradient-neutral: linear-gradient(to bottom right, #fb0, #f99);
  --color-negative: #F30;
  --gradient-negative: linear-gradient(to bottom right, #f30, #f39);
  --color-border: rgba(0,0,0,.1);
  --gradient-gray: linear-gradient(to bottom right, #f1f2f3, #d1d2d3);

  --color-text-major: rgba(0,0,0,1);
  --color-text-minor: rgba(0,0,0,.4);

  /* Size */
  --bar-height: 4rem;
  --size-s: 2rem;
  --size-m: 3rem;
  --size-l: 4rem;

  /* z-index */
  --bg: 0;
  --base: 1;
  --nav: 100;
  --curtain: 1000;
  --over-curtain: 1001;
  --modal: 1010;
  --menu: 1011;
  --alert: 1100;
  --popover: 1101;

  /* Shadow */
  --shadow-modal: 0 20px 50px -10px rgba(0,0,0,.4), 0 0 30px -10px rgba(0,0,0,.2);
  --shadow-menu: 0 10px 25px -5px rgba(0,0,0,.4);

  /* Layout */
  --flex-bar: {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  };

  /* Text */
  --text-major: {
    color: var(--color-text-major);
  };
  --text-minor: {
    color: var(--color-text-minor);
  };

}