<script>
import SDBox from '~~/components/soda/SDBox'
import SDBar from '~~/components/soda/SDBar'
import SDCarbinet from '~~/components/soda/SDCarbinet'
import NavIcons from '~~/components/NavIcons'

export default {
  layout: 'default',
  components: {
    SDBox, SDBar, SDCarbinet,
    NavIcons
  },
  data: () => ({
    appNavOpen: false,
  }),
  computed: {
    contextActions () {
      return this.$store.state.admin.contextActionHandlers
    },
    apps () {
      let apps = {
        'home': '/admin'
      }

      if (this.$auth.user) {
        apps = Object.assign(apps, {
          'content': '/admin/content'
        })

        if(this.$auth.user.role < 2) {
          apps = Object.assign(apps, {
            'settings': '/admin/settings'
          })
        }

        if (this.$auth.user.role < 1) {
          apps = Object.assign(apps, {
            'model': '/admin/model'
          })
        }
      }

      return apps 
    },
    currentApp () {
      const rn = this.$route.name
      if (rn) {
        if (rn.match(/content/)) {
          return 1
        } else if (rn.match(/model/)) {
          return 2
        } else if (rn.match(/settings/)) {
          return 3
        } else {
          return 0
        }
      }

      return 0
    }
  },
  watch: {
    $route () {
      this.appNavOpen = false
    }
  },
  methods: {
    callFuncSafe(func) {
      typeof func === 'function' && func()
    }
  }
}
</script>

<template>
  <SDBox class="default-layout" embeded>
    <SDBar 
      slot="header"
      class="default__navbar"
      size="l"
    >
      <SDSelector
        slot="left"
        class="default__app-nav"
        :options="Object.keys(apps)"
        :default-selected="currentApp"
        anchor="top"
      >
        <nuxt-link
          slot-scope="{ option }"
          :key="option"
          :to="apps[option] || './'"
          class="default__app-link"
          :class="{
            'default__app-link--wildcard': option !== 'home'
          }"
        >
          <!-- <NavIcons
            class="default__app-link-icon--active"
            :name="option" :size="32" color="white"></NavIcons> -->
          <NavIcons
            class="default__app-link-icon"
            :name="option" :size="32"></NavIcons>
          <h4>{{option}}</h4>
        </nuxt-link>
      </SDSelector>

      <div class="context-action">
        <button 
          v-for="(handler, key) in contextActions" 
          :key="key"
          class="context-action__btn"
          v-bem:btn="{
            bar: true,
            negative: key.toLowerCase() === 'delete'
          }"
          @click="callFuncSafe(handler)"
          :disabled="handler === null"
        >
          <h4>{{ $t(`action.${key}`) }}</h4>
        </button>
      </div>

      <template slot="right" v-if="$auth.loggedIn">
        <h4>{{$store.state.auth.user.name}}</h4>
        <button
          class="btn btn--bar btn--negative"
          @click="$auth.logout()"
        >
          <h6>{{ $t('logout') }}</h6>
        </button>
      </template>
    </SDBar>
    <nuxt :class="{ 'page--fade': appNavOpen }"/>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';
@import '~~/assets/styles/main.pcss';

.default-layout {

  &.sd-box {
    width: 100vw;
    height: 100vh;
  }
  display: flex;
  flex-direction: column;

  .default__navbar {
    position: relative;
    z-index: var(--nav); 
  }

  .default__app-nav {
    height: 100%;
    margin-left: -1rem;
    background-color: red;
  }

  .default__app-link {
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    /*background: var(--color-highlight);*/
    background: white;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15rem;
    height: 4rem;

    &:hover {
      background: rgba(0,0,0,.04);
    }

    /* &-icon--active {
      display: none;
    } */

    &--wildcard.nuxt-link-active,
    &.nuxt-link-exact-active {
      /* background: var(--color-highlight); */
      /* background: var(--gradient-highlight); */
      color: var(--color-highlight);

      /* .default__app-link-icon {
        display: none;
      }

      .default__app-link-icon--active {
        display: block;
      } */
    }
  }

  .app-list {
    width: 100%;
  }
}

.context-action {
  display: flex;
  align-items: center;

  &__btn {
    text-transform: uppercase;
  }

  & > * + * {
    margin-left: .5rem;
  }
}

.page--fade {
  opacity: .3;
}


</style>
