<script>
export default {
  layout: 'default',
  props: {
    error: {}
  }
}
</script>

<template>
  <div class="error-layout">
    <div class="error-layout__indicator">
      <h1>!</h1>
    </div>
    <h3>{{error.statusCode}}</h3>
  </div>
</template>