<script>
export default {
  async asyncData ({ route, store }) {
    const name = route.params.name
    const query = route.query

    if (name && name.length >0) {
      const { status, data: option } = await store.dispatch('admin/fetchResourceOptionByName', { name })

      if (status === 200) {
        const { status, data: list } = await store.dispatch('admin/fetchContentEntities', { name, query })

        if (status === 200) {
          return {
            name,
            query,
            status,
            schema: option.schema,
            list
          }
        }

        return {
          name,
          query,
          status,
          schema: option.schema,
          list: []
        }
      }

      return {
        name,
        query,
        status,
        schema: {},
        list: []
      }
    }

    return {
      name, 
      query,
      status: -1,
      schema: {},
      list: []
    }
  },
  data: () => ({
    unSaveContent: null,
    canDeleteId: null
  }),
  computed: {
    contextActions () {
      return {
        save: this.unSaveContent ? () => {
          console.log('cave')
          this.saveContent()
        } : null,
        delete: this.canDeleteId ? () => this.deleteContent() : undefined
      }
    }
  },
  watch: {
    contextActions: {
      deep: true,
      handler (v) {
        this.$store.dispatch('admin/registerContextActions', v)
      }
    }
  },
  methods: {
    updateContent (content) {
      this.unSaveContent = content
    },
    updateDelId (id) {
      this.canDeleteId = id
    },
    async reload (query = this.query) {
      console.log('reload')
      const { status, data: list } = await this.$store.dispatch('admin/fetchContentEntities', {name: this.name,
        query
      })

      if (status === 200) {
        this.$set(this, 'list', list)
      }
    },
    async saveContent () {
      if (this.$refs.setting.checkValid()) {
        const { status, data } = await this.$store.dispatch('admin/saveContent', {
          name: this.name,
          id: this.unSaveContent._id || null,
          entity: this.unSaveContent
        })

        if (status === 200) {
          this.$notify({
            title: `${this.name} Saved!`,
            context: 'positive'
          })
          await this.reload()
        }
      } else {
        window.alert('Invalid Content')
      }
    },
    async deleteContent () {
      if (this.$refs.setting.confirmDelete()) {
        const { status, data } = await this.$store.dispatch('admin/deleteContent', {
          name: this.name,
          id: this.canDeleteId
        })

        if (status === 200) {
          this.$router.replace(Object.assign({ query: {} }, { name: this.$route.name, params: this.$route.params }))

          this.canDeleteId = null
          this.unSaveContent = null

          this.$notify({
            title: `${this.name} Deleted!`,
            context: 'positive'
          })
          await this.reload()
        }
      } else {
        window.alert('Cannot delete this')
      }
    },
    async addEntity ({ entity }) {
      if (entity) {
        const { status, data } = await this.$store.dispatch('admin/saveContent', {
          name: this.name,
          entity
        })

        if (status === 200) {
          this.canDeleteId = null
          this.unSaveContent = null

          this.$notify({
            title: `${this.name} Saved!`,
            context: 'positive'
          })

          await this.reload()
        }
      } else {
        window.alert('Invalid Content')
      }
    },
    updateEntity ({ entity }) {
      this.unSaveContent = entity
    },
    selectEntity ({ entity }) {
      this.unSaveContent = entity

      if (entity && '_id' in entity) {
        this.canDeleteId = entity._id
      }
    },
    deleteEntity ({ entity }) {

    },
    updateQuery (query) {
      console.log('updateQuery', query)
      this.query = query
      this.$router.push({query})
      this.reload(query)
    }
  },
  mounted () {
    this.$store.dispatch('admin/registerContextActions', this.contextActions)
  },
  beforeDestroy () {
    this.$store.dispatch('admin/unregisterContextActions')
  }
}
</script>

<template>
  <div class="page-setting-index">
    <template v-if="status === 200 && schema && list">
      <component
        v-if="$hasCustomSetting(name)"
        ref="setting"
        :is="`CustomSetting_${name}`"
        :name="name"
        :query="query"
        :schema="schema"
        :list="list"
        @add="addEntity"
        @update="updateEntity"
        @select="selectEntity"
        @delete="deleteEntity"
        @query="updateQuery"
      ></component>
    </template>

    <template v-else>error</template>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.page-setting-index {
  width: 100%;
  height: 100%;
  background: var(--gradient-gray);

  .setting-content {
    &__section {
      max-width: 40rem;
      margin: 1rem auto;
      padding: 2rem;
      background-color: white;

      &-title {
        font-size: .875rem;
      }
    }

    &__group {
      display: flex;
      padding: 1rem 0;

      &-item {
        display: block;

        input + span {
          margin-left: 1rem;
        }
      }

      &-item + &-item {
        margin-left: 2rem;
      }
    }
  }
}
</style>