<script>
import dateFns from 'date-fns'
import _ from 'lodash'

export default {
  filters: {
    fNumber (v) {
      let s = v
      let t = 0
      let p = ['', 'K', 'M', 'G', 'T', 'P', 'E']

      while (s > 1000) {
        s = s / 1000
        t += 1
      }

      s = Math.ceil(s * 10) / 10

      return `${s}${p[t]}`
    },
    fTime (v) {
      let d = new Date(v)
      // let s = dateFns.getSeconds(d)
      // let m = dateFns.getMinutes(d)
      // let h = dateFns.getHours(d)

      return `${dateFns.getSeconds(d)}`
    }
  },
  data: () => ({
    queryMethod: 2,
    queryPeriods: {
      'Last Year': now => dateFns.addYears(now, -1),
      'Last 3 Months': now => dateFns.addMonths(now, -3),
      'Last 30 Days': now => dateFns.addMonths(now, -1),
      'Last 7 Days': now => dateFns.addWeeks(now, -1),
      'Last 24 Hours': now => dateFns.addDays(now, -1)
    },
    topTenBy: 0,
  }),
  computed: {
    queryAfter () {
      return Object.values(this.queryPeriods)[this.queryMethod](new Date()).getTime()
    },
    uvs () {
      return this.list.reduce((list, visitor) => {
        const idx = _.findIndex(list, { ip_addr: visitor.ip_addr })
        console.log('finding', idx)

        if (idx >= 0) {
          const ov = list[idx]
          ov.records = ov.records.concat(visitor.records)
        } else {
          list.push(visitor)
        }

        return list
      }, [])
    },
    pvs () {
      return this.list.reduce((list, { records }) => list.concat(records), [])
    },
    groupByPath () {
      function viewTime (record) {
        let enter = (new Date(record.time_enter)).getTime()
        let leave = record.time_leave ? (new Date(record.time_leave)).getTime() : enter + 1000
        console.log(enter, leave)
        return Math.min(leave - enter, 60 * 60 * 24)
      }

      return this.pvs.reduce((groups, record) => {
        if (record.path in groups) {
          const group = groups[record.path]
          console.log('time', group.avgTime, group.records.length, viewTime(record))
          group.avgTime = (group.avgTime * group.records.length + viewTime(record)) / (group.records.length + 1)
          group.records.push(record)
        } else {
          groups[record.path] = { 
            title: record.title,
            path: record.path,
            avgTime: viewTime(record),
            records: [record]
          }
        }

        return groups
      }, {})
    },
    topTenPages () {
      if (this.topTenBy === 0) {
        return Object.values(this.groupByPath).sort((a, b) => b.records.length - a.records.length).slice(0, 10)
      } else if (this.topTenBy === 1) {
        return Object.values(this.groupByPath).sort((a, b) => b.avgTime - a.avgTime)
      }
      // .map(g => {
      //   g['avgTime'] = g.records.reduce((sum, r) => {
      //     const enter = (new Date(r.time_enter)).getTime()
      //     const leave = r.time_leave ? (new Date(r.time_leave)).getTime() : enter + 1
      //     return sum + Math.min(leave - enter, 60 * 60 * 24)
      //   }, 0) / g.records.length

      //   return g
      // })
    }
  },
  watch: {
    queryAfter (v) {
      this.onQueryUpdate({
        'time.after': v
      })
    }
  },
  methods: {
    onQueryPeriods (idx) {
      // const m = Object.values(this.queryPeriods)[idx]
      this.queryMethod = idx
      const m = Object.values(this.queryPeriods)[idx]
      console.log(new Date(), m(new Date()))
    }
  },
  mounted () {
    this.onQueryUpdate({
      'time.after': this.queryAfter,
    })
  }
}
</script>

<template>
  <SDBox 
    class="visitor-index setting-content"
    embeded
  >
    <SDBar
      slot="header"
      class="visitor-index__periods"
    >
      <SDSegmentSwitch
        class="visitor-index__period-switch"
        :segments="Object.keys(queryPeriods)"
        :default="queryMethod"
        size="l"
      >
        <button 
          slot-scope="{ item, idx, active }"
          class="btn btn--bar btn--gray"
          :class="{
            'btn--highlight': active
          }"
          @click="onQueryPeriods(idx)"
        >
          <h6>{{ item }}</h6>
        </button>
      </SDSegmentSwitch>
    </SDBar>

    <section class="setting-content__section">
      <SDBar
        size="auto"
      >
        <ul class="flow visitor-summarys">
          <div class="visitor-summary">
            <h6 class="visitor-summary__title">Unique Visitors</h6>
            <h1 class="visitor-summary__value">{{ uvs.length | fNumber }}</h1>
          </div>
          <div class="visitor-summary">
            <h6 class="visitor-summary__title">Window Sessions</h6>
            <h1 class="visitor-summary__value">{{ list.length | fNumber }}</h1>
          </div>
          <div class="visitor-summary">
            <h6 class="visitor-summary__title">Page Views</h6>
            <h1 class="visitor-summary__value">{{ pvs.length | fNumber }}</h1>
          </div>
        </ul>
      </SDBar>
      
    </section>

    <!-- <section class="setting-content__section">
      <h6>Page Views</h6>
      <h1>{{pvs.length}}</h1>
    </section> -->

    <section class="setting-content__section">
      <SDBar justify="between">
        <h5>Most Viewed 10 Pages</h5>

        <SDSegmentSwitch
          :segments="['View', 'Time']"
          :default="topTenBy"
          @switch="topTenBy = $event.index"
        >
          <button
            slot-scope="{ item, active }"
            class="btn btn--bar"
            :class="{
              'btn--gray': !active,
              'btn--active': active
            }"
          >
            <h6>By {{item}}</h6>
          </button>
        </SDSegmentSwitch>
      </SDBar>

      <ul class="list list--striped top-ten-list">
        <li
          class="top-ten-page"
          v-for="page in topTenPages"
          :key="page.path"
        >
          <SDBar
            justify="left"
            size="l"
          >
            <header>
              <h5 class="top-ten-page__title">{{page.title}}</h5>
              <h6 class="top-ten-page__sub-title">
                <a :href="page.path" target="__black">{{page.path}}</a>
              </h6>
            </header>


            <h2 v-if="topTenBy === 0" slot="right" class="top-ten-page__caption">{{page.records.length}}</h2>

            <h3 v-if="topTenBy === 1"  slot="right" class="top-ten-page__caption">{{ page.avgTime | fTime }}<sup> sec</sup></h3>
          </SDBar>
        </li>
      </ul>
      <!-- <section 
        class="top-ten-page"
        v-for="page in topTenPages"
        :key="page[0].path"
      >
        
        <div class="top-ten-page__bar">
          <progress :value="page.length" :max="topTenPages[0].length"></progress>
        </div>
      </section> -->
    </section>

    <!-- <section 
      v-for="(visitor, idx) in list"
      :key="idx"
      class="setting-content__section"
    >
      {{visitor}}
    </section> -->

  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.visitor-index {
  &__periods {
    background: #fafafa;
  }
}

ul.visitor-summarys {
  margin: 0 -2rem;
  flex: 1;
  padding: 0;
}

.visitor-summary {
  flex: 1;
  padding: 0 2rem;

  & + & {
    /* margin: 1rem; */
    /* padding: 1rem; */
    border-left: 1px solid var(--color-border);
  }

  &__value {
    color: var(--color-highlight);
    text-align: center;
  }
}

.top-ten-list {
  margin: 1rem -2rem;

  .top-ten-page {
    padding: 0 2rem;

    &__sub-title {
      font-weight: normal;
      opacity: .4;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__caption {
      color: var(--color-highlight);

      sup {
        font-size: .75rem;
        color: black;
        opacity: .4;
      }
    }
  }
}
</style>