<script>
import FCEntityProject from '~/components/FCEntityProject'
// import EntityObject from '~~/components/EntityObject'
import ProjectInfo from './projectInfo.vue'
import markdownIt from 'markdown-it'

const md = markdownIt({
  breaks: true
})

export default {
  components: {
    FCEntityProject, ProjectInfo
  },
  props: {
    // value: Object,
    // schema: Object,
    path: Array
  },
  data: () => ({
    showEditor: true,
    showEditorSection: 'summary',
    showContentLang: '中文'
  }),
  computed: {
    contentZh () {
      return md.render(this.value.content.zh.text || '')
    },
    contentEn () {
      return md.render(this.value.content.en.text || '')
    }
  },
  methods: {
    addGroup () {
      this.value.infos.push({
        title_zh: '',
        title_en: '',
        info_zh: [],
        info_en: []
      })
    },
    deleteGroup (idx) {
      const newArr = this.value.infos.slice(0, idx).concat(this.value.infos.slice(idx + 1))
      this.$set(this.inputValue, 'infos', newArr)
    }
  },
  mounted () {
  }
}
</script>

<template>
  <div class="editor editor-project">
    <SDBox class="editor-project__container" embeded style="transform: scale(1)">
      <FCEntityProject
        class="editor-project__display"
        :covers="value.covers || []"
        :titleZh="value.title ? value.title.zh : ''"
        :titleEn="value.title.en ? value.title.en : ''"
        :year="value.year || 2000"
        :contentZh="contentZh || ''"
        :contentEn="contentEn || ''"
        :infos="value.infos || []"
        :tags="value.tags || []"
        :gallery="value.gallery || []"
        :achieve="value.achieve || false"
      ></FCEntityProject>
      <!-- <iframe :src="`http://localhost:3000/achieve/p/${value._id}`" width="100%" height="100%"></iframe> -->
    </SDBox>

    <button
      v-if="!showEditor"
      class="btn btn--neutral editor-project__show-editor"
      @click="showEditor = true"
    >
      <h3 style="transform: rotate(90deg)">✎</h3>
    </button>

    <SDBox 
      v-if="showEditor"
      class="editor-project__editor"
    >
      <SDBar
        slot="header"
      >
        <SDSegmentSwitch
          class="editor-project__section-switch"
          :segments="['summary', 'content', 'info', 'gallery']"
          @switch="showEditorSection = $event.name"
        >
          <button 
            slot-scope="{ item, idx, active }"
            v-bem:btn="{
              bar: true,
              active,
              gray: !active
            }"
          >
            <h6>{{item}}</h6>
          </button>
        </SDSegmentSwitch>

        <button
          slot="right"
          class="btn btn--bar"
          @click="showEditor = false"
        >
          <span style="transform: rotate(90deg)">⇱</span>
        </button>
      </SDBar>

      <div class="editor-project__editor-content">
        <section v-if="showEditorSection === 'summary'">
          <EntityEditorBoolean
            :path="['achieve']"
            schemaName="achieve"
            :schema="schema.achieve"
            v-model="inputValue.achieve"
          ></EntityEditorBoolean>
          <EntityEditorString
            key="titlezh"
            :schema="schema.title.zh"
            v-model="inputValue.title.zh"
          ></EntityEditorString>
          <EntityEditorString
            key="titleen"
            :schema="schema.title.en"
            v-model="inputValue.title.en"
          ></EntityEditorString>
          <EntityEditorNumber
            :schema="schema.year"
            v-model="inputValue.year"
          ></EntityEditorNumber>
          <EntityEditorString
            :schema="schema.location.zh"
            v-model="inputValue.location.zh"
          ></EntityEditorString>
          <EntityEditorString
            :schema="schema.location.en"
            v-model="inputValue.location.en"
          ></EntityEditorString>
          <!-- <EntityEditorRefWrapper
            :schema="schema.cover"
            v-model="inputValue.cover"
          ></EntityEditorRefWrapper> -->
          <EntityEditorArray
            key="tags"
            :schema="schema.tags"
            v-model="inputValue.tags"
          ></EntityEditorArray>
        </section>

        <SDBox 
          v-if="showEditorSection === 'content'"
          class="editor-project__content-section"
          embeded
        >
          <SDSegmentSwitch
            slot="header"
            class="editor-project__section-switch"
            :segments="['中文', 'English']"
            @switch="showContentLang = $event.name"
          >
            <button 
              slot-scope="{ item, idx, active }"
              v-bem:btn="{
                bar: true,
                active,
                gray: !active
              }"
            >
              <h6>{{item}}</h6>
            </button>
          </SDSegmentSwitch>

          <CustomEditor_md_article
            key="contentzh"
            v-if="showContentLang === '中文' && inputValue.content"
            :schema="schema.content.zh"
            v-model="inputValue.content.zh"
            default-view="md"
          ></CustomEditor_md_article>
          <CustomEditor_md_article
            key="contenten"
            v-if="showContentLang === 'English' && inputValue.content"
            :schema="schema.content.zh"
            v-model="inputValue.content.en"
            default-view="md"
          ></CustomEditor_md_article>
        </SDBox>


        <section v-if="showEditorSection === 'info'">
          <!-- <EntityEditorArray
            key="info"
            :schema="schema.infos"
            v-model="inputValue.infos"
          ></EntityEditorArray> -->

          <template v-for="(_, idx) in inputValue.infos">
            <ProjectInfo
              :key="idx"
              v-model="inputValue.infos[idx]"
              @delete="deleteGroup(idx)"
            ></ProjectInfo>
          </template>

          <button
            class="btn btn--block"
            @click="addGroup"
          >
            <h4>+ Add Group</h4>
          </button>
        </section>

        <section v-if="showEditorSection === 'gallery'">
          <EntityEditorArray
            key="covers"
            :schema="schema.covers"
            v-model="inputValue.covers"
          ></EntityEditorArray>
          <EntityEditorArray
            key="gallery"
            :schema="schema.gallery"
            v-model="inputValue.gallery"
          ></EntityEditorArray>
        </section>
      </div>
    </SDBox>
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.editor-project {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__show-editor {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    box-shadow: var(--shadow-menu);
  }

  &__editor {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    height: auto;
    /*padding: 1rem;*/
    border-left: 1px solid var(--color-border);
    /*background-color: rgba(255,255,255,.97);*/
    width: 30rem;
    max-width: 50vw;
    box-shadow: var(--shadow-modal);
  }

  &__section-switch {
    flex: initial;
    width: auto;
  }

  &__editor-content {
    height: 100%;

    & > section {
      padding: 1rem;
    }
  }

  &__content-section {
    height: 100%;
  }
}
</style>

