<script>
export default {

}
</script>

<template>
  <div 
    class="project-list-item"
    @click="selectSelf"
  >
    <h5 class="project-list-item__title project-list-item__title--zh">{{entity.title.zh}}</h5>
    <h6 class="project-list-item__title project-list-item__title--en">{{entity.title.en}}</h6>
    <img 
      v-if="entity.covers.length > 0"
      :src="`${entity.covers[0].url}?x-oss-process=image/resize,w_600`"
      :width="entity.covers[0].dimension.width"
      :height="entity.covers[0].dimension.height"
    >
    <h6 class="project-list-item__year">{{entity.year}}</h6>
    <h6 v-if="entity.achieve">Achieve</h6>
    <h6 v-else>Ongoing</h6>
    <CustomListItem_tag
      v-for="tag in entity.tags"
      :key="tag.name"
      :entity="tag"
    >
    </CustomListItem_tag>
  </div>
</template>

<style lang="postcss">
.project-list-item {
  img {
    width: 100%;
    height: auto;
  }

  &__title--en {
    font-style: italic;
    margin-bottom: .5rem;
  }

  &__year {
    margin-top: .5rem;
  }
}
</style>