<script>
export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    showLang: '中文'
  }),
  computed: {
    infoContent: {
      get () {
        return this.showLang === '中文' ? this.value.info_zh : this.value.info_en
      },
      set (v) {
        if (this.showLang === '中文') {
          this.$emit('input', Object.assign(this.value, { info_zh : v }))
        } else {
          this.$emit('input', Object.assign(this.value, { info_en : v }))
        }
      }
    }
  },
  methods: {
    addInfo () {
      this.infoContent.push({
        title: '',
        content: ''
      })
    },
    deleteInfo (idx) {
      this.infoContent = this.infoContent.slice(0, idx).concat(this.infoContent.slice(idx + 1))
    },
    focusContent (idx) {
      const v = this.infoContent[idx]
      if (v.title.match(/[\:\：\r\n]/) && v.content.length === 0) {
        const s = v.title.split(/\n/).map(ss => ss.split(/[\:\：]/))
        console.log('toContent', s.slice())
        const s1 = s.shift()
        v.title = s1[0].trim()
        v.content = s1[1].trim()

        if (s.length > 0) {
          s.forEach((ss, sidx) => {
            console.log('ss', ss)
            const newLine = { 
              title: ss[0].trim(), 
              content: ss[1].trim() 
            }
            console.log('newLines', newLine)
            this.newLine(idx + sidx + 1, newLine)
          })
        }
      }

      const $content = Array.from(this.$refs.list.querySelectorAll('.editor-project-info__item-info'))[idx]
      console.log($content)
      $content.focus()
    },
    newLine (idx, newLine = { title: '', content: '' }) {
      const v = this.infoContent[idx]
      // if (v.content.match(/[\n]/) && v.content.match(/[\:\：]/)) {
      //   const s = v.content.split(/[\n]/)
      //   console.log('s', s)
      //   // v.title = s[0].trim()
      //   v.content = s[0].trim()

      //   newLine.title = s[1].trim()
      // }

      this.infoContent = this.infoContent.slice(0, idx).concat(newLine, this.infoContent.slice(idx))
      this.$nextTick(() => {
        const $title = Array.from(this.$refs.list.querySelectorAll('.editor-project-info__item-title'))[idx]
        $title.focus()
      })
    },
    onPasteContent (ev, idx) {
      console.log('onPaste', ev)
    }
  }
}
</script>

<template>
  <SDBox class="editor-project-info">
    <SDBar
      slot="header"
      justify="left"
      size='l'
    >
      <input 
        class="editor-project-info__title"
        type="text"
        v-model="value.title_zh"
        placeholder="中文标题" 
      >
      <span class="editor-project-info__title-split">/</span>
      <input 
        class="editor-project-info__title"
        type="text"
        v-model="value.title_en"
        placeholder="英文标题" 
      >

      <button
        slot="right"
        class="btn btn--s btn--negative"
        @click="$emit('delete')"
      >
        <h4>-</h4>
      </button>
    </SDBar>

    <SDSegmentSwitch
      :segments="['中文', 'English']"
      @switch="showLang = $event.name"
    >
      <button 
        slot-scope="{ item, idx, active }"
        v-bem:btn="{
          bar: true,
          active,
          gray: !active
        }"
      >
        <h6>{{item}}</h6>
      </button>
    </SDSegmentSwitch>

    <section>
      <ul 
        ref="list"
        class="list list--striped"
      >
        <li 
          class="editor-project-info__item"
          v-for="(item, idx) in infoContent"
          :key="idx"
        >
          <SDBox embeded>
            <SDBar
              slot="header"
              justify="left"
            >
              <textarea 
                class="editor-project-info__item-title"
                type="text"
                v-model="item.title"
                placeholder="title" 
                @keydown.prevent.stop.enter="focusContent(idx)"
                @onpaste="onPasteContent($event, idx)"
                row="1"
              ></textarea>

              <button
                slot="right"
                class="btn btn--s btn--negative editor-project-info__item-del"
                @click="deleteInfo(idx)"
              >
                <h4>-</h4>
              </button>
            </SDBar>
            <textarea
              class="editor-project-info__item-info"
              v-model="item.content"
              placeholder="content"
              rows="4"
              @keydown.prevent.stop.enter="newLine(idx + 1)"
            ></textarea>
          </SDBox>
        </li>
        <li class="editor-project-info__item">
          <button
            slot="right"
            class="btn btn--block"
            @click="addInfo"
          >
            <h6>+ Add Info</h6>
          </button>
        </li>
      </ul>
    </section>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.editor-project-info {
  margin-bottom: 2rem;

  &__title {
    border: none;
    font-size: .75rem;
    outline: none;
    width: auto;

    &-split {
      margin: 0 .5rem;
    }
  }

  &__item {
    padding: 1rem .5rem;
    /*padding-bottom: 1rem;*/

    button&-del {
      display: none;
    }

    &:hover {
      .editor-project-info__item-del {
        display: block;
      }
    }
  }

    

  &__item-title {
    /* display: block; */
    flex: 1;
    border: none;
    font-size: .75rem;
    outline: none;
    font-weight: bolder;
    padding: 0;
    margin-right: 2rem;
    height: 3rem;
    line-height: 3rem;
    resize: none;
    background-color: transparent;
    /* width: 100%; */
    /* border-bottom: 1px solid var(--color-border); */
  }

  &__item-info {
    display: block;
    padding: 1rem;
    border: none;
    width: 100%;
    font-size: .9375rem;
    outline: none;
    background-color: transparent;
  }
}
</style>