<script>
export default {
  props: {
    name: String,
    query: Object,
    schema: Object,
    list: Array
  },
  data: () => ({
    item: null
  }),
  computed: {
    currentUser () {
      return this.$store.state.auth.user
    },
    canEdit () {
      return this.currentUser.role < 2
    }
  },
  watch: {
    item: {
      deep: true,
      handler (v, ov) {
        if (ov) {
          // this.$emit('edit', v)
          this.onChildUpdate(v)
        }
      }
    }
  },
  methods: {
    checkValid () {
      console.log(this.item.hostname.length, this.item.hostname.length > 4)
      return this.item.hostname.length > 3
    }
  },
  mounted () {
    if (this.list.length === 0) {
      this.list.push({ hostname: 'urms' })
    }

    this.item =  this.list[0]
  }
}
</script>

<template>
  <div
    class="site-info-setting"
    embeded
  >
    <SDBox 
      class="setting-content"
      embeded
    >
      <section 
        v-if="item"
        class="setting-content__section"
      >
        <EntityEditorString
          title="hostname"
          :schema="schema.hostname"
          v-model="item.hostname"
          :disabled="!canEdit"
        ></EntityEditorString>
      </section>
      <section 
        v-if="item"
        class="setting-content__section"
      >
        <EntityEditorString
          title="language"
          :schema="schema.language"
          v-model="item.language"
          :disabled="!canEdit"
        ></EntityEditorString>
      </section>
    </SDBox>
  </div>
</template>