<script>
export default {
  data: () => ({
    item: null
  }),
  computed: {
    currentUser () {
      return this.$store.state.auth.user
    },
    canEdit () {
      return this.currentUser.role < 2
    }
  },
  watch: {
    item: {
      deep: true,
      handler (v, ov) {
        if (ov) {
          this.onChildUpdate(v)
        }
      }
    }
  },
  methods: {
    checkValid () {
      console.log(this.item.hostname.length, this.item.hostname.length > 4)
      return this.item.hostname.length > 3
    }
  },
  mounted () {
    if (this.list.length === 0) {
      this.list.push({
        aqi: {
          expiration: 60 * 60 * 1000,
          value: 0,
          last_updated: null
        }
      })
    }

    this.item = this.list[0]
  }
}
</script>

<template>
<div class="client-infos-index">
  <SDBox
    class="client-info client-info--api"
    embeded
  > 
    <section
      v-if="item"
      class="setting-content__section"
    >
      <EntityEditorNumber
        title="aqi"
        :schema="schema.aqi.value"
        v-model="item.aqi.value"
        disabled
      ></EntityEditorNumber>
      <!-- <section>
        <h6>Last Updated</h6>
        <p>{{ item.aqi.last_updated }}</p>
      </section> -->
      <EntityEditorString
        title="last updated"
        :schema="schema.aqi.last_updated"
        :value="item.aqi.last_updated"
        disabled
      ></EntityEditorString>

      <EntityEditorNumber
        title="expiration"
        :schema="schema.aqi.expiration"
        v-model="item.aqi.expiration"
        :disabled="!canEdit"
      ></EntityEditorNumber>
    </section>
  </SDBox>
</div>
</template>

<style lang="postcss">
.client-infos-index {

}
</style>