<script>
export default {
  props: {
    name: String,
    query: Object,
    schema: Object,
    list: Array
  },
  data: () => ({
    editUser: null,
    hasChanged: false
  }),
  computed: {
    levelEmoji () {
      return ['👻', '😎', '🤓']
    },
    existNames () {
      return this.list.map(user => user.name)
    },
    currentUser () {
      return this.$store.state.auth.user
    },
    selectedUser () {
      const queryname = this.$route.query.name

      if (queryname) {
        const user = this.list.filter(user => user.name === queryname).slice().pop()

        if (user) {
          return this.list.filter(user => user.name === queryname).slice().pop()
        }
      }

      return null
    },
    canEdit () {
      if (this.selectedUser) {
        return this.currentUser.role < this.selectedUser.role || this.currentUser._id === this.selectedUser._id
      }

      return false
    // },
    // hasChanged () {
    //   if (this.selectedUser) {
    //     return this.selectedUser.name !== this.editUser.name ||
    //            this.selectedUser.pass !== this.editUser.pass ||
    //            this.selectedUser.role !== this.editUser.role
    //   }

    //   return false
    }
  },
  watch: {
    selectedUser (user, oldUser) {
      if (user) {
        this.editUser = Object.assign({}, user)

        if (this.currentUser.role < user.role) {

          this.onChildSelect(user)
          // this.$emit('candel', user._id)
        } else {

          this.onChildSelect(null)
          // this.$emit('candel', null)
        }
      } else {
        this.editUser = null
      }
    },
    editUser: {
      deep: true,
      handler (v, ov) {
        console.log(v, ov)
        if (v && ov && v._id === ov._id) {
          // this.$emit('edit', v)

          this.onChildUpdate(v)
          this.hasChanged = true
        }
      }
    }
  },
  methods: {
    async addUser () {
      let name = window.prompt('Give a username')
      
      if (name !== null) {
        console.log(name)
        while (name.length < 4 || this.existNames.indexOf(name) !== -1) {
          console.log('invalid', name)
          name = window.prompt('Invalid username, try another one', name)
        }

        let pass = window.prompt('Input password')

        if (pass !== null) {
          while (pass.length < 6) {
            pass = window.prompt('Invalid password, password must be more than 6 charactors')
          }

          let vpass = window.prompt('Input password again')

          if (vpass !== null) {
            while (vpass !== pass) {
              vpass = window.prompt('Incorrect password, input again')
            }

            const role = window.confirm(`Is ${name} Administrator?`) ? '1' : '2'

            this.onAddChild({
              name,
              pass,
              validatepass: vpass,
              role
            })

            // const { status, data } = await this.$store.dispatch('admin/saveContent', {
            //   name: this.name,
            //   id: null,
            //   entity: {
            //     name,
            //     pass,
            //     validatepass: vpass,
            //     role
            //   }
            // })

            // console.log(status, data)
            // if (status === 200) {
            //   console.log('success')
            //   this.$emit('update')
            // }
          }
        }
      }
    },
    checkValid () {
      return this.editUser.name &&
             this.editUser.name.length >= 4 && 
             this.editUser.validatepass &&
             this.editUser.validatepass.length >= 6 && 
             (
               this.editUser.pass ?
               this.editUser.pass.length >= 6 && 
               this.editUser.pass === this.editUser.confirmpass :
               true
             )
    },
    confirmDelete () {
      return this.currentUser.role < this.editUser.role && window.confirm(`Delete user ${this.editUser.name}?`)
    }
  }
}
</script>

<template>
  <SDBox
    class="user-setting"
    embeded
  >
    <SDBox
      slot="aside"
      class="user-setting__list"
      embeded
    >
      <ul class="list list-striped">
        <li 
          v-for="user in list"
          :key="user.name"
        >
          <nuxt-link 
            class="list__item list__item--link-exact user-setting__list-link"
            :to="{ query: { name: user.name } }"
          >
            <div>
              <h6>{{user.name}}</h6>
              <span class="user-setting__list-email">{{user.email}}</span>
            </div>
            <h3>{{levelEmoji[user.role]}}</h3>
          </nuxt-link>
        </li>
      </ul>

      <SDBar
        slot="footer"
      >
        <p
          slot="left"
          class="user-setting__user-count"
        >{{list.length}} Users</p>

        <button
          slot="right"
          class="btn btn--bar"
          @click="addUser"
        >
          <h6>+ New User</h6>
        </button>
      </SDBar>
    </SDBox>

    <SDBox
      class="setting-content"
      embeded
    >
      <template v-if="editUser">
        <section
          v-if="hasChanged" 
          class="setting-content__section"
        >
          <EntityEditorString
            title="原密码"
            :schema="schema.pass"
            v-model="editUser.validatepass"
            password
            :disabled="editUser.name === 'nobody'"
          ></EntityEditorString>
        </section>

        <section class="setting-content__section">
          <EntityEditorString
            :schema="schema.name"
            v-model="editUser.name"
            :disabled="!canEdit"
          ></EntityEditorString>
        </section>

        <section
          v-if="canEdit" 
          class="setting-content__section"
        >
          <EntityEditorString
            title="新密码"
            :schema="schema.pass"
            v-model="editUser.pass"
            password
            :disabled="editUser.name === 'nobody'"
          ></EntityEditorString>
          <EntityEditorString
            v-if="editUser.pass !== selectedUser.pass"
            title="确认密码"
            :schema="schema.pass"
            v-model="editUser.confirmpass"
            password
            :disabled="editUser.name === 'nobody'"
          ></EntityEditorString>
        </section>

        <section 
          v-if="canEdit"
          class="setting-content__section"
        >
          <SDBar justify="left">
            <p class="setting-content__section-title">用户角色</p>
          </SDBar>
          <div class="setting-content__group">
            <label class="setting-content__group-item">
              <input 
                type="radio" 
                value="1" 
                v-model="editUser.role"
              >
              <span>Admin</span>
            </label>
            <label class="setting-content__group-item">
              <input 
                type="radio" 
                value="2" 
                v-model="editUser.role"
              >
              <span>Author</span>
            </label>
          </div>
        </section>
      </template>
    </SDBox>
  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.user-setting {
  width: 100%;
  height: 100%;

  &__user-count {
    font-size: .75rem;
    opacity: .4;
  }

  &__list {
    width: 15rem;
    background: white;

    ul.list {

      .user-setting__list-link {
        padding: 1rem;
        justify-content: space-between;
      }

      .user-setting__list-email {
        font-size: .75rem;
        opacity: .4;
      }
    }
  }
}
</style>
