<script>
export default {
  // props: {
  //   value: Object,
  //   schema: Object
  // },
  // mounted () {
  //   const defaults = {
  //     title: { en: '', zh: '' },
  //     content: { en: {}, zh: {} },
  //     gallery: []
  //   }

  //   Object.keys(defaults).forEach(key => {
  //     if (!(key in this.inputValue)) {
  //       this.$set(this.inputValue, key, defaults[key])
  //     }
  //   })
  // }
  data: () => ({
    showContentLang: 0,
    sectionTexs: ['预告／UPCOMING', '现在／NOW', '过去／PAST']
  }),
  computed: {
    showSection: {
      get () {
        return this.inputValue.section || 1
      },
      set (v) {
        this.$set(this.inputValue, 'section', v)
      }
    }
  }
}
</script>

<template>
  <SDBox
    v-bem:editor-news
    embeded
  >

    <SDBox
      slot="aside"
      class="editor-news__info"
      embeded
    >
      <ul class="list editor-news__info-list">
        <li>
          <SDSegmentSwitch
            :segments="sectionTexs"
            :default="showSection"
            @switch="showSection = $event.index"
          >
            <button 
              slot-scope="{ item, idx, active }"
              v-bem:btn="{
                bar: true,
                active,
                gray: !active
              }"
            >
              <h6>{{item}}</h6>
            </button>
          </SDSegmentSwitch>
          <hr>
        </li>

        <li>
          <EntityEditorString
            v-if="inputValue.title"
            key="titlezh"
            :schema="schema.title.zh"
            title="标题"
            v-model="inputValue.title.zh"
          ></EntityEditorString>
        </li>

        <li>
          <EntityEditorString
            key="titleen"
            title="标题"
            :schema="schema.title.en"
            v-model="inputValue.title.en"
          ></EntityEditorString>
        </li>

        <li>
          <EntityEditorArray
            key="gallery"
            :schema="schema.gallery"
            v-model="inputValue.gallery"
          ></EntityEditorArray>
        </li>
      </ul>
    </SDBox>

    <div class="editor-news__content">

      <CustomEditor_md_article
        v-if="showContentLang === 0"
        default-view="md"
        :schema="schema.content.zh"
        v-model="inputValue.content.zh"
      ></CustomEditor_md_article>
      <CustomEditor_md_article
        v-if="showContentLang === 1"
        default-view="md"
        :schema="schema.content.en"
        v-model="inputValue.content.en"
      ></CustomEditor_md_article>

      <SDSegmentSwitch
        class="editor-news__lang-switch"
        :segments="['中文', 'English']"
        @switch="showContentLang = $event.index"
      >
        <button 
          slot-scope="{ item, idx, active }"
          v-bem:btn="{
            bar: true,
            active,
            gray: !active
          }"
        >
          <h6>{{item}}</h6>
        </button>
      </SDSegmentSwitch>
    </div>

  </SDBox>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.editor-news {
  background-color: white;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__lang-switch {
    position: absolute;
    left: .25rem;
    top: .25rem;
  }

  &__info {
    width: 25rem;

    ul&-list {
      min-height: 100%;
      padding-top: 2rem;
      background-color: #fcfcfc;

      & > li {
        height: auto;
        padding: 1rem;
        /*padding: 1rem;*/
      }
    }

    hr {
      margin-top: .5rem;
      border: none;
      border-top: 1px solid var(--color-border);
    }

    & > .entity-editor {
      margin-top: 1rem;
    }
  }
}
</style>