<script>
export default {

}
</script>

<template>
  <div
    class="item-news"
    @click="selectSelf"
  >
    <span
      v-bem:item-news.section="{
        future: entity.section === 0,
        now: entity.section === 1,
        past: entity.section === 2
      }"
    >{{['预告／FUTURE', '现在／NOW', '过去／PAST'][entity.section]}}</span>
    <h6
      v-bem:item-news.title="{
        zh: true
      }"
    >{{entity.title.zh}}</h6>
    <h6
      v-bem:item-news.title="{
        en: true
      }"
    >{{entity.title.en}}</h6>
    <img 
      v-if="entity.gallery.length > 0" 
      :src="`${entity.gallery[0].url}?x-oss-process=image/resize,w_600`"
      :width="entity.gallery[0].dimension.width"
      :height="entity.gallery[0].dimension.width"
    >
  </div>
</template>

<style lang="postcss">
@import '~~/assets/styles/var.pcss';

.entity-list--news {
  background: #EBD6B5;
}

.item-news {
  /*background-color: white;*/
  background: #FCFCFC;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.10);
  border-radius: 1px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  &__section {
    /*display: block;*/
    /*width: auto;*/
    padding: .5rem 1rem;
    height: 2rem;
    line-height: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: var(--gradient-highlight);
    color: white;
    font-weight: bold;
    transform-origin: 0 0;
    transform: scale(.625);
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);

    &--now {
      background: var(--gradient-positive);
    }

    &--past {
      background: var(--gradient-neutral);
    }
  }

  img {
    max-width: 100%;
    max-height: 180px;
    width: auto;
    height: auto;
    align-self: flex-end;
  }

  &__title--en {
    font-style: italic;
    margin-top: .625rem;
    margin-bottom: 1.25rem;
  }
}
</style>